<div data-ng-controller="CommentListController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            {{lbl.comments}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
        </h2>
        <a href="#/content/filters" class="btn btn-success pull-left"><i class="fa fa-filter"></i>{{lbl.filters}}</a>

        <div class="btn-group pull-left">
            <button ng-click="processChecked('delete')" class="btn btn-danger" title="{{lbl.doDelete}}"><i class="fa fa-trash"></i></button>
            <button ng-if="filter === 'pnd' || filter === 'spm'" ng-click="deleteAll()" class="btn btn-danger btn-sm" title="{{lbl.deleteAll}}"><i class="fa fa-times"></i></button>
            <button ng-if="filter != 'spm' && filter != 'png'" ng-click="processChecked('unapprove')" class="btn btn-warning btn-sm" title="{{lbl.unapprove}}"><i class="fa fa-archive"></i></button>
            <button ng-if="filter != 'apr' && filter != 'png'" ng-click="processChecked('approve')" class="btn btn-success btn-sm" title="{{lbl.approve}}"><i class="fa fa-check"></i></button>
        </div>

        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
            <i class="fa fa-times-circle"></i>
        </div>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Show : ALL
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-filter">
                <li><a id="fltr-all" data-value="{{lbl.all}}" ng-click="gridFilter('IsApproved','all','all')">      {{lbl.all}}</a></li>
                <li><a id="fltr-pnd" data-value="{{lbl.pending}}" ng-click="gridFilter('IsPending',true,'pnd')">    {{lbl.pending}}</a></li>
                <li><a id="fltr-apr" data-value="{{lbl.approved}}" ng-click="gridFilter('IsApproved',true,'apr')">  {{lbl.approved}} </a></li>
                <li><a id="fltr-spm" data-value="{{lbl.spam}}" ng-click="gridFilter('IsSpam',true,'spm')">          {{lbl.spam}}</a></li>
                <li><a id="fltr-png" data-value="{{lbl.pingbacks}}" ng-click="gridFilter('Email','pingback','png')">{{lbl.pingbacks}}</a></li>
            </ul>
        </div>
    </div>
    <div class="content-inner">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th><input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" /></th>
                    <th class="hmax768">&nbsp;</th>
                    <th class="table-item-title table-item-w50"><a data-ng-click="sort_by('Title',$event)">{{lbl.title}}</a></th>
                    <th class="hmax480"><a data-ng-click="sort_by('DateCreated',$event)">{{lbl.createdOn}}</a></th>
                    <th class="hmax768"><a data-ng-click="sort_by('Author',$event)">{{lbl.author}}</a></th>
                    <th>{{lbl.approved}}</th>
                    <th class="hmax992">{{lbl.spam}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <td>
                        <input type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" data-ng-disabled="item.HasChildren || item.Email === 'pingback'" />
                    </td>
                    <td class="table-item-avatar hmax768"><img ng-src="{{item.Avatar}}" alt="{{item.Author}}" title="{{item.Author}}" /></td>
                    <td class="table-item-title">
                        <a title=" {{item.title}}" class="pull-left" target="_blank" href="{{item.RelativeLink}}"> <span class="text-ellipsis">{{item.Title}}</span></a>
                        <a title="{{item.Title}}" class="external-link pull-right" target="_blank" href="{{item.RelativeLink}}"> <i class="fa fa-external-link"></i> </a>
                    </td>
                    <td class="hmax480">{{item.DateCreated}}</td>
                    <td class="hmax768"><span class="text-ellipsis-sm text-ellipsis">{{item.Author}}</span></td>
                    <td><input type="checkbox" data-ng-model="item.IsApproved" data-ng-disabled="true"></td>
                    <td class="hmax992"><input type="checkbox" data-ng-model="item.IsSpam" data-ng-disabled="true"></td>
                </tr>
                <tr id="tr-spinner"><td colspan="7"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
            </tbody>
        </table>
        <div class="text-right pagination-wrapper" ng-if="items.length > itemsPerPage">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li ng-if="showPage(n, currentPage, pagedItems.length)" data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
