<div data-ng-controller="CommentListController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left"> <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            {{lbl.comments}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
        </h2>
        <div class="btn-group  pull-left">
            <button ng-click="processChecked('delete')" ng-disabled="itemsChecked() === false" class="btn btn-sm btn-danger" angular-tooltip tooltip="lbl.doDelete"><i class="fa fa-trash"></i></button>
            <button ng-if="filter === 'pnd' || filter === 'spm'" ng-click="deleteAll()" ng-disabled="itemsChecked() === false" class="btn btn-danger btn-sm" angular-tooltip tooltip="lbl.deleteAll"><i class="fa fa-times"></i></button>
            <button ng-if="filter != 'spm' && filter != 'png'" ng-click="processChecked('unapprove')" ng-disabled="itemsChecked() === false" class="btn btn-warning btn-sm" angular-tooltip tooltip="lbl.unapprove"><i class="fa fa-archive"></i></button>
            <button ng-if="filter != 'apr' && filter != 'png'" ng-click="processChecked('approve')" ng-disabled="itemsChecked() === false" class="btn btn-success btn-sm" angular-tooltip tooltip="lbl.approve"><i class="fa fa-check"></i></button>
        </div>
        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
            <i class="fa fa-times-circle"></i>
        </div>

        <div class="dropdown pull-right">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ALL
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-filter">
                <li><a id="fltr-all" data-value="{{lbl.all}}" ng-click="gridFilter('IsApproved','all','all')">      {{lbl.all}}</a></li>
                <li><a id="fltr-pnd" data-value="{{lbl.pending}}" ng-click="gridFilter('IsPending',true,'pnd')">    {{lbl.pending}}</a></li>
                <li><a id="fltr-apr" data-value="{{lbl.approved}}" ng-click="gridFilter('IsApproved',true,'apr')">  {{lbl.approved}} </a></li>
                <li><a id="fltr-spm" data-value="{{lbl.spam}}" ng-click="gridFilter('IsSpam',true,'spm')">          {{lbl.spam}}</a></li>
                <li><a id="fltr-png" data-value="{{lbl.pingbacks}}" ng-click="gridFilter('Email','pingback','png')">{{lbl.pingbacks}}</a></li>
            </ul>
        </div>
        <a href="#/content/filters" class="btn btn-success btn-sm pull-right"><i class="fa fa-filter"></i>{{lbl.filters}}</a>

    </div>
    <div class="content-inner">
        <table class="table table-item-comments">
            <thead>
                <tr>
                    <th class="item-checkbox"><input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" /></th>
                    <th class="item-avatar">&nbsp;</th>
                    <th class="item-title"><a data-ng-click="sort_by('Title',$event)">{{lbl.title}}</a></th>
                    <th class="item-date"><a data-ng-click="sort_by('DateCreated',$event)">{{lbl.createdOn}}</a></th>
                    <th class="item-author"><a data-ng-click="sort_by('Author',$event)">{{lbl.author}}</a></th>
                    <th class="item-state">{{lbl.approved}}</th>
                    <th class="item-state">{{lbl.spam}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <td class="item-checkbox">
                        <input type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" data-ng-disabled="item.HasChildren || item.Email === 'pingback'" />
                    </td>
                    <td class="item-avatar"><img ng-src="{{item.Avatar}}" alt="{{item.Author}}" title="{{item.Author}}" /></td>
                    <td class="item-title">
                        <a title="click to reply" target="_blank" href="{{item.RelativeLink}}"> {{item.Title}}</a>
                        <a title="click to view" class="external-link" target="_blank" href="{{item.RelativeLink}}"> <i class="fa fa-external-link"></i> </a>
                    </td>
                    <td class="item-date"><!--{{item.DateCreated}}-->2014/02/04</td>
                    <td class="item-author"><span>{{item.Author}}</span></td>
                    <td class="item-state"><input type="checkbox" data-ng-model="item.IsApproved" data-ng-disabled="true"></td>
                    <td class="item-state"><input type="checkbox" data-ng-model="item.IsSpam" data-ng-disabled="true"></td>
                </tr>
                <tr id="tr-spinner"><td colspan="7"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
            </tbody>
        </table>
        <div class="text-right pagination-wrapper" ng-if="items.length > itemsPerPage">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li ng-if="showPage(n, currentPage, pagedItems.length)" data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
