@using BlogEngine.Core
<div id="postnavigation">
    <a href="@Model.NextPostUrl" class="nav-next">@Model.NextPostTitle</a> |
    <a href="@Model.PreviousPostUrl" class="nav-prev">@Model.PreviousPostTitle</a>
</div>