html,  body,  div,  span,  applet,  object,  iframe, h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre, a,  abbr,  acronym,  address,  big,  cite,  code, del,  dfn,  em,  font,  img,  ins,  kbd,  q,  s,  samp, small,  strike,  strong,  sub,  sup,  tt,  var, b,  u,  i,  center, dl,  dt,  dd,  ol,  ul,  li, fieldset,  form,  label,  legend, table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td  {
    margin:  0;
    padding:  0;
    border:  0;
    outline:  0;
    font-size:  100%;
    vertical-align:  baseline;
    background:  transparent;
}
body  {
    line-height:  1;
}
ol,  ul  {
    list-style:  none;
}
blockquote,  q  {
    quotes:  none;
}
blockquote:before,  blockquote:after, q:before,  q:after  {
    content:  '';
    content:  none;
}
:focus  {
    outline:  0;
}
ins  {
    text-decoration:  none;
}
del  {
    text-decoration:  line-through;
}
a img  {
     border:  none;
 }
 a:link,  a:visited  {
    color:  #027ac6;
    text-decoration:  none;
}
a:hover  {
    color:  #0062a0;
    text-decoration:  underline;
}
a:active,  a.active  {
    color:  #5895be;
}
.sticky h2 a  {
    background:  #027AC6;
    padding:  10px;
    display:  block;
    color:  white;
}
.sticky h2 a:hover  {
    background:  transparent;
    padding:  10px;
    display:  block;
    color:  #027ac6;
}
body  {
    background:  #edf5fa;
    color:  #494949;
    font:  12px/170% Verdana,  Arial,  sans-serif;
    margin:  0;
    padding:  0;
}
body.sidebar-left#footer  {
    margin-left:  -210px;
}
body.sidebar-left #center  {
    margin-left:  -210px;
}
body.sidebar-left #squeeze  {
    margin-left:  210px;
}
body.sidebar-right #center  {
    margin-right:  -210px;
}
body.sidebar-right #footer  {
    margin-right:  -210px;
}
body.sidebar-right #squeeze  {
    margin-right:  210px;
}
body.sidebars #center  {
    margin:  0 -210px;
}
body.sidebars #footer  {
    margin:  0 -210px;
}
body.sidebars #squeeze  {
    margin:  0 210px;
}
dl  {
    margin:  0.5em 0 1em 1.5em;
}
dl.gallery-item  {
    margin:  0;
}
dl dd  {
    margin:  0 0 .5em 1.5em;
}
dl dt  {
}
h1  {
    font-size:  170%;
}
h1,  h2,  h3,  h4,  h5,  h6  {
    font-family:  Verdana,  Arial,  sans-serif;
    font-weight:  normal;
    margin:  0;
    padding:  0;
}
h2  {
    font-size:  160%;
    line-height:  130%;
}
h3  {
    font-size:  140%;
}
h4  {
    font-size:  130%;
}
h5  {
    font-size:  120%;
}
h6  {
    font-size:  110%;
}
hr  {
    background:  #5294c1;
    border:  none;
    height:  1px;
    margin:  0;
    padding:  0;
}
img,  a img  {
    border:  none;
}
input  {
    border: 1px solid #67AAF4;
    padding: 5px;
    overflow:  hidden;
    background-color: #fff;
    -moz-border-radius:  5px;
    border-radius:  5px;
}
p  {
    margin:  0.6em 0 1.2em;
    padding:  0;
}
textarea,  select  {
    border: 1px solid #67AAF4;
    padding: 5px;
    overflow:  auto;
     background-color: #fff;
    -moz-border-radius:  5px;
    border-radius:  5px;
}
textarea:focus,  input:focus  {
    border: 1px solid #0472EC;
}
.content ul, .text ul  {
    margin:  0.5em 0 1em;
    padding:  0;
}
.content ul li, .text ul li  {
    margin:  0.4em 0 0.4em 1.5em;
    list-style-image:  url("images/menu-leaf.gif");
}
.content ol, .text ol  {
    margin:  0.5em 1em 1em;
    padding:  0;
}
.content ol li, .text ol li  {
    margin:  0.4em 1em 0.4em 1.5em;
    list-style:  decimal;
}
.page-content ul  {
    margin:  0.5em 0 1em;
    padding:  0;
}
.page-content ul li  {
    margin:  0.4em 0 0.4em 1.5em;
    list-style-image:  url("images/menu-leaf.gif");
}
.page-content ol  {
    margin:  0.5em 1em 1em;
    padding:  0;
}
.page-content ol li  {
    margin:  0.4em 1em 0.4em 1.5em;
    list-style:  decimal;
}
ul,  quote,  code,  fieldset  {
    margin:  .5em 0;
}
#dropmenu,  #dropmenu ul  {
    margin: 0;
     padding: 0;
     float:  right;
     position: relative;
     z-index: 4}
#dropmenu a  {
    display: block;
     padding: 0.75em 0 0;
     color: #fff;
     background:  transparent url("images/bg-navigation-item.png") no-repeat 50% 0;
     margin:  0 1em;
}
#dropmenu a:hover  {
    background:  transparent url("images/bg-navigation-item-hover.png") no-repeat 50% 0;
     color:  #fff;
}
#dropmenu li  {
    float: left;
     position: relative;
}
#dropmenu ul  {
    position: absolute;
     display: none;
}
#dropmenu ul a  {
     background:  none;
}
#dropmenu li ul  {
     background:  none;
}
#dropmenu li ul a  {
    width: 12em;
     height: auto;
     float: left;
    background:  none;
    padding:  1px;
    margin:  0px;
}
#dropmenu li ul a:hover {
    height: auto;
     float: left;
    background:  none;
}
#dropmenu ul ul  {
    top: auto;
}
#dropmenu li ul ul  {
    left: 12em;
 }
#dropmenu li:hover ul {
    display: none;
     background:  none;
}
#dropmenu li:hover ul  {
    display: block;
     background:  none;
}
.nextprev  {
    margin-bottom:  60px;
    margin-top:  10px;
}
.alignleft  {
    float:  left;
}
.alignright  {
    float:  right;
}
#commentlist  {
    list-style:  none;
    margin:  1em 0 3em;
    padding:  0;
}
.comment p.author { margin-bottom: 0; }
.comment .comment-contents {
    padding: 1em 2em;
}
#commentlist .thread-alt > .comment-contents {
    background:  #edf5fa;
}
.comment .gravatar  {
    border:  1px dotted #ccc;
    float:  left;
    margin-right:  10px;
    padding:  2px;
    height:  32px;
    width:  32px;
}
.commentForm #addcomment { font-size: 140%; }
.comment cite  {
    font-weight:  bold;
}
#commentlist .comment .comment-replies  {
    list-style:  none;
    padding:  1em 0 0 2em;
}
.pinglist  {
    list-style:  none;
    margin:  1em 0 3em;
    padding:  0;
}
.pinglist li  {
    list-style:  none;
    padding:  0em 2em;
}
.menu  {
    list-style:  none;
    margin:  0;
    padding:  0;
}
.menu li li,  .item-list ul li,  li.leaf,  .links li  {
    background:  transparent url("images/menu-leaf.gif") no-repeat 0 .35em;
    list-style-image:  none;
    list-style-type:  none;
    padding:  0 0 .3em 13px;
}
.post  {
    margin-bottom:  2em;
    overflow:  hidden;
}
#header h1,  #header h1 a  {
    color:  #fff;
    font-size:  1.5em;
    font-weight:  normal;
    text-decoration:  none;
    text-shadow:  #1659ac 0px 1px 3px;
}
#header img  {
    padding:  5px;
}
#navigation  {
    background:  url("images/bg-navigation.png") repeat-x 50% 100%;
    height:  1em;
}
#s  {
    margin-bottom:  5px;
}
#wrapper  {
    background:  url("images/body.png") #edf5fa repeat-x 50% 0;
    height:  600px;
}
#wrapper #container  {
    margin:  0 auto;
    max-width:  1270px;
    padding:  0 20px;
}
#wrapper #container #center  {
    float:  left;
    width:  100%;
}
#wrapper #container #center #squeeze  {
    background:  url("images/bg-content.png") #fff repeat-x 50% 0;
}
#wrapper #container #center .right-corner  {
    background:  transparent url("images/bg-content-right.png") no-repeat 100% 0;
    left:  10px;
    position:  relative;
}
#wrapper #container #center .right-corner .left-corner  {
    background:  transparent url("images/bg-content-left.png") no-repeat 0 0;
    left:  -10px;
    margin-left:  -10px;
    min-height:  400px;
    padding:  60px 25px 5em 35px;
    position:  relative;
}
#wrapper #container #footer  {
    clear:  both;
    color:  #898989;
    float:  none;
    margin:  4em 0 -3em;
    text-align:  center;
}
#wrapper #container #header  {
    height:  80px;
}
#wrapper #container #header #logo-floater  {
    position:  absolute;
}
#headerh1,  #header h1 a:link,  #header h1 a:visited  {
    font-weight:  bold;
    line-height:  120px;
    position:  relative;
    white-space:  nowrap;
    z-index:  2;
}
#wrapper #container .sidebar  {
    float:  left;
    margin:  60px 0 5em;
    width:  208px;
    z-index:  2;
}
body #wrapper #container .sidebar  {
    position:  relative;
}
#sidebar-left div.menu {
    margin-right:  10px;
}
/*
#sidebar-left li  {
    margin-right:  10px;
}
*/
#sidebar-right div.menu  {
    margin-left:  20px;
}
/*
#sidebar-right ul  {
    margin-left:  20px;
}
*/
#sidebar-right li ul  {
    margin-left:  0;
}
.sidebar ul  {
    margin-left:  0;
    padding:  0;
}
.content img  {
    margin-left:  10px;
}
#comment  {
    /* width:  400px; */
}
img.centered,  img.aligncenter  {
    display:  block;
    margin-left:  auto;
    margin-right:  auto;
}
img.alignright  {
    float:  right;
    padding:  4px;
    margin:  0 0 2px 7px;
    display:  inline;
}
img.alignleft  {
    float:  left;
    padding:  4px;
    margin:  0 7px 2px 0;
    display:  inline;
}
.aligncenter,  div.aligncenter  {
    display:  block;
    margin-left:  auto;
    margin-right:  auto;
}
.wp-caption  {
    border:  1px solid #ddd;
    text-align:  center;
    background-color:  #f3f3f3;
    padding-top:  4px;
    margin:  10px;
    -moz-border-radius:  3px;
    border-radius:  3px;
}
.wp-caption img  {
    margin:  0;
    padding:  0;
    border:  0 none;
}
.wp-caption p.wp-caption-text  {
    font-size:  11px;
    line-height:  17px;
    padding:  0 4px 5px;
    margin:  0;
}
.meta  {
    clear:  both;
    background-color:  #EDF4F9;
}
.post .bottom .ratingcontainer { margin: 0 0 0 auto; }
.post .bottom .rating { margin: 0; }
.post .bottom .rating p { position: inherit; float: right; margin: 0; }
.post .bottom .star-rating { float: right; margin: 4px 4px 0 0; }
.meta .bookmarks { float: right; }
.post .bottom .categories { margin-bottom: 0; clear: right; }
.post .bottom .tags { margin-top: 0; }
#relatedPosts p { font-size: 140%; margin: 0 0 0.5em 0; }
#relatedPosts div { margin: 0 0 6px 0; }
#relatedPosts { margin: 0 0 2em 0; }
#relatedPosts span { display: block; margin: 0 0 0 16px; }
#newsletterform { width: 90%; margin-left: 0; }
.search-excerpt  {
    text-decoration:  underline;
}
blockquote  {
    font-family:  Verdana, Arial, sans-serif;
    font-style:  normal;
    border-width: 1px;
    border-style: solid;
    border-bottom-color: #aaa;
    border-right-color: #aaa;
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image:  url(images/blockquote.png);
    background-repeat:  no-repeat;
    background-position:  top right;
    margin:  5px 10px 5px 10px;
    padding:  5px 60px 5px 10px;
}
blockquote p  {
    margin:  0.5em;
    padding:  0;
}
.commentnumber  {
    font-family:  'Georgia',  'Times New Roman',  serif !important;
    font-style:  italic !important;
}
.comment .commentnumber  {
    float: right !important;
    font-size:  4.5em !important;
    margin: 0 !important;
    padding: 0 .5em .5em 0 !important;
    clear: right !important;
}
.comment .comment .comment .commentnumber  {
    font-size: 3.5em !important;
}
.comment .comment .comment .comment .commentnumber  {
    font-size: 3em !important;
}
.comment .thread-alt .commentnumber {
    color:  #ffffff !important;
}
.wp-post-image  {
    float:  left;
    padding:  0 3px 1px 0;
}
.wp-post-image img  {
    margin-left:  0px;
}
.post table,  .post th,  .post td  {
    border:  1px solid black;
    border-collapse:  none;
    border-spacing:  1;
}
.page_item ul li  {
    padding:  0 0 0 13px;
}

/*----------------------------
				Search page
----------------------------*/

#searchpage{
	margin-bottom: 30px;
}

#searchpage input#q{
	width: 300px;
}

#searchpage input#comment{
	clear: both;
}

.searchresult{
	margin-bottom: 20px;
}

.searchresult a{
	font-weight: bold;
}

.searchresult span.text{
	clear: both;
	display: block;
	margin: 3px 0;
}

.searchresult span.type{
	display: block;
}

.searchresult span.url{
	color: Gray;
}

.searchpage ul.paging{
 list-style-type: none;
 margin:0px;
 margin-bottom: 20px;
 padding:0px;
}

.searchpage ul.paging li{
 display: inline;
 border: 1px solid gray; 
 background: #f1f1f1;
 margin-right: 5px;
}

.searchpage ul.paging li a{
 padding: 5px 8px;
}

.searchpage ul.paging li.active{
 background: #f1f1f1;
 border: 1px solid black;
}

/*----------------------------
				Contact page
----------------------------*/

#contact{
	background : white;
	padding: 10px;
	border: 1px solid silver;
}

#contact h1{
	margin-top: 0;
}

#contact label{
	display: block;
	padding-top: 5px;	
}

#contact input.field{
	width: 200px;
}

#contact textarea{
	display: block;	
	overflow: auto;
	width: 75%;
	height: 150px;
	margin: 0;
}

/*----------------------------
					Archive
----------------------------*/

#archive {
	background-color: white;
	border: 1px solid silver;
	padding: 10px;
}

#archive h1 {
	margin: 0;
	border-bottom: 1px dashed silver;
	padding-bottom: 9px;
}

#archive h2 {
	border-bottom: 1px solid silver;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

#archive h2 img {
	margin-right: 3px;
}

#archive ul {
	list-style-type: square;
	margin: 0 10px;
	padding: 10px;
}

#archive ul li {
	margin-right: 20px;
}

#archive table{
	width: 100%;	
	border-collapse: collapse;
}

#archive table td, #archive table th{
	text-align:left;
}

#archive table td{
	text-align:left;
	border-bottom: 1px solid #D8D8D8;
	padding: 2px 0;
	font-size: 95%;
}

#archive .date{
	width: 70px;
}

#archive .comments{
	width: 70px;
	text-align: center;
}

#archive .rating{
	width: 70px;
	text-align: center;
}



/* nested comments */

.comment-replies {
	background: transparent url(../../Content/images/blog/reply-arrow.gif) no-repeat 25px 25px;
	padding: 0 0 0 15px;
	margin: 5px 0 0 0;
}

#commentlist #comment-form {
	border: solid 1px #ccc;
	background: #fff;
	padding: 10px;
	margin: 10px 0;
}

/*  Comment notification unsubscription  */
#commentNotificationUnsubscription {
	margin-bottom: 10px;
	color: Gray;
	background: #ffc;
	border: 1px solid silver;
	padding: 10px;
}

#commentNotificationUnsubscription h1 {
	margin: 0 auto 12px auto;
	padding: 0;
}

/* comment menu */
#commentMenu{
	padding: 0;
	margin:0;
	clear:both;
}

#commentMenu li{
	float:left;
	border:1px solid #67AAF4;
	border-bottom: transparent;
	margin:0;
	list-style:none;
	margin-right:5px;
	padding: 3px 8px;	
	cursor:pointer;
	position:relative;
	top: 2px;
	background:#d8d8d8;
}

#commentMenu li.selected{
	background:white;
	border-bottom:1px solid white;
}

.commentForm .bbcode {
    font-size:90%;
    float:left;
    position:relative;
    top:25px;
    left:340px;
    padding:3px;
}

.commentForm .bbcodeNoLivePreview {
	top: 0;
}
.comment .reply-to { float: right; }
#commentPreview .reply-to { display: none; }

.bbcode a {
    margin: 1px;
    padding: 1px 3px 1px 3px;
    background: #fff;
    border: 1px solid #67AAF4;
}

/* comment form */
.commentForm textarea {
	height: 150px;
	width: 100%;
	border: none;
	padding: 0;
}
#commentCompose, #commentPreview { clear: both; width: 420px; border: 1px solid #67AAF4; padding: 5px; border-radius: 0 5px 5px 5px; }
#commentPreview { width: 100%; padding: 0; }

.commentForm label {
	width: 80px;
	margin: 0 auto 0 5px;
	position: relative;
	top: 9px;
}
.commentForm label[for='cbNotify'] { position: inherit; top: 0; margin: 0; }

.commentForm input[type='text'], .commentForm select {
	width: 200px;
	margin: 6px 0;
	clear: left;
	float: left;
	display: block;
}
.commentForm select { width: 212px; }
.commentForm br { clear: both; }
.commentForm #cbNotify { border: none; }

#comment-form #status { font-weight: bold; }
#comment-form .success { color: Green; }

.content #blogroll li img, .content #categorylist li img
    { margin: 0 4px 0 0; }

#searchbox input[type='text'] { float: left; width: 55%; margin: 0; }
#searchbox input[type='button'] { padding: 5px 4px; margin: 0 auto 0 4px; float: left; }
#searchbox br { clear: both; }
#searchbox #searchcomments, #searchbox label { display: none; }
div.widget.search > br { display: none; }
div.widget { margin-bottom: 18px; }

#PostPager li { border: 1px solid #67AAF4; }

