<div data-ng-controller="SettingsController">
    <form id="form" action="">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
                {{lbl.advanced}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="save()" class="btn btn-success btn-header pull-left" type="button"><i class="fa fa-check"></i>{{lbl.save}}</button>
        </div>
        <div class="content-inner">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtName">{{lbl.handleWwwSubdomain}}</label>
                    <div class="col-md-8">
                        <div class="radio">
                            <label>
                                <input type="radio" value="remove" data-ng-model="settings.HandleWwwSubdomain" />
                                {{lbl.remove}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="add" data-ng-model="settings.HandleWwwSubdomain" />
                                {{lbl.enforce}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" value="" data-ng-model="settings.HandleWwwSubdomain" />
                                {{lbl.ignore}}
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnableHttpCompression" data-ng-model="settings.EnableHttpCompression" />
                                {{lbl.enableHttpCompression}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckCompressWebResource" data-ng-model="settings.CompressWebResource" />
                                {{lbl.compressWebResource}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnableOpenSearch" data-ng-model="settings.EnableOpenSearch" />
                                {{lbl.enableOpenSearch}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckShowPostNavigation" data-ng-model="settings.ShowPostNavigation" />
                                {{lbl.showPostNavigation}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnablePasswordReset" data-ng-model="settings.EnablePasswordReset" />
                                {{lbl.enablePasswordReset}}
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <h4>{{lbl.tools}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <p>{{lbl.selectSavedBlogMlFle}}</p>
                        <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
                        <hr />
                        <p>{{lbl.exportIntoBlogML}}</p>
                        <button class="btn btn-primary btn-sm" data-ng-click="exportToXml()" type="button">{{lbl.export}}</button>
                        <hr />
                        <p ng-bind-html="lbl.runClickOnceApplicationToImport"></p>
                        <button class="btn btn-primary btn-sm" style="margin-top: 5px" ng-click="importClickOnce()" type="button">{{lbl.importWithClickOnce}}</button>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <h4>{{lbl.comments}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{lbl.enableTrackbacks}}</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnablePingBackSend" data-ng-model="settings.EnablePingBackSend" />
                                {{lbl.send}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnablePingBackReceive" data-ng-model="settings.EnablePingBackReceive" />
                                {{lbl.receive}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">{{lbl.enablePingbacks}}</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnableTrackBackSend" data-ng-model="settings.EnableTrackBackSend" />
                                {{lbl.send}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckEnableTrackBackReceive" data-ng-model="settings.EnableTrackBackReceive" />
                                {{lbl.receive}}
                            </label>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <h4>  {{lbl.securitySettings}}</h4>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckAllowRemoteFileDownloads" data-ng-model="settings.AllowServerToDownloadRemoteFiles" />
                                {{lbl.allowRemoteFileDownloads}}
                            </label>
                        </div>
                        <label class="control-label" for="txtRemoteFileDownloadTimeout">{{lbl.remoteTimeout}}</label>
                        <input type="text" class=" form-control" id="txtRemoteFileDownloadTimeout" name="txtRemoteFileDownloadTimeout" data-ng-model="settings.RemoteFileDownloadTimeout" data-ng-disabled="settings.AllowServerToDownloadRemoteFiles == false" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4"></label>
                    <div class="col-md-8">
                        <label class="control-label" for="txtRemoteMaxFileSize">{{lbl.maximumRemoteFileSize}}</label>
                        <input type="text" class=" form-control" id="txtRemoteMaxFileSize" name="txtRemoteMaxFileSize" data-ng-model="settings.RemoteMaxFileSize" data-ng-disabled="settings.AllowServerToDownloadRemoteFiles == false" />
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
