<div data-ng-controller="SettingsController">
    <form id="form" action="">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.comments}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="save()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-save"></i>{{lbl.save}}</button>
        </div>
        <div class="content-inner">
            <div class="row">
                <div class="col col-sm-6">
                    <div class="well">
                        <h4>{{lbl.basic}}</h4>
                        <hr />
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckIsCommentsEnabled" data-ng-model="settings.IsCommentsEnabled" />
                                        {{lbl.enableComments}}
                                    </label>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckEnableCommentsModeration" data-ng-model="settings.EnableCommentsModeration" data-ng-disabled="settings.IsCommentsEnabled == false" />
                                        {{lbl.enableCommentsModeration}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label class="control-label" style="line-height: 32px" for="closeDaysOptions">{{lbl.closeCommetsAfter}}</label>
                            </div>
                            <div class="col col-md-6">
                                <select class="form-control" id="closeDaysOptions" data-ng-options="o.OptionName for o in closeDaysOptions" data-ng-model="selCloseDays" data-ng-disabled="settings.IsCommentsEnabled == false"></select>
                            </div>
                        </div>
                        <h4>{{lbl.avatars}}</h4>
                        <hr />
                        <div class="row">
                            <div class="col col-sm-4">
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/monsterid.png" class="img-thumbnail" alt="MonsterID" />
                                        <input type="radio" value="monsterid" data-ng-model="settings.Avatar" />
                                        MonsterID
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/wavatar.png" class="img-thumbnail" alt="Wavatar" />
                                        <input type="radio" value="wavatar" data-ng-model="settings.Avatar" />
                                        Wavatar
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/identicon.png" class="img-thumbnail" alt="Identicon" />
                                        <input type="radio" value="identicon" data-ng-model="settings.Avatar" />
                                        Identicon
                                    </label>
                                </div>
                            </div>
                            <div class="col col-sm-4">
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/retro.png" class="img-thumbnail" alt="Retro" />
                                        <input type="radio" value="retro" data-ng-model="settings.Avatar" />
                                        Retro
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/mm.png" class="img-thumbnail" alt="MysteryMan" />
                                        <input type="radio" value="mm" data-ng-model="settings.Avatar" />
                                        MysteryMan
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/noavatar.png" class="img-thumbnail" alt="None" />
                                        <input type="radio" value="none" data-ng-model="settings.Avatar" />
                                        {{lbl.none}}
                                    </label>
                                </div>
                            </div>
                            <div class="col col-sm-4">
                                <label>
                                    <img src="{{SiteVars.RelativeWebRoot}}content/images/blog/avatars/blank.png" class="img-thumbnail" alt="Blank" />
                                    <input type="radio" value="blank" data-ng-model="settings.Avatar" />
                                    Blank
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="well">
                        <h4>{{lbl.disqusSettings}}</h4>
                        <hr />
                        <div class="alert alert-info" data-ng-bind-html="lbl.disqusSignupMessage"></div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ckUseDisqus" data-ng-model="settings.UseDisqus" data-ng-disabled="settings.IsCommentsEnabled == false" />
                                {{lbl.useDisqusAsCommentProvider}}
                            </label>
                        </div>
                        <div class="row">
                            <div class="col col-lg-6">
                                <label class="control-label" style="line-height: 32px" for="txtDisqusWebsiteName">{{lbl.disqusWebsiteName}}</label>
                            </div>
                            <div class="col col-lg-6">
                                <input type="text" class="form-control ltr-dir" id="txtDisqusWebsiteName" data-ng-model="settings.DisqusWebsiteName" data-ng-disabled="settings.UseDisqus == false" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckDisqusDevMode" data-ng-model="settings.DisqusDevMode" data-ng-disabled="settings.UseDisqus == false" />
                                        {{lbl.developmentMode}}
                                    </label>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="cbDisqusAddToPages" data-ng-model="settings.DisqusAddCommentsToPages" data-ng-disabled="settings.UseDisqus == false" />
                                        {{lbl.addCommentsToPages}}
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
