@using System.Web.Optimization
@using BlogEngine.Core
@{
    Layout = "~/admin/themes/standard/layout.cshtml";
    if (!Security.IsAuthorizedTo(Rights.EditOwnPosts))
    {
        Security.RedirectForUnauthorizedRequest();
    }
}
<div class="content" ng-controller="PostEditorController">
    <div class="page-header clearfix">
        <span ng-if="post.Id"><a href="{{post.RelativeLink}}" class="btn btn-success pull-left" target="_blank"><i class="fa fa-eye"></i> {{lbl.goToPost}}</a></span>
        <a ng-if="status() == 2" href="#" data-ng-click="save()" class="btn btn-primary pull-left"><i class="fa fa-save"></i>{{lbl.save}}</a>
        <a ng-if="status() < 2" href="#" data-ng-click="publish(true)" class="btn btn-success pull-left"><i class="fa fa-check"></i>{{lbl.publish}}</a>
        <span ng-if="status() < 2"><a href="#" ng-click="save()" class="btn btn-primary pull-left"><i class="fa fa-save"></i> {{lbl.save}}</a></span>
        <span ng-if="post.Id && post.IsPublished"><a href="#" class="btn btn-warning pull-left" ng-click="publish(false)"><i class="fa fa-undo"></i> {{lbl.unpublish}}</a></span>
        <a href="" onclick="window.history.back()" class="btn btn-default pull-left"><i class="fa fa-ban"></i>{{lbl.cancel}}</a>
        <span id="spinner" class="loaded btn-tabkey"><i class='fa fa-spinner fa-spin fa-lg'></i></span>
        <span id="spinner" class="loaded pull-left"><i class='fa fa-spinner fa-spin fa-large'></i></span>
    </div>
    <div class="content-inner newpost">

        <form id="form" action="">
            <div class="row">
                <div class="col col-md-9">
                    <div class="form-group">
                        <input type="text" id="txtTitle" name="txtTitle" title="Please enter title" placeholder="{{lbl.titleOfPost}}..." class="form-control newpost-title" data-ng-model="post.Title" />
                    </div>
                    @RenderPage(BlogConfig.DefaultEditor)


                </div>
                <div class="col col-md-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tag fa-sm"></i> {{lbl.tags}}
                        </div>
                        <div class="post-tags-selector">
                            <textarea id="postTags" class="form-control" style="width:100%;" placeholder="{{lbl.typeAndEnter}}..." rows="1"></textarea>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-folder"></i> {{lbl.categories}}
                        </div>
                        <ul class="list-group categories-list">
                            <li class="list-group-item" ng-repeat="cat in lookups.CategoryList">
                                <label>
                                    <input type="checkbox" id="cat-{{cat.OptionValue}}" data-ng-model="cat.IsSelected" />
                                    {{cat.OptionName}}
                                </label>
                            </li>
                        </ul>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#postmeta" aria-expanded="false" aria-controls="postmeta">
                                <i class="fa fa-file"></i> {{lbl.postMeta}}
                            </a>
                        </div>
                        <div id="postmeta" class="panel-collapse collapse" role="tabpanel" aria-labelledby="postmeta">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label" for="selAuthors">{{lbl.author}}</label>
                                    <select id="selAuthors" ng-disabled="usageScenario != 'multiusers'" class="form-control" data-ng-options="o.OptionName for o in lookups.AuthorList" data-ng-model="selectedAuthor"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtDate">{{lbl.datePublished}}</label>
                                    <input type="text" class="form-control dateFormatted" id="txtDate" name="txtDate" data-ng-model="post.DateCreated" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtSlug">{{lbl.slug}}</label>
                                    <input type="text" class="form-control" id="txtSlug" data-ng-model="post.Slug" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtExcerpt">{{lbl.description}}</label>
                                    <textarea class="form-control" id="txtExcerpt" data-ng-model="post.Description"> </textarea>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="ckEnableComments" data-ng-model="post.HasCommentsEnabled" />
                                            {{lbl.enableComments}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#customfil" aria-expanded="false" aria-controls="postmeta">
                                <i class="fa fa-cog"></i> {{lbl.customFields}}
                            </a>
                        </div>
                        <div id="customfil" class="panel-collapse collapse" role="tabpanel" aria-labelledby="customfil">

                            <div class="panel-body">
                                <a ng-disabled="post.Id === null || post.Id === ''" class="btn btn-success btn-block" id="btnCustomFields" ng-click="showCustom()" data-toggle="modal"><i class="fa fa-plus"></i>{{lbl.add}}</a>
                                <div id="frm-custom-edit" ng-if="customFields && customFields.length > 0" class="form-horizontal clearfix">
                                    <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
                                        <label class="control-label col-md-4">{{item.Key}}</label>
                                        <div class="col col-md-7">
                                            <input type="text" class="form-control" data-ng-model="item.Value" />
                                        </div>
                                        <div class="col col-md-1">
                                            <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@Scripts.Render("~/scripts/wysiwyg")
@{
    if (BlogConfig.DefaultEditor == "~/admin/editors/tinymce/editor.cshtml")
    {
        <script src="~/admin/editors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/editors/tinymce/editor.js"></script>
    }
}