@using System.Web.Optimization
@{
    Layout = "~/admin/themes/standard/layout.cshtml";
}
<div class="content">
    <div class="loader-wrapper" id="global-loading">
        <div class="loader"></div><span class="loader-text">Working...</span>

    </div>
    <div class="" ng-view="" id="ng-view"></div>
</div>
@Scripts.Render("~/scripts/blogadmin")