@using System.Web.Optimization
@{
    Layout = "~/admin/themes/standard/layout.cshtml";
}
<div class="content">
    <div class="page-header clearfix" id="global-loading" style="text-align: center">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw fa-spin"></i>
    </div>
    <div class="" ng-view="" id="ng-view"></div>
</div>
@Scripts.Render("~/scripts/blogadmin")