@{
    var x = "~/admin/themes/LTE/index.cshtml";
    Layout = x;
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
            <button class="btn btn-primary pull-right" type="submit">Submit</button>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-9 connectedSortable">
                <div class="box box-info">aaa</div>
            </section>
            <section class="col-lg-3 connectedSortable">
                <div class="box box-info">bbb</div>
            </section>
        </div>
    </section>
</div>
