//
.about-page {
    width: 50%;
    .about-section {
        margin-bottom: 50px;
    }

    .social-networks {
        margin-top: 40px;
    }

    .social-networks .fa-cube {
        line-height: 28px !important;
    }

    .panel-title {
        text-transform: capitalize;
    }
}
