.btn { padding: 0; font-size: 12px; letter-spacing: 1px; position: relative; color: #fff !important; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: none; cursor: pointer; text-transform: uppercase; }
.btn:active { -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset; -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset; box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none; }
.btn i { margin: 0 5px 0 0; }
.btn-link { color: #666 !important; text-decoration: none !important; }
.btn [class*="fa-angle-"] { font-size: 16px; }
.btn-default { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.btn { height: 35px; line-height: 35px; padding: 0 20px; font-size: 12px; }
.btn-sm { height: 30px; line-height: 30px; padding: 0 15px; font-size: 11px; }
.btn-lg { height: 40px; line-height: 40px; padding: 0 25px; font-size: 14px; }
.btn-default.btn { line-height: 33px; }
.btn-default.btn-sm { line-height: 28px; }
.btn-default.btn-lg { line-height: 38px; }

.btn-hasicon { padding-left: 52px; }
.btn-hasicon.btn-sm { padding-left: 42px; }
.btn-hasicon.btn-lg { padding-left: 62px; }

.btn-hasicon i { font-size: 14px; border-right: 1px solid rgba(0, 0, 0, 0.10); height: 100%; margin: 0; text-align: center; position: absolute; top: 0; left: 0; display: block; vertical-align: middle; }
.btn-hasicon i { width: 35px; line-height: 36px; }
.btn-hasicon.btn-sm i { width: 30px; line-height: 31px; }
.btn-hasicon.btn-lg i { width: 40px; line-height: 40px; }

.btn-default.btn-hasicon i { width: 34px; line-height: 34px; }
.btn-default.btn-hasicon.btn-sm i { width: 29px; line-height: 29px; }
.btn-default.btn-hasicon.btn-lg i { width: 39px; line-height: 39px; }

.btn-icon { padding: 0; width: 50px; margin: 0 1px 0 0; font-size: 14px; }
.btn-icon i { margin: 0; font-size: 16px; }
.btn-icon i { line-height: 36px; }
.btn-icon.btn-sm i { line-height: 30px; }
.btn-icon.btn-lg i { line-height: 40px; }

.btn-default.btn-icon i { line-height: 34px; }
.btn-default.btn-icon.btn-sm i { line-height: 28px; }
.btn-default.btn-icon.btn-lg i { line-height: 28px; }

.btn-default { background: #fff; color: #888 !important; border: 1px solid #ddd; }
.btn-default:hover,
.btn-default:focus { background: #fff !important; border-color: #c5c5c5 !important; }
.btn-default:active { background: #fff !important; }
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default.active[disabled], .btn-default.focus[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover { background: #fff !important; }

.btn-success, .btn-success:active, .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success.active[disabled], .btn-success.focus[disabled], .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover { background: #24b685 !important; }
.btn-success:hover,
.btn-success:focus { background: #1cac7b !important; }

.btn-danger, .btn-danger:active, .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger.active[disabled], .btn-danger.focus[disabled], .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover { background: #ea5a5a !important; }
.btn-danger:hover,
.btn-danger:focus { background: #dd4949 !important; }

.btn-warning, .btn-warning:active, .btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning.active[disabled], .btn-warning.focus[disabled], .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover { background: #f6bb42 !important; }
.btn-warning:hover,
.btn-warning:focus { background: #eaae34 !important; }

.btn-primary, .btn-primary:active, .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover { background: #23b1f7 !important; }
.btn-primary:hover,
.btn-primary:focus { background: #169fe2 !important; }

