
.modal-open .content { position: static; }
.modal-content { border-radius: 3px !important; border: none; }
.modal-header .close { position: relative; top: 3px; margin: 0; }
.modal-content .form-control { border-width: 1px; }
.modal-footer .btn:focus { outline: 1px dotted rgba(255, 255, 255, 0.36); }
.modal .modal-body { margin:0; padding:40px; max-height: 76%; overflow:hidden; overflow-y: auto; }

.modal {
    .modal-buttons {
        margin-top: 30px;

        .btn {
            float: left;
            margin-right: 10px;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .modal-header {
        padding: 20px 40px;
    }

    .modal-footer {
        text-align: left;
        padding: 20px 40px;
    }
}
