.modal {
    .modal-buttons {
        margin-top: 30px;

        .btn {
            float: left;
            margin-right: 10px;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .modal-header {
        padding: 0 40px;
        min-height: 60px;
        height: 60px;
        line-height: 60px;

        .modal-title {
            line-height: 62px;
            font-size: 18px;
        }

        .close {
            position: relative;
            margin: 0;
            width: 60px;
            height: 60px;
            line-height: 60px;
            outline: none !important;

            i {
                color: #000;
            }
        }
    }

    .modal-content {
        @include border-radius(3px);
        border: none;
    }

    .modal-body {
        margin: 0;
        padding: 40px;
        height:auto;
        max-height: 76%;
        overflow: hidden;
        overflow-y: auto;
    }

    .modal-footer {
        text-align: left;
        padding: 20px 40px;
    }

    .form-control {
        max-width:100%;
    }
}