.table { font-size: 13px; font-weight: normal; background: #fff; border: 1px solid #e9e9e9; -moz-box-shadow: 0 1px 0 #f1f1f1; -webkit-box-shadow: 0 1px 0 #f1f1f1; box-shadow: 0 1px 0 #f1f1f1; }
.table > thead > tr > th,
.table > tbody > tr > td { padding: 0; height: 44px; border: none; border-bottom: 1px solid #eee; vertical-align: middle; text-align: center; }
.table > tbody > tr > td { border-right: 1px solid #f5f5f5; }
.table > tbody > tr > td:last-child { border-right: 0px solid #e9e9e9; }
.table > thead { background: #fff; color: #707f95; text-transform: uppercase; }
.table > thead > tr > th { font-size: 13px; font-weight: 500; }
.table > thead > tr > th a { color: #707f95; cursor: pointer; }
.table > tbody > tr > td,
.table > tbody > tr > td a { color: #b3b9c7; }
.table input { top: 0; }
.table > tbody > tr { background: #fff; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.table > tbody > tr:hover { background: #fafafa; }
.table > tbody > tr:last-child > td { border-bottom-color: #e9e9e9 !important; }
.table-item-empty { background: #fafafa; margin-top: -20px; border: 1px solid #e9e9e9; border-top: none; line-height: 44px; text-align: center; color: #aaa; -moz-box-shadow: 0 1px 0 #f1f1f1; -webkit-box-shadow: 0 1px 0 #f1f1f1; box-shadow: 0 1px 0 #f1f1f1; }
.table-item-empty i { line-height: 44px; }

// all pages - table
.table .item-checkbox { width: 44px; min-width: 44px; padding: 0; }
.table .item-title { position: relative; text-align: left; }
.table th.item-title { padding-left: 15px; }
.table td.item-title { padding: 0; max-width: 100px; }
.table td.item-title a:first-child { color: #6581ad; height: 100%; line-height: 44px; padding: 0 50px 0 15px; display: block; overflow: hidden; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.table .external-link { position: absolute; top: 0; right: 0; display: block; width: 44px; height: 100%; text-align: center; }
.table .external-link i { width: 100%; height: 100%; line-height: 48px; color: #b3b9c7; }
.table td.item-title .external-link { padding-left: 0; }