<div class="admin-views-dashboard" data-ng-controller="DashboardController">
    <div class="page-header clearfix">
        <div class="page-title pull-left"><a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a> {{lbl.dashboard}}</div>
    </div>
    <div data-ng-include src="'views/shared/_addnote.html'"></div>
    <div data-ng-include src="'views/shared/_editnote.html'"></div>
    <div id="modal-log-file" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{lbl.logFile}}</h4>
                </div>
                <div class="modal-body modal-logfile">
                    <div class="form-horizontal clearfix">
                        <div class="col col-md-12" data-ng-repeat="log in logItems">
                            <div ng-bind-html="log.OptionValue"></div>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i> {{lbl.close}}</button>
                    <button data-ng-if="logItems.length > 0" data-ng-click="purgeLog()" class="btn btn-danger"><i class="fa fa-times"></i> {{lbl.purge}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="content-inner">
        <div id="versionMsg">
            <div class="alert alert-info">
                <span><i class="fa fa-info-circle"></i> New BlogEngine.NET version <span id="vNumber"></span> available for upgrade</span>
                <button id="btnRun" class="btn btn-primary btn-xs pull-right" onclick="window.location.assign(SiteVars.RelativeWebRoot + 'setup/upgrade')" type="button">Upgrade</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{lbl.stats}}</div>
                    </div>
                    <ul class="list-group panel-collapse dashboard-stats collaps in" id="collapseOne">
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content?fltr=pub">{{lbl.publishedPosts}} <span class="item-stats-info item-stats-info-green">{{stats.PublishedPostsCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/pages?fltr=pub">{{lbl.publishedPages}} <span class="item-stats-info item-stats-info-green">{{stats.PublishedPagesCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content?fltr=dft">{{lbl.draftPosts}} <span class="item-stats-info item-stats-info-yellow">{{stats.DraftPostsCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/pages?fltr=dft">{{lbl.draftPages}} <span class="item-stats-info item-stats-info-yellow">{{stats.DraftPagesCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments?fltr=apr">{{lbl.approvedComments}} <span class="item-stats-info item-stats-info-green">{{stats.PublishedCommentsCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments?fltr=pnd">{{lbl.unapprovedcomments}} <span class="item-stats-info item-stats-info-yellow">{{stats.UnapprovedCommentsCount}}</span></a></li>
                        <li class="list-group-item"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments?fltr=spm">{{lbl.spamComments}}<span class="item-stats-info item-stats-info-red">{{stats.SpamCommentsCount}}</span></a></li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{lbl.latestComments}}</div>
                    </div>
                    <ul class="list-group panel-collapse collaps in " id="collapseTwo">
                        <li class="list-group-item" data-ng-repeat="comment in recentcomments ">
                            <span><a href="{{comment.RelativeLink}}" target="_new" class="text-ellipsis">{{comment.Title}}</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Quick Notes
                            <span class="pull-right">
                                <a href="" ng-if="pager.currentPage != 0" data-ng-click="pager.prevPage()"><i class="fa fa-angle-left fa-sm"></i></a>
                                <a href="" ng-if="pager.currentPage + 1 < pager.pagedItems.length" data-ng-click="pager.nextPage()"><i class="fa fa-angle-right"></i></a>&nbsp;
                                <a title="{{lbl.add}}" href="" ng-click="addNote()"><i class="fa fa-plus fa-sm"></i></a>
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group panel-collapse collaps in" id="collapseFour">
                        <li class="list-group-item clearfix" data-ng-repeat="note in pager.pagedItems[pager.currentPage]">
                            <a title="{{note.Title}}" href="" ng-click="editNote(note.Id)">{{note.Title}}</a>
                            <span class="pull-right">
                                <a title="{{lbl.doDelete}}" href="" ng-click="deleteNote(note.Id)" class="purgethis"><i class="fa fa-times fa-sm"></i></a>
                            </span>
                        </li>
                        <li ng-if="notes.length == 0" class="list-group-item item-empty">{{lbl.empty}}</li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{lbl.draftPosts}}</div>
                    </div>
                    <ul class="list-group list-group panel-collapse collaps in" id="collapseThree">
                        <li class="list-group-item clearfix" data-ng-repeat="post in draftposts">
                            <a href="{{SiteVars.RelativeWebRoot}}admin/editor/post.cshtml?id={{post.Id}}&returnUrl={{SiteVars.RelativeWebRoot}}admin/#/" class="text-ellipsis pull-left">{{post.Title}}</a>
                            <a title="{{post.Title}}" class="external-link pull-right" target="_new" href="{{post.RelativeLink}}"><i class="fa fa-external-link"></i></a>
                        </li>
                        <li ng-if="draftposts.length == 0" class="list-group-item item-empty">{{lbl.empty}}</li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{lbl.draftPages}}</div>
                    </div>
                    <ul class="list-group list-group panel-collapse collaps in" id="collapseFour">
                        <li class="list-group-item clearfix" data-ng-repeat="page in draftpages">
                            <a href="{{SiteVars.RelativeWebRoot}}admin/editor/page.cshtml?id={{page.Id}}&returnUrl={{SiteVars.RelativeWebRoot}}admin/#/" class="text-ellipsis pull-left">{{page.Title}}</a>
                            <a title="{{page.Title}}" class="external-link pull-right" target="_new" href="{{SiteVars.RelativeWebRoot}}page/{{page.Slug}}"><i class="fa fa-external-link"></i></a>
                        </li>
                        <li ng-if="draftpages.length == 0" class="list-group-item item-empty">{{lbl.empty}}</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-default" data-ng-if="security.showTabCustom">
                    <div class="panel-heading">
                        <div class="panel-title clearfix">
                            <span class="pull-left">{{lbl.latestFromTheGallery}}</span>
                            <div id="tr-gal-spinner" class="pull-right">
                                <div id="div-gal-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item dashboard-gallery-item clearfix" data-ng-repeat="pkg in packages">
                            <a href="#/custom/packages?pkgId={{pkg.Id}}" class="item-link">
                                <img ng-if="pkg.IconUrl.length > 0" class="item-img" width="50" height="50" ng-src="{{pkg.IconUrl}}" />
                                <img ng-if="pkg.IconUrl.length == 0" class="item-img" width="50" height="50" src="../Content/Images/blog/pkg.png" />
                                <span class="item-title">{{pkg.Title}}</span>
                                <span class="item-desc text-ellipsis">{{pkg.Description}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-default" data-ng-if="security.viewErrorMessages">
                    <div class="panel-heading">
                        <div class="panel-title">{{lbl.logs}}</div>
                    </div>
                    <ul class="list-group list-group panel-collapse collaps in" id="collapseSeven">
                        <li data-ng-if="logItems.length > 0" class="list-group-item">
                            <a href="" data-ng-click="openLogFile()">{{lbl.loggedMessages}}</a>
                        </li>
                        <li class="list-group-item item-empty clearfix" id="tr-log-spinner">
                            <div id="div-log-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{lbl.trash}}
                            <small ng-if="trash.TotalCount > 0">({{trash.TotalCount}})</small>
                            <span ng-if="trash.TotalCount > 0" class="pull-right">
                                <span class="purgeall label label-danger" data-ng-click="purgeAll()"><i class="fa fa-times"></i> {{lbl.purgeAll}}</span>
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group panel-collapse collaps in" id="collapseFive">
                        <li class="list-group-item clearfix" data-ng-repeat="t in trash.Items">
                            <a href="{{t.RelativeUrl}}" class="text-ellipsis pull-left">{{t.Title}}</a>
                            <span class="pull-right">
                                <a title="{{lbl.restore}}" href="" data-ng-click="restore(t.Id)" class="restorethis"><i class="fa fa-refresh fa-sm"></i></a>
                                <a title="{{lbl.purge}}" href="" data-ng-click="purge(t.Id)" class="purgethis"><i class="fa fa-times fa-sm"></i></a>
                            </span>
                        </li>
                        <li ng-if="trash.TotalCount == 0" class="list-group-item item-empty">{{lbl.empty}}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
