@using BlogEngine.Core
@using BlogEngine.Core.Helpers
@{
    var NumberOfPosts = 10;
    var ShowComments = true;
    var settings = WidgetHelper.GetSettings(Model.Id);
    if (settings != null && settings.Count > 0)
    {
        NumberOfPosts = int.Parse(settings["numberofposts"]);
        ShowComments = bool.Parse(settings["showcomments"]);
    }
    var visiblePosts = Post.ApplicablePosts.FindAll(p => p.IsVisibleToPublic);
    var max = Math.Min(visiblePosts.Count, NumberOfPosts);
    var list = visiblePosts.GetRange(0, max);
}
<div class="widget recentposts">
    <h4 class="widget-header">Recent posts</h4>
    <div class="widget-content">
        <ul id="recentPosts" class="recentPosts">
            @foreach (var post in list)
            {
                <li>
                    <a href="@post.RelativeLink">@post.Title</a>
                    @if (ShowComments)
                    {
                        <span>Comments: @post.Comments.Count</span>
                    }
                </li>
            }
        </ul>
    </div>
</div>