.blog-header {
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);

    @media screen and (max-width: 64rem) {
        margin-bottom: 1rem;
    }
}

.blog-logo {
    text-align: center;
    color: #fff !important;
    display: block;
    font-size: 1.5rem;
    padding: 3rem 0 2.5rem;
    font-family: $font-family-heading;
    outline: none !important;

    img {
        font-size: 0;
        margin-bottom: 1rem;
        width: 8rem;
        display: block;
        margin: 0 auto 1rem;
        border-radius: 100%;
    }

    @media screen and (max-width: 64rem) {
        padding: 2rem 0 1.5rem;
    }
}

.blog-nav {
    height: 3.5rem;

    ul {
        @include unstyled();
        height: 3.5rem;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    li {
        display: table-cell;
        width: 25%;
        height: 3.5rem;
        text-align: center;
        vertical-align: top;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        border-top: 1px solid rgba(0, 0, 0, 0.15);

        &:last-child {
            border-right: 0;
        }

        span {
            display: none;
        }

        .tooltip {
            text-transform: uppercase;
            letter-spacing: $px2;
        }
    }

    a {
        height: 3.5rem;
        line-height: 3.5rem - $px3;
        color: #fff;
        display: block;
        text-transform: uppercase;
        opacity: .5;

        i {
            font-size: 1rem;
            display: block;
            height: 100%;
            line-height: 3.5rem;
        }

        &.item-home {
            i {
                font-size: 1.25rem;
            }
        }

        &.item-login {
            &:before {
                @include fontawesome("\f090");
                font-size: 1.25rem !important;
                display: block;
                height: 100%;
                line-height: 3.5rem;
            }
        }

        &.item-admin {
            &:before {
                @include fontawesome("\f007");
                display: block;
                height: 100%;
                line-height: 3.5rem;
                font-size: 1rem;
            }
        }

        &:hover, &:focus {
            opacity: 1;
            outline: none !important;
        }
    }
}
