.blog-header {
    margin-bottom: 2rem;
    box-shadow: $shadow-normal;

    @media screen and (max-width: 64rem) {
        margin-bottom: 1rem;
    }
}

.blog-info {
    background: $color-widget;
}

.blog-logo {
    text-align: center;
    color: #fff !important;
    display: block;
    font-size: 1.5rem;
    padding: 3rem 0 1rem;
    font-family: $font-family-heading;
    outline: none !important;
    text-shadow: $shadow-normal;

    img {
        font-size: 0;
        margin-bottom: 1rem;
        width: 8rem;
        display: block;
        margin: 0 auto 1rem;
        border-radius: 100%;
    }

    @media screen and (max-width: 64rem) {
        padding: 2rem 0 1.5rem;
    }
}

.blog-nav {
    height: 3.5rem;
    margin-top: 1px;

    ul {
        @include unstyled();
        height: 3.5rem;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    li {
        padding-right: 1px;
        display: table-cell;
        width: 25%;
        height: 3.5rem;
        text-align: center;
        vertical-align: top;

        &:last-child {
            padding-right: 0;
        }

        span {
            display: none;
        }

        .tooltip {
            text-transform: uppercase;
            letter-spacing: $px2;
        }
    }

    a {
        height: 3.5rem;
        line-height: 3.5rem - $px3;
        color: #fff;
        display: block;
        text-transform: uppercase;
        background: $color-widget;

        i {
            font-size: .875rem;
            display: block;
            height: 100%;
            line-height: 3.5rem;
        }

        &.item-home {
            i {
                font-size: 1.25rem;
            }
        }

        &.item-login {
            &:before {
                @include fontawesome("\f090");
                font-size: 1.25rem !important;
                display: block;
                height: 100%;
                line-height: 3.5rem;
            }
        }

        &.item-admin {
            &:before {
                @include fontawesome("\f007");
                display: block;
                height: 100%;
                line-height: 3.5rem;
                font-size: 1rem;
            }
        }

        &:hover, &:focus {
            opacity: 1;
            outline: none !important;
        }
    }
}

.blog-author {
    display:none;
    padding: 0 2rem;
    color: #fff;
    font-size: 1rem;
    margin-bottom:1.5rem;
}

.social-network {
    @include unstyled();
    text-align: center;
    padding-bottom: 2rem;

    li {
        display: none;

        a {
            display: block;
            height: 2rem;
            width: 2rem;
        }

        i {
            display: block;
            height: 100%;
            line-height: 2rem;
            background: rgba(0, 0, 0, 0.07);
            color: #fff;
            border-radius: 100%;
            font-size: .875rem;

            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
}
