.page-global, .well-global {
    box-shadow: $shadow-normal;
    background: #fff;
    margin-bottom: 2rem;
    padding: 3rem;

    @media screen and (max-width: 64rem) {
        margin-bottom: 1rem;
        padding: 1.5rem;
    }

    .page-global-title {
        font-size: 1.5rem;
    } 
}

#trackbacks {
    display: none;
}
