.post {
    background: #fff;
    margin-bottom: 2rem;
    padding: 3rem;



    .post-header {
        margin-bottom: 2rem;

        .post-title {
            line-height: 1.5rem;
            font-size: 2rem;
            margin: 0 0 1rem;
            font-weight: $font-weight-bold;

            a {
                text-decoration: none;
                color: $color-theme;

                &:hover {
                    color: #111;
                }
            }
        }
    }

    .post-info {
        font-size: 0.75rem;
        color: #666;
        text-transform: uppercase;

        span {
            margin-right: 0.5rem;
        }

        a {
            color: #666;
        }
    }

    .post-body {
        line-height: 1.6;

        a:hover {
            text-decoration: underline;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        h4 {
            font-size: 1rem;
        }

        h5 {
            font-size: 1rem;
        }
    }

    .post-rating {
        height: 1.5rem;
        margin: 1rem 0;
    }

    .post-adminlinks {
        font-size: 0;

        a {
            color: #fff;
            font-size: .75rem;
            margin-right: .5rem;
            display: inline-block;
            padding: .25rem 1rem;
            border-radius: $px3;
            text-align: center;
            text-transform: uppercase;
            background-color: #ddd;

            &.item-approve {
                background-color: $color-success;
            }

            &.item-edit {
                background-color: $color-info;
            }

            &.item-delete {
                background-color: $color-danger;
            }
        }
    }
}
