.navigation-posts {
    display: table;
    width: 100%;
    overflow: hidden;
    padding: 0;

    a {
        text-decoration: none;
        display: block !important;
        height: 100%;
        padding: 1rem 0;
    }

    > div {
        width: 50%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    > div.text-left {
        border-right: 1px solid #ddd;
    }
    @media screen and (max-width: 64rem) {
        display: none;
    }
}
