.related-posts {
    ul li {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: $px1 solid #eee;

        a {
            font-size: 1rem;
        }

        &:last-child {
            margin: 0;
        }

        &:first-child {
            padding-top: 0.5rem;
            border-top: $px1 solid #eee;
        }

        div {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.75rem;
            color: #aaa;
        }
    }
}
