.search-page {
    .search-page-searchbox {
        background: #fff;
        padding: 3px;
        border: 1px solid #CCC;
        margin-bottom: 15px;

        input[type=button] {
            float: right;
            width: 20%;
            border: none;
            height: 100%;
            padding: 12px 0;
        }

        input[type=text] {
            border: none;
            width: 76%;
            border-radius: 3px;
            padding: 8px 1%;
            outline: none !important;
        }
    }

    .searchresult {
        border-bottom: 1px dotted #CCC;
        padding: 10px 0;
        font-size: 14px;

        a {
            font-weight: normal;
            font-size: 16px;
        }

        span.text {
            clear: both;
            line-height: 35px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 13px;
            color: #555;
        }

        span.type {
            font-size: 13px;
            display: none;
        }

        span.url {
            color: #888;
        }
    }

    .searchpage ul.paging {
        list-style-type: none;
        margin: 20px auto;
        padding: 0px;
        text-align: center;
        display: block;

        li {
            display: inline-block;
            width: 30px;
            text-align: center;
            height: 30px;
            border: 1px solid #CCC;
            background: #FFF;
            margin-right: 2px;
        }

        li a {
            display: block;
            height: 100%;
            line-height: 30px;
        }

        li.active {
            border-width: 1px;
            border-style: solid;
        }

        li.active A {
            color: #FFF;
        }
    }
}
