<div data-ng-controller="CustomWidgetsController">
    <style>
        .sortable-empty {
            border: 3px dashed #b4b9be;
            padding: 15px;
        }
    </style>
    <div class="main-header clearfix">
        <h2 class="page-title pull-left">{{lbl.widgets}}</h2>
        <button type="button" ng-click='save()' class="btn btn-success btn-sm btn-hasicon pull-left"><i class="fa fa-save"></i>{{lbl.save}}</button>
    </div>
    <div class="content-inner">
        <div class="row">

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit widget</h4>
                        </div>
                        <div class="modal-body">
                            <p>Edit widget with id:</p>
                            <input type="text" name="widgetId" id="widgetId" value="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">

                <div class="col-lg-6">
                    <h3>Available Widgets</h3>
                    <div class='unstyled-list'>
                        <div class="draggable" ng-repeat='iw in vm.AvailableWidgets' draggable="iw" draggable-target='.sortable'>
                            <div class="panel panel-primary">
                                <div class="panel-body">{{ iw.Title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div ng-if="widgetZones.titles && widgetZones.titles.length > 0">
                        <h3>{{widgetZones.titles[0]}}</h3>
                        <div droppable='widgetZones.list1' ng-move='moveObject(from, to, fromList, toList)'
                             ng-create='createObject(object, to, list)' id="list1" class="sortable">
                            <div ng-if="widgetZones.list1.length < 1" class="sortable-empty">Drag widget here</div>
                            <div class="ui-state-default" ng-repeat="item in widgetZones.list1 track by item.Id">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{item.Title}}
                                        <div class="btn-group pull-right">
                                            <button type="button" data-toggle="modal" data-target="#myModal" data-id="{{item.Id}}" class="btn btn-default btn-sm">Edit</button>
                                            <button type="button" ng-click='deleteItem(item.Id, widgetZones.list1, widgetZones.titles[0])' class="btn btn-danger btn-sm">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="widgetZones.titles && widgetZones.titles.length > 1">
                        <h3>{{widgetZones.titles[1]}}</h3>
                        <div droppable='widgetZones.list2' ng-move='moveObject(from, to, fromList, toList)'
                             ng-create='createObject(object, to, list)' id="list2" class="sortable">
                            <div ng-if="widgetZones.list2.length < 1" class="sortable-empty">Drag widget here</div>
                            <div class="ui-state-default" ng-repeat="item in widgetZones.list2 track by item.Id">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{ item.Title }}
                                        <div class="btn-group pull-right">
                                            <button type="button" data-toggle="modal" data-target="#myModal" data-id="{{item.Id}}" class="btn btn-default btn-sm">Edit</button>
                                            <button type="button" ng-click='deleteItem(item.Id, widgetZones.list2, widgetZones.titles[1])' class="btn btn-danger btn-sm">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="widgetZones.titles && widgetZones.titles.length > 2">
                        <h3>{{widgetZones.titles[2]}}</h3>
                        <div droppable='widgetZones.list3' ng-move='moveObject(from, to, fromList, toList)'
                             ng-create='createObject(object, to, list)' id="list3" class="sortable">
                            <div ng-if="widgetZones.list3.length < 1" class="sortable-empty">Drag widget here</div>
                            <div class="ui-state-default" ng-repeat="item in widgetZones.list3 track by item.Id">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        {{ item.Title }}
                                        <div class="btn-group pull-right">
                                            <button type="button" data-toggle="modal" data-target="#myModal" data-id="{{item.Id}}" class="btn btn-default btn-sm">Edit</button>
                                            <button type="button" ng-click='deleteItem(item.Id, widgetZones.list3, widgetZones.titles[2])' class="btn btn-danger btn-sm">X</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <!--<h3>vm.WidgetZones</h3>     
                <pre>{{ vm.WidgetZones | json }}</pre>-->
            </div>

        </div>
    </div>
</div>