body, html { background-color: #eee; height: 100%; font-family: 'Roboto', sans-serif; font-weight: 400; }
a { text-decoration: none !important; }
form { height: 100%; }
.container { max-width: 320px; }
.account { padding-top: 100px; }
.back-to-blog { position: absolute; left: 10px; top: 10px; font-size: 11px; text-transform: uppercase; color: #666 !important; display: block; line-height: 33px; border: 1px solid #ddd; padding: 0 15px 0 10px; height: 34px; }
.back-to-blog img { position: relative; top: -1px; width: 18px; height: 18px; margin-right: 10px; opacity: 0.5; }
.account-header { margin-bottom: 50px; }
.account-header img { width: 200px; }
.btn { margin-bottom: 30px; border-radius: 0; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-transform: uppercase; height: 50px; }
.btn-success { background-color: #46be8a; border-color: #46be8a; outline: none !important; }
.btn-success:hover, .btn-success:focus, btn-success:active { background: #31AA75 !important; border-color: #31AA75 !important; }
.form-group { background-color: #fff; margin-bottom: 1px; position: relative; height: 60px; overflow: hidden; }
.form-group.first-child { -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.form-group input[type=text],
.form-group input[type=password],
.form-group .label-title { background: #ffffff !important; outline: none; border: none; width: 100%; display: block; line-height: 35px; margin: 0 !important; font-weight: normal; box-shadow: none !important; -webkit-box-shadow: 0 0 0px 1000px white inset !important; height: 35px; }
.form-group.with-icon { height: 50px; }
.form-group.with-icon input[type=text],
.form-group.with-icon input[type=password],
.form-group.with-icon .label-title { padding-left: 60px; height: 50px; line-height: 48px; }
.form-group label { cursor: pointer; font-weight: normal; }
.form-group input:focus { }
.form-group .icon-user { width: 24px; height: 24px; top: 12px; left: 12px; }
.form-group .icon-pass { width: 20px; height: 20px; top: 14px; left: 14px; }
.form-group .icon-form-group { display: block; position: absolute; text-align: center; width: 50px; height: 50px; line-height: 50px; }
.form-group .icon-form-group img { opacity: 0.5; }
.label-up { height: 20px; line-height: 35px; padding-left: 10px; text-transform: uppercase; font-size: 11px; display: block; }
.small-link { font-size: 10px; }
.warning { background-color: #f96868; border-radius: 3px; line-height: 50px; padding: 0 15px 0 25px; color: #fff; margin-top: 30px; }
.warning a { color: #fff; }
.page-header { text-align: center; text-transform: uppercase; font-size: 18px; color: #aaa; letter-spacing: 2px; font-weight: normal; }
table { width: 100%; }