.page-header {
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    -moz-box-shadow: 0 1px 0 #f1f1f1;
    -webkit-box-shadow: 0 1px 0 #f1f1f1;
    box-shadow: 0 1px 0 #f1f1f1;
    height: 61px;
    padding: 15px 30px;
    position: relative;
    //
    .page-title {
        font-size: 16px;
        color: #666;
        line-height: 31px;
        height: 30px;
        margin: 0 20px 0 0;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
    //
    .dropdown {
        margin-left: 15px;
    }
    //
    .btn.pull-left {
        margin-right: 10px;
    }
   
    .btn-group {
        .btn {
            padding: 0;
            width: 50px;
            margin: 0 1px 0 0;
            font-size: 14px;
            i {
                font-size: 14px;
                display: block;
                line-height: 34px;
                margin-right: 0;
            }
        }

        .btn-sm i {
            font-size: 14px;
            line-height: 30px;
        }
    }
    //
    .icon-header-dashboard {
        margin-left: 10px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        position: relative;

        i {
            width: 100%;
            height: 100%;
            display: block;
            line-height: 30px;
            font-size: 23px;
            color: #707f95;
        }

        &.icon-header-trash {
            &:hover {
                i {
                    color: #ea5a5a;
                }
            }
        }

        &.page-header .icon-header-logs {
            &:hover {
                i {
                    color: #f8ac0e;
                }
            }
        }

        span {
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            background: #ea5a5a;
            color: #fff;
            font-size: 10px;
            border-radius: 100%;
        }
    }
    //
    .search {
        border: 1px solid #ddd;
        position: relative;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;

        i {
            cursor: pointer;
            position: absolute;
            color: #aaa;
            z-index: 0;
            left: 0;
            top: 0;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
        }

        input {
            cursor: pointer;
            font-size: 12px;
            outline: none !important;
            position: relative;
            background: none;
            left: 0;
            top: 0;
            padding-left: 30px;
            z-index: 1;
            width: 100%;
            height: 100%;
            border: none;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;

            &:focus {
                cursor: text;
            }
        }
        &.search-wide {
            width: 120px;

            .tooltip {
                display: none !important;
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .page-header {
        padding: 10px 10px 10px 55px;
        height: 50px;
    }
}
