<div data-ng-controller="PackageController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            Package Details <i ng-if="spin" class="fa fa-spinner fa-spin"></i>
        </h2>
        <button type="button" class="btn btn-default pull-left" onclick="window.history.back()"><i class="fa fa-angle-left"></i>back</button>
        <button ng-if="IsPrimary" ng-disabled="(package.OnlineVersion == '' || (package.OnlineVersion != '' && package.LocalVersion == '')) || id == activeTheme" data-ng-click="uninstallPackage()" class="btn btn-danger pull-left"><i class="fa fa-trash"></i>{{lbl.remove}}</button>
    </div>
    <div class="content-inner">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">  {{package.Title}}</div>
                    </div>
                    <ul class="list-group ">
                        <li class="list-group-item">
                            <img ng-if="!package.PackageUrl" class="pkg-img" width="260" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                            <a ng-if="package.PackageUrl" href="{{package.PackageUrl}}" target="_blank">
                                <img class="pkg-img" width="260" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                            </a>
                        </li>
                        <li class="list-group-item">
                            <span ng-bind-html="package.Description"></span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-user"></i> {{lbl.author}}
                            <span ng-bind-html="package.Authors"></span>
                        </li>
                        <li class="list-group-item" ng-if="package.Website">
                            <span><i class="fa fa-link"></i> {{lbl.website}}:</span>
                            <a href="{{package.Website}}" title="Author website" target="_blank">{{package.Website}}</a>
                        </li>
                        <li class="list-group-item" ng-if="package.Tags">
                            <span class="control-label"><i class="fa fa-tags"></i> {{lbl.tags}}: </span>
                            <span ng-bind-html="package.Tags"></span>
                        </li>
                        <li class="list-group-item" ng-if="package.LastUpdated">
                            <span class="control-label"><i class="fa fa-calendar"></i> {{lbl.date}}: </span>
                            <span ng-bind-html="package.LastUpdated"></span>
                        </li>
                        <li class="list-group-item" ng-if="package.DownloadCount">
                            <span class="control-label"><i class="fa fa-download"></i> {{lbl.downloads}}: </span>
                            <span>{{package.DownloadCount}}</span>
                        </li>
                        <li ng-if="IsPrimary" class="list-group-item" ng-if="package.PackageType === 'Extension' && package.LocalVersion != ''">
                            <span class="control-label"><i class="fa fa-sort-amount-asc"></i> {{lbl.priority}}: {{package.Priority}} &nbsp;</span>
                            <div class="btn-group">
                                <a class="btn btn-default" href="" ng-click="setPriority('up')"><i class="fa fa-long-arrow-up"></i> {{lbl.up}}</a>
                                <a class="btn btn-default" href="" ng-click="setPriority('down')"><i class="fa fa-long-arrow-down"></i> {{lbl.down}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-if="package.Extra != null">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">{{lbl.writeReview}}</div>
                        </div>
                        <div class="panel-body">
                            <input class="form-control ltr-dir" style="margin-bottom: 10px" ng-model="author" id="txtAuthor" name="txtAuthor" focus-me="focusInput" type="text" placeholder="author">
                            <textarea rows="3" maxlength="450" style="width: 100%; height: 68px; margin-bottom: 15px" class="form-control" id="txtReview" placeholder="{{lbl.typeHere}}"></textarea>
                            <div class="text-right">
                                <span class="star-rating">
                                    <input type="radio" name="rated" value="1" ng-checked="selectedRating == 1" ng-click="setRating(1)"><i></i>
                                    <input type="radio" name="rated" value="2" ng-checked="selectedRating == 2" ng-click="setRating(2)"><i></i>
                                    <input type="radio" name="rated" value="3" ng-checked="selectedRating == 3" ng-click="setRating(3)"><i></i>
                                    <input type="radio" name="rated" value="4" ng-checked="selectedRating == 4" ng-click="setRating(4)"><i></i>
                                    <input type="radio" name="rated" value="5" ng-checked="selectedRating == 5" ng-click="setRating(5)"><i></i>
                                </span>
                                <button data-ng-click="submitRating()" class="btn btn-success "><i class="fa fa-star"></i>Rate</button>
                            </div>
                        </div>
                        <ul ng-if="package.Extra.Reviews != null" class="list-group">
                            <li ng-repeat="review in package.Extra.Reviews" class="list-group-item">
                                <span class="badge">{{review.Rating}}</span>
                                <b>{{review.Name}}:</b> {{review.Body}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Right column - custom fields -->
        <div class="well clearfix" data-ng-if="customFields.length > 0">
            <div class="clearfix" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 5px; margin-bottom: 10px">
                <h4 class="page-title pull-left">{{lbl.customFields}}</h4>
                <button data-ng-if="customFields.length > 0" data-ng-click="save()" class="btn btn-success btn-header pull-right" style="margin-top: -5px"><i class="fa fa-save"></i>{{lbl.save}}</button>
            </div>
            <div class="form-horizontal">
                <div data-ng-repeat="item in customFields" class="form-group">
                    <label class="control-label col-md-4" for="txtSlug">{{item.Key}}</label>
                    <div class="col col-md-8">
                        <input type="text" class="form-control" id="txtSlug" data-ng-model="item.Value" />
                    </div>
                </div>
            </div>
        </div>
        <div class="well clearfix" ng-if="package.SettingsUrl">
            <iframe id="settingsFrame" class="iframe-package" onload="setIframeBg();" ng-src="{{extEditSrc}}" style="width: 100%;"></iframe>
        </div>
    </div>
</div>