<div data-ng-controller="CustomController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            Plugins <i ng-if="spin" class="fa fa-spinner fa-spin"></i>
        </h2>
        <a ng-if="IsPrimary" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/gallery?ftr=plugin" class="btn btn-success btn-sm btn-hasicon pull-left"><i class="fa fa-plus"></i>{{lbl.add}}</a>
        <div ng-if="IsPrimary" class="btn-group befdv pull-left">
            <a ng-click="processChecked('uninstall')" ng-disabled="itemsChecked() === false" class="btn btn-sm btn-danger" angular-tooltip tooltip="lbl.doDelete"><i class="fa fa-trash"></i></a>
            <a ng-click="processChecked('disable')" ng-disabled="itemsChecked() === false" class="btn btn-sm btn-warning" angular-tooltip tooltip="lbl.disable"><i class="fa fa-close"></i></a>
            <a ng-click="processChecked('enable')" ng-disabled="itemsChecked() === false" class="btn btn-sm btn-success" angular-tooltip tooltip="lbl.enable"><i class="fa fa-check"></i></a>
        </div>
        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}..." />
        </div>
    </div>
    <div class="content-inner">

        <table class="table table-item-plugins">
            <thead>
                <tr>
                    <th class="item-checkbox"><input type="checkbox" id="chkAll" ng-click="checkAll($event)" /></th>
                    <th class="item-title">{{lbl.title}}</th>
                    <th class="item-desc">{{lbl.description}}</th>
                    <th class="item-version">{{lbl.version}}</th>
                    <th class="item-priority">{{lbl.priority}}</th>
                    <th class="item-state">{{lbl.enabled}}</th>
                    <th class="item-edit">Customize</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage]">
                    <td class="item-checkbox">
                        <input ng-if="IsPrimary" type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" />
                    </td>
                    <td class="item-title">
                        <a title="{{item.Title}}" href="#/custom/package?id={{item.Id}}">
                            {{item.Title}} 
                        </a>
                    </td>
                    <td class="item-desc"><span class="text-ellipsis">{{item.Description}}</span></td>
                    <td class="item-version">
                        <span ng-if="item.OnlineVersion.length == 0">{{item.LocalVersion}}</span>
                        <span ng-if="item.OnlineVersion.length > 0">{{item.OnlineVersion}}</span>
                    </td>
                    <td class="item-priority">{{item.Priority}}</td>
                    <td class="item-state"><input type="checkbox" data-ng-model="item.Enabled" data-ng-disabled="true"></td>
                    <td class="item-edit">
                        <a class="btn btn-sm btn-default btn-hasicon" href="#/custom/package?id={{item.Id}}"><i class="fa fa-sliders"></i> Customize</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination" ng-if="items.length > itemsPerPage">
            <li data-ng-class="{disabled: currentPage == 0}">
                <a data-ng-click="prevPage()" title="{{lbl.prev}}"><i class="fa fa-angle-left"></i></a>
            </li>
            <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                <a data-ng-bind="n + 1">1</a>
            </li>
            <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a data-ng-click="nextPage()" title="{{lbl.next}}"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>
