<div data-ng-controller="CustomController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left"> <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            {{lbl.themes}} <i ng-if="spin" class="fa fa-spinner fa-spin"></i>
        </h2>

        <div class="btn-group pull-left">
            <button ng-click="processChecked('uninstall')" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>{{lbl.doDelete}}</button>
        </div>

        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
            <i class="fa fa-times-circle"></i>
        </div>

    </div>
    <div class="content-inner">
     
        <div class="row" style="padding-left: 10px">
            <div data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class="col-md-4 col-lg-3 info-box">
                <span class="info-box-icon">
                    <a title="{{item.Title}}" href="#/shared/package?id={{item.Id}}">
                        <img ng-if="item.IconUrl === ''" src="../Content/images/blog/pkg.png" />
                        <img ng-if="item.IconUrl != ''" ng-src="{{item.IconUrl}}" />
                    </a>
                </span>
                <div ng-class="(item.Id == activeTheme) ? 'info-box-content info-box-selected' : 'info-box-content'">
                    <input type="checkbox" class="info-box-check pull-right" id="{{item.Id}}" data-ng-model="item.IsChecked" ng-disabled="item.Id === activeTheme.Theme || item.Id === activeTheme.Mobile || item.OnlineVersion === ''" />
                    <span class="star-rating">
                        <input disabled="disabled" type="radio" name="{{item.Id}}" value="1" ng-checked="checkStar(1, item.Rating)"><i></i>
                        <input disabled="disabled" type="radio" name="{{item.Id}}" value="2" ng-checked="checkStar(2, item.Rating)"><i></i>
                        <input disabled="disabled" type="radio" name="{{item.Id}}" value="3" ng-checked="checkStar(3, item.Rating)"><i></i>
                        <input disabled="disabled" type="radio" name="{{item.Id}}" value="4" ng-checked="checkStar(4, item.Rating)"><i></i>
                        <input disabled="disabled" type="radio" name="{{item.Id}}" value="5" ng-checked="checkStar(5, item.Rating)"><i></i>
                    </span>
                    <span class="info-box-text"><a title="{{item.Title}}" href="#/shared/package?id={{item.Id}}">{{item.Title}}</a></span>
                    <span class="info-box-number">{{item.DownloadCount}} downloads</span>
                    <div class="pull-right" style="margin-top: -5px">
                        <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'download'" title="Install package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-download"></i></a>
                        <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'refresh'" title="Update package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-refresh" style="color:red"></i></a>
                        <span ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'installed'"><i class="fa fa-check" style="color:green"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right pagination-wrapper" ng-if="items.length > itemsPerPage">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>       
    </div>
</div>


