<div data-ng-controller="CustomController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            {{lbl.themes}} <i ng-if="spin" class="fa fa-spinner fa-spin"></i>
        </h2>
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/custom/gallery?ftr=theme" class="btn btn-success pull-left"><i class="fa fa-plus"></i>Add</a>
        <div class="btn-group befdv pull-left">
            <button ng-click="processChecked('uninstall')" ng-disabled="itemsChecked() === false" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>{{lbl.doDelete}}</button>
        </div>
        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="content-inner">

        <div class="row">
            <div data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class="col-sm-6 col-md-4 col-lg-3">
                <div id="pkg-{{item.Id}}" ng-class="(item.Id == activeTheme) ? 'package-item package-item-active' : 'package-item'">
                    <div class="package-item-img">
                        <img ng-if="item.IconUrl === ''" src="../Content/images/blog/pkg.png" />
                        <img ng-if="item.IconUrl != ''" ng-src="{{item.IconUrl}}" />
                    </div>
                    <input type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" ng-disabled="item.Id === activeTheme.Theme || item.Id === activeTheme.Mobile || item.OnlineVersion === ''" />
                    <div class="package-item-info clearfix">
                        <div class=" pull-left">
                            <span>{{item.Title}}</span>
                        </div>
                        <div class=" pull-right">
                            <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'download'" title="Install package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-download"></i></a>
                            <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'refresh'" title="Update package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-refresh" style="color:red"></i></a>
                            <span ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'installed'"><i class="fa fa-check" style="color:green"></i></span>
                        </div>
                    </div>
                    <div class="package-item-button">
                        <button ng-click="setDefaultTheme(item.Id)" ng-if="item.Id != activeTheme" class="btn btn-sm btn-success"><i class="fa fa-check"></i> {{lbl.active}}</button>
                        <a class="btn btn-sm btn-primary" href="#/custom/package?id={{item.Id}}"><i class="fa fa-cog"></i> Customize</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right pagination-wrapper" ng-if="items.length > itemsPerPage">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>


