<div data-ng-controller="CustomController">
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            {{lbl.widgets}} <i ng-if="spin" class="fa fa-spinner fa-spin"></i>
        </h2>
        <!-- currently gallery does not have widgets, only plugins and themes
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/gallery" class="btn btn-success pull-left"><i class="fa fa-plus"></i>Add</a>
        <div class="btn-group befdv pull-left">
            <button ng-click="processChecked('uninstall')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>{{lbl.doDelete}}</button>
        </div>
        -->
        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
            <i class="fa fa-times-circle"></i>
        </div>
    </div>
    <div class="content-inner">
        <div class="row" style="padding-left: 10px">
            <div data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class="col-sm-6 col-md-4 col-lg-3">
                <div class="package-item">
                    <div class="package-item-img">
                        <a title="{{item.Title}}" href="#/custom/package?id={{item.Id}}">
                            <img ng-if="item.IconUrl === ''" src="../Content/images/blog/widget.png" />
                            <img ng-if="item.IconUrl != ''" ng-src="{{item.IconUrl}}" />
                        </a>
                    </div>
                    <div class="package-item-info"><a title="{{item.Title}}" href="#/custom/package?id={{item.Id}}">{{item.Title}}</a></div>
                    <div class="package-item-info">{{item.DownloadCount}} downloads</div>
                    <!--<a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'download'" title="Install package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-download"></i></a>
                    <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'refresh'" title="Update package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-refresh" style="color:red"></i></a>
                    <span ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'installed'"><i class="fa fa-check" style="color:green"></i></span>-->
                </div>
            </div>
        </div>
        <ul class="pagination" ng-if="items.length > itemsPerPage">
            <li data-ng-class="{disabled: currentPage == 0}">
                <a data-ng-click="prevPage()" title="{{lbl.prev}}"><i class="fa fa-angle-left"></i></a>
            </li>
            <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                <a data-ng-bind="n + 1">1</a>
            </li>
            <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a data-ng-click="nextPage()" title="{{lbl.next}}"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>
