<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  </head>
      <body>
        <h3>PRALINE ORDERS</h3>

            Quantity: <input type="text" ng-init="quantity=0"
                             id=quantity 
                             ng-model="quantity"
                             onkeyup="OnBalanceChange();"
                             style="width:25px;" 
                             value='0'> dozen
        <p>
            Shipping: 
            <select id=shipping ng-model="shipping" onchange="OnBalanceChange()">
                <option value="0" ng-selected="true">Select Shipping</option>
                <option value="0">Pick up at convent (no shipping)</option>
                <option value="7.50">Post office boxes ($7.50 per dozen)</option>
            </select>
        </p>        
        <p>
            <span id=total ng-model="total">{{total}}</span> 
             Pralines cost $<span id="balance" ng-model="balance">{{balance}}</span>
        </p>
        <button onclick="OnProcess()">Purchase Order</button>

        <SCRIPT LANGUAGE=javascript>
            OnBalanceChange();

            function GetCategoryList(){
                alert('hello world!');
                return categoryList;
            }
            function OnBalanceChange(){
                // Perform calculations based on selections
                var shippingValue = shipping.options[shipping.selectedIndex].value;
                var qntyValue = quantity.value;
                var orderTotal = qntyValue * 12;
                var orderBalance = (qntyValue * parseFloat(20.00) + (parseFloat(shippingValue)*qntyValue)).toFixed(2);

                // Update UI with totals
                total.innerHTML = orderTotal;
                balance.innerHTML = orderBalance;

                return balance;
            }
            function OnProcess() {
                var balance = OnBalanceChange();
                top.location.href="https://www.paypal.me/DKratochvil/"+balance.innerHTML;
            }
        </SCRIPT>
    </body>
</html>
