<div data-ng-controller="SubNavController" class="btn-toolbar pull-right">
    <div class="btn-group">
        <button onclick="location.href = '#/settings/controls'" data-ng-class="{ active: isActive('/settings/controls')}" class="btn btn-default btn-sm ng-binding">{{lbl.contactForm}}</button>
        <button onclick="location.href = '#/settings/controls/blogroll'" data-ng-class="{ active: isActive('/settings/controls/blogroll')}" class="btn btn-default btn-sm ng-binding">{{lbl.blogroll}}</button>
        <button onclick="location.href = '#/settings/controls/pings'" data-ng-class="{ active: isActive('/settings/controls/pings')}" class="btn btn-default btn-sm ng-binding">{{lbl.pingService}}</button>
        <button onclick="location.href = '#/settings/controls/error'" data-ng-class="{ active: isActive('/settings/controls/error')}" class="btn btn-default btn-sm ng-binding">{{lbl.errorPage}}</button>
    </div>
</div>