<div class="container">
    <div class="BlogEngine-app pull-left">
        <a href="http://dotnetblogengine.net" target="_blank">{{SiteVars.Version}}</a> |
        <a href="http://dotnetblogengine.net/Donate.aspx" target="_blank" id="donate">{{lbl.makeDonation}}</a>
    </div>
    <a class="logo-brand pull-right" target="_blank" href="http://dotnetblogengine.net/"><img src="/Content/images/blog/logo-footer.png" alt="BlogEngine.NET" /></a>
</div>
<script>
    // fixed flt-r in responsive
    $(".btn-flt-r .btn").click(function () {
        $(this).toggleClass("btn-primary");
        $(".flt-r").stop(true, true).slideToggle("fast");
    });
    $(window).resize(function () {
        if ($(window).width() > 767) {
            $(".flt-r").addClass("show-important");
        }
        else {
            $(".flt-r").removeClass("show-important");
        }
    });
</script>