<div data-ng-controller="CustomThemesController">

    <div id="modal-info" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{package.Title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-theme-info">
                        <p ng-bind-html="package.Description"></p>
                        <hr />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <span class="col-md-3">{{lbl.author}}</span>
                                <div class="col-md-9"><span ng-bind-html="package.Authors"></span></div>
                            </div>
                            <div class="form-group" ng-if="package.Website">
                                <span class="col-md-3">{{lbl.website}}</span>
                                <div class="col-md-9">
                                    <a href="{{package.Website}}" title="Author website" target="_blank">{{package.Website}}</a>
                                </div>
                            </div>
                            <div class="form-group" ng-if="package.Tags">
                                <span class="col-md-3">{{lbl.tags}}</span>
                                <div class="col-md-9">
                                    <span ng-bind-html="package.Tags"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="package.LastUpdated">
                                <span class="col-md-3">{{lbl.date}}</span>
                                <div class="col-md-9">
                                    <span ng-bind-html="package.LastUpdated"></span>
                                </div>
                            </div>
                            <div class="form-group" ng-if="package.DownloadCount">
                                <span class="col-md-3">{{lbl.downloads}}</span>
                                <div class="col-md-9">{{package.DownloadCount}}</div>
                            </div>
                        </div>
                        <hr />
                        <img ng-if="!package.PackageUrl" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                        <a ng-if="package.PackageUrl" href="{{package.PackageUrl}}" target="_blank">
                            <img class="pkg-img" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                        </a>
                    </div>

                    <div ng-if="package.Extra != null">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">{{lbl.writeReview}}</div>
                            </div>
                            <div class="panel-body">
                                <input class="form-control ltr-dir" style="margin-bottom: 10px" ng-model="author" id="txtAuthor" name="txtAuthor" focus-me="focusInput" type="text" placeholder="author">
                                <textarea rows="3" maxlength="450" style="width: 100%; height: 68px; margin-bottom: 15px" class="form-control" id="txtReview" placeholder="{{lbl.typeHere}}"></textarea>
                                <div class="text-right">
                                    <span class="star-rating">
                                        <input type="radio" name="rated" value="1" ng-checked="selectedRating == 1" ng-click="setRating(1)"><i></i>
                                        <input type="radio" name="rated" value="2" ng-checked="selectedRating == 2" ng-click="setRating(2)"><i></i>
                                        <input type="radio" name="rated" value="3" ng-checked="selectedRating == 3" ng-click="setRating(3)"><i></i>
                                        <input type="radio" name="rated" value="4" ng-checked="selectedRating == 4" ng-click="setRating(4)"><i></i>
                                        <input type="radio" name="rated" value="5" ng-checked="selectedRating == 5" ng-click="setRating(5)"><i></i>
                                    </span>
                                    <button data-ng-click="submitRating()" class="btn btn-success "><i class="fa fa-star"></i>Rate</button>
                                </div>
                            </div>
                            <ul ng-if="package.Extra.Reviews != null" class="list-group">
                                <li ng-repeat="review in package.Extra.Reviews" class="list-group-item">
                                    <span class="badge">{{review.Rating}}</span>
                                    <b>{{review.Name}}:</b> {{review.Body}}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="modal-settings" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{lbl.customFields}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-customfiled" data-ng-if="customFields.length > 0">
                        <div data-ng-repeat="item in customFields" class="form-group">
                            <label class="control-label col-md-4" for="txtSlug">{{item.Key}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" id="txtSlug" data-ng-model="item.Value" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-hasicon btn-default" tabindex="-1" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                    <button data-ng-if="customFields.length > 0" data-ng-click="save()" class="btn btn-success btn-header pull-right"><i class="fa fa-save"></i>{{lbl.save}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
            {{lbl.themes}}
        </h2>
        <a ng-if="IsPrimary" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/themes/gallery" class="btn btn-success btn-sm btn-hasicon pull-left"><i class="fa fa-plus"></i>{{lbl.theNew}}</a>
        <div ng-if="IsPrimary" class="btn-group befdv pull-left">
            <button ng-click="processChecked('uninstall')" ng-disabled="itemsChecked() === false" angular-tooltip tooltip="lbl.doDelete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
        </div>
        <div class="search pull-right">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}..." />
        </div>
    </div>
    <div class="content-inner">
        <div class="row">
            <div data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class="col-sm-6 col-md-4 col-lg-4">
                <div id="pkg-{{item.Id}}" ng-class="(item.Id == activeTheme) ? 'theme-item theme-item-active' : 'theme-item'">
                    <div class="item-img">
                        <img ng-if="item.IconUrl === ''" src="../Content/images/blog/pkg.png" />
                        <img ng-if="item.IconUrl != ''" ng-src="{{item.IconUrl}}" />
                        <i class="item-active fa fa-check" ng-if="item.Id === activeTheme"></i>
                    </div>
                    <input class="item-checkbox" ng-if="IsPrimary" type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" ng-disabled="item.Id === activeTheme.Theme || item.Id === activeTheme.Mobile || item.OnlineVersion === ''" />
                    <div class="item-info clear">
                        <div class="pull-left item-title">{{item.Title}}</div>
                        <div class="item-buttons pull-right">
                            <button ng-click="setDefaultTheme(item.Id)" ng-if="item.Id != activeTheme" class="btn btn-sm btn-hasicon btn-default"><i class="fa fa-check"></i> {{lbl.active}}</button>
                            <a class="btn btn-sm btn-hasicon btn-default" ng-if="item.Id === activeTheme" href="" ng-click="showSettings(item.Id)"><i class="fa fa-sliders"></i> customize</a>
                            <a class="btn btn-sm btn-icon btn-default" href="" ng-click="showInfo(item.Id)" angular-tooltip title="Information"><i class="fa fa-info-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination" ng-if="items.length > itemsPerPage">
            <li data-ng-class="{disabled: currentPage == 0}">
                <a data-ng-click="prevPage()" title="{{lbl.prev}}"><i class="fa fa-angle-left"></i></a>
            </li>
            <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                <a data-ng-bind="n + 1">1</a>
            </li>
            <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a data-ng-click="nextPage()" title="{{lbl.next}}"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</div>


