<div data-ng-controller="SettingsController">
    <form id="form" action="">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.contactForm}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="save()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-save"></i>{{lbl.save}}</button>
        </div>
        <div class="content-inner">
            <div class="toolbar-grid clearfix">
                <div class="pull-left">&nbsp;</div>
                <div data-ng-include src="'views/shared/_controls.html'"></div>
            </div>
            <div class="row">
                <div class="col col-sm-6">
                    <div class="well clearfix">
                        <div class="form-horizontal">
                            <div class="form-group" style="margin: 0">
                                <label class="control-label" for="txtContactFormMessage"><strong class="h4">{{lbl.formMessage}}</strong></label>
                                <textarea class="summernote" id="txtContactFormMessage"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="well clearfix">
                        <div class="form-horizontal">
                            <div class="form-group" style="margin: 0">
                                <label class="control-label" for="txtContactThankMessage"><strong class="h4">{{lbl.thankYouMessage}}</strong></label>
                                <textarea class="summernote" id="txtContactThankMessage"></textarea>
                                <script>
                                    $(document).ready(function () {
                                        $('.summernote').summernote({
                                            toolbar: [
                                              ['style', ['bold', 'italic', 'underline', 'clear']],
                                              ['fontsize', ['fontsize']],
                                              ['color', ['color']],
                                              ['para', ['ul', 'ol', 'paragraph']],
                                              ['view', ['fullscreen', 'codeview']]
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckEnableContactAttachments" data-ng-model="settings.EnableContactAttachments" />
                                        {{lbl.enableAttachments}}
                                    </label>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckEnableRecaptchaOnContactForm" data-ng-model="settings.EnableRecaptchaOnContactForm" />
                                        {{lbl.enableRecaptcha}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="well clearfix">
                        <div class="form-horizontal">
                            <div class="form-group" style="margin: 0">
                                <label class="control-label" for="txtContactErrorMessagge"><strong class="h4">{{lbl.errorMessage}}</strong></label>
                                <textarea class="summernote-error" id="txtContactErrorMessage"></textarea>
                                <script>
                                    $(document).ready(function () {
                                        $('.summernote-error').summernote({
                                            toolbar: [
                                              ['style', ['bold', 'italic', 'underline', 'clear']],
                                              ['fontsize', ['fontsize']],
                                              ['color', ['color']],
                                              ['para', ['ul', 'ol', 'paragraph']],
                                              ['view', ['fullscreen', 'codeview']]
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
