<div data-ng-controller="SettingsController">
    <form id="form" action="">
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.recentPosts}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="save()" class="btn btn-success btn-header pull-right" type="button"><i class="fa fa-save"></i>{{lbl.save}}</button>
        </div>
        <div class="content-inner">
            <div class="toolbar-grid clearfix">
                <div class="pull-left">&nbsp;</div>
                <div data-ng-include src="'views/shared/_controls.html'"></div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    <div class="well clearfix">
                        <div class="form-horizontal col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-md-4" for="txtNumberOfRecentPosts">{{lbl.numberOfPosts}}</label>
                                <div class="col col-md-8">
                                    <input type="text" class="form-control" id="txtNumberOfRecentPosts" name="txtNumberOfRecentPosts" data-ng-model="settings.NumberOfRecentPosts" placeholder="10" title="Number of recent posts" />
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-8">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckDisplayCommentsOnRecentPosts" data-ng-model="settings.DisplayCommentsOnRecentPosts" />
                                        {{lbl.displayCommentsOnRecentPosts}}
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="ckDisplayRatingsOnRecentPosts" data-ng-model="settings.DisplayRatingsOnRecentPosts" />
                                        {{lbl.displayRatingsOnRecentPosts}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
