<div data-ng-controller="ProfileController">
    <div id="modal-custom" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">{{lbl.add}}</h4>
                </div>
                <div class="modal-body modal-roles">
                    <div class="form-group">
                        <label class="control-label" for="txtKey">Key</label>
                        <input type="text" id="txtKey" name="txtKey" class="form-control" data-ng-model="editItem.Key" focus-me="focusInput" />
                        <label class="control-label" for="txtValue">Value</label>
                        <input type="text" id="txtValue" name="txtValue" class="form-control" data-ng-model="editItem.Value" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-ng-click="saveCustom()" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-save"></i>{{lbl.save}}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header clearfix">
        <h2 class="page-title pull-left">
            {{lbl.myProfile}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
        </h2>
        <button data-ng-click="save()" class="btn btn-success btn-header pull-left" type="button"><i class="fa fa-check"></i>{{lbl.save}}</button>
    </div>
    
    <div class="content-inner">
        <div class="row">
            <div class="col-sm-6 clearfix">

                

                <div class="well">

                    <div class="form-group clearfix">
                        <div class="pull-left avatar-user">
                            <img ng-src="{{photo}}" class="pull-left" title="Avatar" />
                            <div class="avatar-control">
                                <a href="" data-ng-click="removePicture()" title="Remove Picture" type="button"><i class="fa fa-times-circle"></i></a>
                                <span>
                                    <a href="" id="picChange" data-ng-click="changePicture()" type="button"><i class="fa fa-picture-o"></i></a>
                                    <input type="file" title="Change Picture" data-role="magic-overlay" data-target="#picChange" onchange="angular.element(this).scope().changePicture(this.files)" />
                                </span>
                            </div>
                        </div>

                        <div class="pull-left user-info">
                            <span class="user-name">{{user.Profile.DisplayName}}</span>
                            <br />
                            <div class="role-control">
                                {{lbl.roles}}: <span data-ng-repeat="role in user.Roles" class="label label-default">{{role.RoleName}} </span>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="cbPrivate" type="checkbox" name="ckEnabled" data-ng-model="user.Profile.Private" />
                                    {{lbl.isPrivate}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label>{{lbl.aboutMe}}</label>
                        <textarea class="form-control about-textarea" data-ng-model="user.Profile.AboutMe" cols="69"></textarea>
                    </div>

                    <div id="frm-custom-edit" class="form-horizontal clearfix">
                        <h4>{{lbl.customFields}}</h4>
                        <button data-ng-click="showCustom()" class="btn btn-success btn-header pull-right" style="margin-top: -20px; margin-right: 15px" type="button">
                            <i class="fa fa-save"></i>{{lbl.add}}
                        </button>
                        <hr />
                        <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
                            <label class="control-label col-md-4">{{item.Key}}</label>
                            <div class="col col-md-7">
                                <input type="text" class="form-control" data-ng-model="item.Value" />
                            </div>
                            <div class="col col-md-1">
                                <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-sm-6">
                <div class="well">
                    <div id="frm-user-edit" class="form-horizontal clearfix">
                        <h4>{{lbl.personalDetails}}</h4>
                        <hr />
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.displayName}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.DisplayName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="txtFirstName">{{lbl.firstName}}</label>
                            <div class="col col-md-8">
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" data-ng-model="user.Profile.FirstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="txtLastName">{{lbl.lastName}}</label>
                            <div class="col col-md-8">
                                <input type="text" id="txtLastName" name="txtLastName" class="form-control" data-ng-model="user.Profile.LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.middleName}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.MiddleName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.birthday}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.Birthday" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.country}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.Country" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.regionState}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.RegionState" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.cityTown}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.CityTown" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.phoneMain}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.PhoneMain" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">{{lbl.phoneMobile}}</label>
                            <div class="col col-md-8">
                                <input type="text" class="form-control" data-ng-model="user.Profile.PhoneMobile" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $('[data-role=magic-overlay]').each(function () {
        var overlay = $(this), target = $(overlay.data('target'));
        overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
    });
</script>
