<div data-ng-controller="RolesController">
    <form id="form" action="">
        <div id="modal-edit" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="focusInput=false"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title">{{editItem.RoleName ? editItem.RoleName : lbl.addNewRole}}</h4>
                    </div>
                    <div class="modal-body modal-roles">
                        <div class="form-group" data-ng-if="newItem">
                            <label class="control-label" for="txtRoleName">{{lbl.name}}</label>
                            <input type="text" id="txtRoleName" name="txtRoleName" class="form-control" data-ng-model="editItem.RoleName" focus-me="focusInput" />
                        </div>
                        <div data-ng-repeat="item in rights | orderBy:Title">
                            <div class="panel panel-default">
                                <div class="panel-heading"><span>{{item.Title}}</span></div>
                                <div class="panel-body">
                                    <div class="col col-sm-6" data-ng-repeat="p in item.Permissions"><label><input type="checkbox" data-ng-model="p.IsChecked" /> {{p.Title}}</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-ng-click="save()" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-save"></i>{{lbl.save}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header clearfix">
            <h2 class="page-title pull-left"> <a href="#" class="help-link" data-title=""><i class="fa fa-question-circle"></i></a>
                {{lbl.roles}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <button data-ng-click="loadRightsForm()" class="btn btn-success btn-sm btn-hasicon pull-left" type="button"><i class="fa fa-plus"></i>{{lbl.createRole}}</button>
            <div class="btn-group pull-left">
                <button data-ng-click="processChecked('delete')" ng-disabled="itemsChecked() === false" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </div>
            <div class="search pull-right">
                <i class="fa fa-search"></i>
                <input type="text" ng-model="query" ng-change="search()" placeholder="{{lbl.search}}" />
                <i class="fa fa-times-circle"></i>
            </div>
        </div>
        <div class="content-inner">
            <table class="table table-item-roles">
                <thead>
                    <tr>
                        <th class="item-checkbox"><input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" /> </th>
                        <th class="item-title"><a data-ng-click="sort_by('RoleName',$event)">{{lbl.title}}</a></th>
                        <th class="item-sysrole">{{lbl.systemRole}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                        <td class="item-checkbox"> <input type="checkbox" id="{{item.UserName}}" data-ng-model="item.IsChecked" /> </td>
                        <td class="item-title"> <a title="click to edit" href="" ng-click="loadRightsForm(item.RoleName)">{{item.RoleName}}</a> </td>
                        <td class="item-sysrole"><input type="checkbox" data-ng-model="item.IsSystemRole" data-ng-disabled="true"></td>
                    </tr>
                    <tr id="tr-spinner"><td colspan="3"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
                </tbody>
            </table>
            <ul class="pagination" ng-if="items.length > itemsPerPage">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()" title="{{lbl.prev}}"><i class="fa fa-angle-left"></i></a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()" title="{{lbl.next}}"><i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </form>
</div>

