html {
    font-size: 1em;
}

html, body {
    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    background: $color-body-left;
    background: -webkit-linear-gradient(to left, $color-body-right, $color-body-left);
    background: linear-gradient(to left,$color-body-right, $color-body-left);
    cursor: default;
    overflow-y: scroll;
    padding-top: 2rem;
}

// typography
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
}

a {
    color: $color-theme;
    text-decoration: none !important;

    &:hover {
        color: darken($color-theme, 10%);
    }
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

// container
.container {
    width: 80rem;
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}

// blog-wrapper
.blog-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;

    > .blog-content,
    > .blog-sidebar {
        display: table-cell;
        vertical-align: top;
    }

    > .blog-sidebar {
        width: 18.75rem;
        min-width: 18.75rem;
        max-width: 18.75rem;
    }

    > .blog-content {
        padding-left: 2rem;
        min-width: 100%;
        width: 100%;
    }

    @media screen and (max-width: 75rem) {
        > .blog-sidebar {
            width: 15.625rem;
            min-width: 15.625rem;
        }
    }

    @media screen and (max-width: 64rem) {
        > .blog-content {
            padding-left: 1rem;
        }
    }

    @media screen and (max-width: 50rem) {
        display: block;

        > .blog-sidebar {
            .widgetzone {
                display: none;
            }

            .blog-footer {
                display: none;
            }
        }

        > .blog-sidebar,
        > .blog-content {
            display: block;
            vertical-align: top;
            padding: 0;
            min-width: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 64rem) {
    body {
        padding-top: 1rem;
    }

    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
