// clearfix
@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// transition
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

// transform
@mixin transform($transform...) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

// list-unstyled
@mixin unstyled() {
    list-style: none;
    margin: 0;
    padding: 0;
}


@mixin fontawesome($value) {
    content: $value;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
