// fonts
$font-family-base: "Open Sans", sans-serif;
$font-family-heading: "Kreon", serif;
$font-size-base: 1.125rem; 
$line-height-base: 1.8;
$font-weight-normal: 400;
$font-weight-bold: 700;

// colors
$color-body-left: #232526;
$color-body-right: #414345;
$color-widget: rgba(255, 255, 255, 0.1);
$color-theme: #0064c4;
$color-success: #19cf86;
$color-danger: #e81c4f;
$color-warning: #f6bb42;
$color-primary: #0064c4;
$color-info: #5bc0de;

//
$shadow-normal: 0 1px 2px rgba(0,0,0,0.1);

// pixel
$px1: 0.0625rem;
$px2: $px1 * 2;
$px3: $px1 * 3;
$px4: $px1 * 4;
$px5: $px1 * 5;
$px6: $px1 * 6;
$px7: $px1 * 7;
$px8: $px1 * 8;
$px9: $px1 * 9;
$px10: $px1 * 10;
$px11: $px1 * 11;
$px12: $px1 * 12;
$px13: $px1 * 13;
$px14: $px1 * 14;
$px15: $px1 * 15;
$px16: $px1 * 16;
$px17: $px1 * 17;
$px18: $px1 * 18;
$px19: $px1 * 19;
$px20: $px1 * 20;
