// direction
$dir-ltr: ltr;
$dir-rtl: rtl;

// colors
$color-body: #f5f5f5;
$color-theme: #0064c4;

$color-success: #19cf86;
$color-danger: #e81c4f;
$color-warning: #f6bb42;
$color-primary: #23b1f7;
$color-info: #5bc0de;

// fonts
$font-family-base: "Open Sans", sans-serif;
$font-family-heading: "Roboto Slab",  serif;
$font-size-base: 1rem;
$line-height-base: 1.8;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// nav
$nav-size: 2rem;

// logo
$logo-size: 2rem;

// pixel
$px1: 0.0625rem;
$px2: $px1 * 2;
$px3: $px1 * 3;
$px4: $px1 * 4;
$px5: $px1 * 5;
$px6: $px1 * 6;
$px7: $px1 * 7;
$px8: $px1 * 8;
$px9: $px1 * 9;
$px10: $px1 * 10;
$px11: $px1 * 11;
$px12: $px1 * 12;
$px13: $px1 * 13;
$px14: $px1 * 14;
$px15: $px1 * 15;
$px16: $px1 * 16;
$px17: $px1 * 17;
$px18: $px1 * 18;
$px19: $px1 * 19;
$px20: $px1 * 20;