.page-global {
    background: #fff;
    margin-bottom: 2rem;
    padding: 3rem;

    .page-global-title {
        font-size: 1.5rem;
    }
}

#trackbacks {
    background: #fff;
    margin-bottom: 2rem;
    padding: 3rem;
}

.well-global {
    background: #fff;
    margin-bottom: 2rem;
    padding: 3rem;
    .well-global-title {
          font-size: 1.5rem;
    }
}
