.custom-themes-view {
    //
    .form-customfiled {
        label {
            font-size: 12px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .form-control {
            height: 30px;
            padding: 0 10px;
        }
    }
    //
    .theme-item {
        padding: 2px;
        background-color: #fff;
        border: 1px solid #e9e9e9;
        position: relative;
        height: 300px;
        margin-bottom: 30px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-box-shadow: 0 1px 0 #f1f1f1;
        -webkit-box-shadow: 0 1px 0 #f1f1f1;
        box-shadow: 0 1px 0 #f1f1f1;

        .item-img {
            position: relative;
            background: #fff;
            overflow: hidden;
            height: 100%;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            img {
                width: 100%;
            }
        }

        .item-checkbox {
            position: absolute;
            top: 15px;
            left: 15px;
            margin: 0;
            -moz-transition: all ease .5s;
            -o-transition: all ease .5s;
            -webkit-transition: all ease .5s;
            transition: all ease .5s;
            opacity: 0;

            &:disabled {
                display: none;
            }
        }

        .item-info {
            border: 2px solid #fafafa;
            border-top: 1px solid #eee;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #fafafa;
            width: 100%;
            margin: 0;
            padding: 10px;
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .item-title {
            position: relative;
            top: 5px;
            margin: 0;
        }

        .item-active {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: #1cac7b;
            margin: 0;
            font-size: 40px;
            text-align: center;
            line-height: 300px;
            height: 100%;
            background: rgba(0, 0, 0, 0.10);
        }

        &:hover {
            .item-checkbox {
                opacity: 1;
            }
        }

        &.theme-item-active {
            background: #1cac7b;
            border-color: #1cac7b;

            .btn-default {
                border-color: #109a6b;
                border-radius: 3px;
                overflow: hidden;

                &:hover {
                    border-color: #109a6b !important;
                }
            }

            .item-info {
                background: #1cac7b;
                border-color: #1cac7b;
                color: #fff;
            }
        }
    }
    //
    .modal-package {
        padding: 0 !important;

        .modal-themes-info {
            padding: 30px;
            background: #fff;

            p {
                margin-bottom: 20px;
            }

            .form-group {
                margin-bottom: 3px;
                font-size: 13px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .modal-package-review {
            padding: 30px;
            background: #eee;

            .panel:last-child {
                margin-bottom: 0;
            }

            .star-rating {
                margin-top: 5px;
                width: 75px;
            }
        }

        .modal-package-image {
            padding: 30px;
            border-top: 1px solid #eee;

            img {
                width: 100%;
            }
        }
    }
}
