.custom-widgets-view {
    .red-border {
        border: 1px solid red !important;
    }

    #w-zones .panel-body {
        padding: 10px 15px;
        line-height: 30px;
    }

    .panel-primary {
        margin-bottom: 5px;
        cursor: move;
    }

    .modal .modal-body {
        height: auto;
    }

    #settingsFrame {
        height: 100%;
        max-height: 500px;
    }

    .header-txt {
        border: 1px solid #e5e5e5;
        line-height: 32px;
        margin-top: 10px 10px 0 0;
        width: 400px;
        padding: 0 10px;
    }

    .sortable-empty {
        border: 3px dashed #b4b9be;
        padding: 15px;
    }

    .field-validation-error {
        background-color: #d9534f;
        border-color: #d9534f;
        color: #ffffff;
        padding: 5px 15px;
        display: block;
    }

    .content-inner {
        max-width: 1024px;

        .btn-group {
            .btn {
                margin: 0 !important;
            }

            .btn-default {
                border-right: none;
            }
        }

        h3 {
            margin-bottom: 25px;
        }

        .ui-draggable {
            width: 100%;
        }

        .ui-draggable-dragging {
            z-index: 10000;
        }
    }
}
