html, body { height: 100%; }
body { font-family: 'Open Sans', Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.8; cursor: default; }
h1, h2, h3, h4, h5, h6 { font-family: 'Bitter', 'Open Sans', Arial, sans-serif; font-weight: 400; margin: 0 0 10px; letter-spacing: -1px; line-height: 1.2; }
p { margin: 0 0 15px 0; }
img { max-width: 100%; }
.container { width: 768px; max-width: 100%; }
.wrapper { min-height: 100%; margin-bottom: -50px; }
.wrapper:after { content: ""; display: block; height: 50px; }

h1, h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5, h6 { font-size: 18px; }


/**/
.header { background: linear-gradient(#f4f4f4, #FFF) repeat scroll 0% 0%; padding: 100px 0; }

/**/
.blog-info { }
.blog-info .blog-logo { background: #fff; width: 120px; height: 120px; display: block; margin: 0 auto 20px; overflow: hidden; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; -moz-box-shadow: 0 1px 2px #ddd; -webkit-box-shadow: 0 1px 2px #ddd; box-shadow: 0 1px 2px #ddd; }
.blog-info .blog-logo a { display: block; height: 100%; outline: none; }
.blog-info .blog-logo img { vertical-align: top; }

.blog-info .blog-title { margin-bottom: 20px; }
.blog-info .blog-title a { text-decoration: none; font-family: 'Bitter','Open Sans', Arial, sans-serif; color: #555; font-size: 28px; }
.blog-info .blog-title a:hover { color: #000; }

/**/
.header-nav { }
.header-nav ul { list-style: none; margin: 0; padding: 0; }
.header-nav ul li { margin: 0 10px; display: inline-block; }
.header-nav ul li a { font-size: 16px; text-transform: uppercase; color: #666; }


/*[]*/
.post { border-bottom: 1px solid #eee; padding-bottom: 40px; margin-bottom: 40px; }
.post .post-header { margin-bottom: 0; }
.post .post-header .post-title { margin: 0; }
.post .post-header .post-title a { color: #000; text-decoration: none; }

.post .post-info { margin: 15px 0; }
.post .post-info > span { display: inline-block; margin-right: 6px; text-transform: uppercase; font-size: 11px; color: #888; }
.post .post-info > span:after { content: "/"; margin-left: 8px; font-size: 12px; vertical-align: top; color: #999; }
.post .post-info > span:last-child:after { display: none; }
.post .post-info a { color: #888; text-decoration: none; }
.post .post-info a:hover { color: #555; }

.post .post-body { }
.post .post-body h1,
.post .post-body h2,
.post .post-body h3,
.post .post-body h4,
.post .post-body h5,
.post .post-body h6 { margin-bottom: 10px; margin-top: 30px; }
.post .post-body p { margin-bottom: 20px; }
.post .post-body p:last-child { margin-bottom: 0; }


/**/
.post .post-body pre { border: none; background: #222; color: #aaa; margin: 25px 0; }

/**/
hr { margin: 25px 0; }
table { width: 100%; margin: 25px 0 20px; }
table td { border: 1px solid #ddd; padding: 5px 15px; }





/*[09]*/
.comment-item .comment-content { border: 1px solid #ddd; border-radius: 1px; padding: 2%; margin-left: 10px; margin-bottom: 10px !important; }
.comment-item .comment-content p { margin: 0; }
.comment-item .comment-gravatar { position: relative; }
.comment-item .comment-gravatar img { border-radius: 1px; float: left; }
.comment-item .comment-header { border-bottom: 1px solid #EEE; padding-bottom: 5px; height: 40px; margin: 0; }
.comment-item .comment-header h4 { font-weight: normal; font-size: 18px; color: #333; margin: 0; }
.comment-item .comment-header h4 a { color: #333; }
.comment-item .comment-content.self { background-color: #ebffe5; border-color: #c0e0b2 !important; }
.comment-item .self .comment-header { border-bottom-color: #c0e0b2; }
.comment-item .self .comment-header h4 a,
.comment-item .self .comment-header h4 { color: #376f1d !important; }
.comment-item .self a { color: #74af5a; }
.comment-item .self .comment-header .text-uppercase { color: #c0e0b2; }
.comment-item .comment-form { border: 1px solid #CCC; margin: 15px 0; }
#commentlist .media, #commentlist ul, #commentlist ol { margin: 0 !important; list-style: none; padding: 0; }
#commentlist { padding: 20px; background: #f8f8f8; margin-bottom: 30px; }
.comment-item .media-list { padding-left: 30px !important; }

/*[10]*/
.comment-form { background: #f8f8f8; padding: 20px; }
#comment-form .success { background: #EA2B1F; border-radius: 1px; color: #fff; display: block; padding: 15px; }
.comment-form .comment-menu { width: 80px; position: relative; top: 10px; right: -10px; }
.comment-form .comment-menu .btn { cursor: pointer; float: right; line-height: 0; padding: 0; border-radius: 2px; border: 1px solid #fff; text-align: center; height: 30px; width: 30px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; height: 30px; line-height: 30px; display: block; color: #aaa; text-align: center; }
.comment-form .comment-menu .btn i { display: block; line-height: 26px; height: 30px; text-align: center; width: 30px; margin: 0; }
.comment-form .comment-menu .btn.active { background-color: #fff; color: #333; }
.comment-form .comment-preview { height: auto !important; }
.comment-form .comment-preview .comment-content { border: none; }
.comment-form .comment-preview .comment-header small { display: none; }
.comment-form .btn-primary { display: block; width: 100%; }
.comment-form .comment-preview ul { list-style: none; margin: 0; padding: 0; }
.comment-form .comment-preview .carrow { display: none; }
.comment-form .comment-preview .comment-item .comment-header { border: none; }
#commenttoggle { display: none; }

/*[11]*/
.related-posts { background: #f8f8f8; padding: 30px; margin-bottom: 30px; }
.related-posts h3 { }
.related-posts ul li div { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; color: rgb(136, 136, 136); }
.related-posts ul li { padding: 10px 15px; border-bottom: 1px solid #eee; }
.related-posts ul li:last-child { border: none; }



.page-global { }
.page-global .page-global-title { border-bottom: 1px solid #eee !important; margin: 0 0 20px 0 !important; padding-bottom: 15px !important; font-weight: bold !important; font-size: 20px !important; }


/*[26]*/
.archive-page .archive-page-content h2 { font-size: 16px; height: 30px; margin-top: 40px; line-height: 35px; }
.archive-page .archive-page-content h2 img { margin: 0 3px; position: relative; }
.archive-page ul { list-style-type: square; margin: 0 10px; padding: 10px; }
.archive-page table { width: 100%; border-collapse: collapse; }
.archive-page table th:first-child { width: 90px; }
.archive-page table th { background: #F1F1F1; font-size: 14px; text-transform: uppercase; border: 1px solid #DDD; padding: 3px; text-align: center; }
.archive-page table td { border: 1px solid #DDD; font-size: 14px; padding: 3px; }
.archive-page .date { width: 90px; text-align: center; }
.archive-page .comments { width: 70px; text-align: center; }
.archive-page .rating { width: 70px; text-align: center; }
