@font-face { font-family: 'Yekan'; src: url('../fonts/Yekan.woff') format('woff'); }
.rtl { direction: rtl; font-family: Yekan, Arial; line-height: 1.5; }
.rtl .float-right { float: left; }
.rtl .float-left { float: right; }
.rtl .header-nav ul li { float: right; margin: 0 40px 0 0; }
.rtl .header-title h1 { margin-bottom: 5px; }
.rtl .header-title p { letter-spacing: 0; }
.rtl .post .post-header .post-title { font-size: 18px; }
.rtl .post .post-body { font-size: 14px; line-height: 2.1; }
.rtl .widget .widget-header { letter-spacing: 0; font-size: 16px; }
.rtl .post .post-rating p { right: 60px; }
.rtl .comment-item .comment-content { margin-left: 0; margin-right: 82px; }
.rtl .comment-item .carrow { right: auto; left: -11px; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rtl .comment-item .media-list { padding-right: 30px !important; padding-left: 0 !important; }
 