<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/themes/standard/css/styles.css">
    <style>body { background-color: #fff; }</style>
</head>
<body>
    <form method="post">
        <div>
            <button type="submit" onclick="window.parent.updateTitle()" class="btn btn-success btn-sm pull-left">
                @Resources.labels.save
            </button>
        </div>
    </form>
</body>
</html>