<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/admin/themes/standard/css/styles.css">
<style>
    body {
        background-color: #fff;
    }
</style>
<form method="post">
    <div>
        <button type="submit" onclick="window.parent.updateTitle()" class="btn btn-success btn-sm pull-left">
            Save
        </button>
    </div>
</form>
