@{
    var title = Model.Title;
    var cloud = new BlogEngine.Core.Data.Services.TagCloud();
    var tags = cloud.Links();
}
<div class="Widget tagcloud" id="widget@(Model.Id)">
    <h4 class="WidgetHeader">@title</h4>
    <div class="WidgetContent">
        <ul>
            @foreach (var tag in tags)
            {
            <li>@Html.Raw(tag)</li>
            }
        </ul>
    </div>
</div>