// main-loading
.main-loading {
    @include user-select(none);
    @include border-radius(3px);
    background: none;
    text-transform: uppercase;
    border: 2px solid #1cac7b;
    padding: 6px 8px;
    z-index: 10000;
    position: fixed;
    right: 30px;
    bottom: 30px;

    .loader {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: solid 3px #aaa;
        border-left-color: #1cac7b;
        @include box-sizing(border-box);
        @include border-radius(50%);
        -webkit-animation: loader 400ms linear infinite;
        animation: loader 400ms linear infinite;
    }

    .loader-text {
        font-size: 10px;
        color: #666;
        vertical-align: top;
        position: relative;
        top: 4px;
        margin-left: 6px;
        display: inline-block;
    }

    @-webkit-keyframes loader {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

// loading
.loading {
    display: inline-block;
}

.loaded {
    display: none;
}

// ellipsis
.text-ellipsis {
    @include text-overflow(ellipsis);

    &.text-ellipsis-sm {
        max-width: 100px !important;
        text-align: center !important;
        margin: 0 auto;
    }
}

// well
.well {
    background-color: #fff;
    @include border-radius(0);
}