// colors
$color-success: #24b685;
$color-danger: #ea5a5a;
$color-warning: #f6bb42;
$color-base: #ccc;

// fonts
$font-family-roboto: "Roboto";
$font-family-base: $font-family-roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-size-base: 14px;
$line-height-base: 1.8;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

// direction
$dir-ltr: ltr;
$dir-rtl: rtl;
