//
.profile-info {
    margin-bottom: 10px;

    .profile-info-img {
        border-radius: 100%;
        margin-right: 20px;
        max-width: 100px;
    }

    .profile-info-title {
        padding-top: 14px;
        font-size: 18px;
        margin-bottom: 3px;
        color: #000;
    }

    .profile-info-role {
        color: #888;
        margin-bottom: 3px;
    }

    .btn-link-picture {
        display: inline-block;
        font-size: 10px;
        cursor: pointer;
        margin-right: 5px;
        text-transform: uppercase;
        color: #888;
    }

    .btn-link-picture-change:hover {
        color: #00b578;
    }

    .btn-link-picture-remove:hover {
        color: #dd4949;
    }
}

//
.modal-roles {
   .section-role {
        background: #f9f9f9;
        margin-bottom: 10px;
        border: 1px solid #eee;
    }

    .section-role-title {
        background: #f9f9f9;
        border-bottom: 1px solid #eee;
        padding: 5px 15px;
    }

    .section-role-body {
        padding: 5px 0;
        font-size: 12px;
    }
}
