<ul class="nav-head">
    <li><a href="/Account/login.aspx?logoff"><i class="fa fa-sign-out"></i></a></li>
    <li><a href="/admin/#/users/profile"><i class="fa fa-user"></i></a></li>
    <li><a href="/"><i class="fa fa-home"></i></a></li>
    <li><a href="#"><i class="fa fa-bell"></i></a></li>
</ul>
<ul class="nav-primary" data-ng-controller="NavController">
    <li id="mu-dashboard" class="active"><a href="{{SiteVars.RelativeWebRoot}}admin/#/dashboard"><i class="fa fa-th-large"></i>Dashboard</a></li>
    <li id="mu-content">
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/content"><i class="fa fa-align-justify"></i>Content</a>
        <ul>
            <li data-ng-class="{ active: isActive('/content/blogs')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/blogs">Blogs</a></li>
            <li data-ng-class="{ active: isActive('/content')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content">Posts</a></li>
            <li data-ng-class="{ active: isActive('/content/comments')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/comments">Comments</a></li>
            <li data-ng-class="{ active: isActive('/content/pages')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/pages">Pages</a></li>
            <li data-ng-class="{ active: isActive('/content/categories')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/categories">Categories</a></li>
            <li data-ng-class="{ active: isActive('/content/tags')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/tags">Tags</a></li>
            <li data-ng-class="{ active: isActive('/content/files')}"><a href="{{SiteVars.RelativeWebRoot}}admin/#/content/files">File Manager</a></li>
        </ul>
    </li>
    <li id="mu-custom">
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/custom"><i class="fa fa-user"></i>Custom</a>
        <ul>
            <li data-ng-class="{ active: isActive('/custom')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom">Extensions</a></li>
            <li data-ng-class="{ active: isActive('/custom/widgets')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/custom/widgets">Widgets</a></li>
        </ul>
    </li>
    <li id="mu-users">
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/users"><i class="fa fa-user"></i>Users</a>
        <ul>
            <li data-ng-class="{ active: isActive('/users')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/users">Users</a></li>
            <li data-ng-class="{ active: isActive('/users/roles')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/users/roles">Roles</a></li>
            <li data-ng-class="{ active: isActive('/users/profile')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/users/profile">Profile</a></li>
        </ul>
    </li>
    <li id="mu-settings">
        <a href="{{SiteVars.RelativeWebRoot}}admin/#/settings"><i class="fa fa-cog"></i>Settings</a>
        <ul>
            <li data-ng-class="{ active: isActive('/settings')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings">Basic</a></li>
            <li data-ng-class="{ active: isActive('/settings/email')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/email">E-mail</a></li>
            <li data-ng-class="{ active: isActive('/settings/feed')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/feed">Feed</a></li>
            <li data-ng-class="{ active: isActive('/settings/comments')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/comments">Comments</a></li>
            <li data-ng-class="{ active: isActive('/settings/controls')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/controls">Controls</a></li>
            <li data-ng-class="{ active: isActive('/settings/advanced')}"><a class="ng-binding" href="{{SiteVars.RelativeWebRoot}}admin/#/settings/advanced">Advanced</a></li>
        </ul>
    </li>
    <li id="mu-gallery"><a href="{{SiteVars.RelativeWebRoot}}admin/#/gallery"><i class="fa fa-cloud-download"></i>@Resources.labels.gallery</a></li>
    <li id="mu-help"><a href="{{SiteVars.RelativeWebRoot}}admin/#/help"><i class="fa fa-question-circle"></i>Help Center</a></li>
    <li id="mu-about"><a href="{{SiteVars.RelativeWebRoot}}admin/#/about"><i class="fa fa-question-circle"></i>BlogEngine.NET 4.0</a></li>
</ul>