<div class="btn-group fileupload-wrapper">
    <div class="btn-group btn-group-fileupload">
        <button type="button" tabindex="-1" class="btn btn-default" id="fileBtn"><i class="fa fa-upload"></i> {{lbl.attachFile}}</button>
        <input type="file" data-role="magic-overlay" tabindex="-1" data-target="#fileBtn" title="{{lbl.attachFile}}" onchange="angular.element(this).scope().uploadFile('file', this.files)" />
    </div>
    <div class="btn-group btn-group-fileupload">
        <button type="button" tabindex="-1" class="btn btn-default" id="videoBtn"><i class="fa fa-video-camera"></i> {{lbl.insertVideo}}</button>
        <input type="file" data-role="magic-overlay" tabindex="-1" data-target="#videoBtn" title="{{lbl.insertVideo}}" onchange="angular.element(this).scope().uploadFile('video', this.files)" />
    </div>
    <div class="btn-group">
        <button type="button" tabindex="-1" class="btn  btn-default" id="pictureBtn" data-target="#modal-file-manager" data-toggle="modal" title="{{lbl.filePicker}}"><i class="fa fa-folder-open"></i> {{lbl.filePicker}}</button>
    </div>

    @*<div class="btn-group" style="padding-left: 15px" ng-if="twitterItem.Value && twitterItem.Value.length > 0">
        <label>
            <input type="checkbox" id="ck-twitter" />
            Post to Twitter
        </label>
    </div>
    <div class="btn-group" style="padding-left: 15px" ng-if="facebookItem.Value && facebookItem.Value.length > 0">
        <label>
            <input type="checkbox" id="ck-facebook" />
            Post to Facebook
        </label>
    </div>*@
</div>

<div class="btn-group">
    <button type="button" ng-disabled="post.Id === null || post.Id === ''" class="btn  btn-default" style="margin-left: 20px" id="btnCustomFields" data-ng-click="showCustom()" data-toggle="modal" title="{{lbl.customFields}}"><i class="fa fa-flask"></i> {{lbl.customFields}}</button>
</div>

<div id="frm-custom-edit" ng-if="customFields && customFields.length > 0" class="form-horizontal clearfix">
    <h4>{{lbl.customFields}}</h4>
    <hr />
    <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
        <label class="control-label col-md-4">{{item.Key}}</label>
        <div class="col col-md-7">
            <input type="text" class="form-control" data-ng-model="item.Value" />
        </div>
        <div class="col col-md-1">
            <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
        </div>
    </div>
</div>   