@using System.Web.Optimization
@using BlogEngine.Core
@{
    Layout = "~/admin/themes/standard/layout.cshtml";
    if (!Security.IsAuthorizedTo(Rights.EditOwnPosts))
    {
        Security.RedirectForUnauthorizedRequest();
    }
}
<div class="content" ng-controller="PostEditorController">
    <form id="form" action="">

        <div class="page-header clearfix">
            <div style="margin: 0 18px !important">
                <input type="text" id="txtTitle" name="txtTitle" placeholder="{{lbl.titleOfPost}}..." class="pull-left input-page-title" data-ng-model="post.Title" />

                <span ng-if="post.Id"><a href="{{post.RelativeLink}}" class="btn btn-default btn-tabkey pull-right" target="_blank"><i class="fa fa-eye"></i> {{lbl.goToPost}}</a></span>
                <a ng-if="status() == 2" href="#" data-ng-click="save()" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-save"></i>{{lbl.save}}</a>
                <a ng-if="status() < 2" href="#" data-ng-click="publish(true)" class="btn btn-success btn-tabkey pull-right"><i class="fa fa-check"></i>{{lbl.publish}}</a>
                <span ng-if="status() < 2"><a href="#" ng-click="save()" class="btn btn-default btn-tabkey pull-right"><i class="fa fa-save"></i> {{lbl.save}}</a></span>
                <span ng-if="post.Id && post.IsPublished"><a href="#" class="btn btn-default btn-tabkey pull-right" ng-click="publish(false)"><i class="fa fa-undo"></i> {{lbl.unpublish}}</a></span>
                <a href="" onclick="window.history.back()" class="btn btn-default btn-tabkey pull-right"><i class="fa fa-ban"></i>{{lbl.cancel}}</a>
                <span id="spinner" class="loaded btn-tabkey"><i class='fa fa-spinner fa-spin fa-lg'></i></span>

                <span id="spinner" class="loaded btn-tabkey pull-right"><i class='fa fa-spinner fa-spin fa-large'></i></span>
            </div>
        </div>

        <div class="content-inner">
            <div class="col col-md-9">
                @RenderPage(BlogConfig.DefaultEditor)

                <div class="post-tags-selector" style="margin-top: 5px">
                    <div class="pull-left" style="padding: 3px 5px; background-color: #e5e5e5">
                        <i class="fa fa-tag fa-sm"></i>
                        {{lbl.tags}}
                    </div>
                    <div class="" style="margin-left: 70px">
                        <textarea id="postTags" class="form-control" style="margin-top: 4px; margin-left: 4px" placeholder="{{lbl.typeAndEnter}}..." rows="1"></textarea>
                    </div>
                </div>

                <div style="border-bottom: 1px solid #e5e5e5; display: inline-block; width: 100%; margin: 8px 0">
                    <h4 class="page-title pull-left">{{lbl.customFields}}</h4>
                    <a href="" ng-disabled="post.Id === null || post.Id === ''" class="btn btn-default btn-header pull-right" type="button" id="btnCustomFields" ng-click="showCustom()" toggle="modal"><i class="fa fa-plus"></i>{{lbl.add}}</a>
                </div>
                <div id="frm-custom-edit" ng-if="customFields && customFields.length > 0" class="form-horizontal clearfix">
                    <div style="display: inline-block; width: 100%; padding:  0 0 15px 0" data-ng-repeat="item in customFields">
                        <label class="control-label col-md-4">{{item.Key}}</label>
                        <div class="col col-md-7">
                            <input type="text" class="form-control" data-ng-model="item.Value" />
                        </div>
                        <div class="col col-md-1">
                            <a href="" ng-click="deleteCustom(item.Key, item.ObjectId)" title="{{lbl.doDelete}}" style="position: relative; top: 10px; color: red"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-folder"></i> {{lbl.categories}}
                    </div>
                    <ul class="list-group categories-list">
                        <li class="list-group-item" ng-repeat="cat in lookups.CategoryList">
                            <label>
                                <input type="checkbox" id="cat-{{cat.OptionValue}}" data-ng-model="cat.IsSelected" />
                                {{cat.OptionName}}
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-file"></i> {{lbl.postMeta}}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="txtSlug">{{lbl.slug}}</label>
                            <input type="text" class="form-control" id="txtSlug" data-ng-model="post.Slug" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selAuthors">{{lbl.author}}</label>
                            <select id="selAuthors" class="form-control" data-ng-options="o.OptionName for o in lookups.AuthorList" data-ng-model="selectedAuthor"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="txtDate">{{lbl.datePublished}}</label>
                            <input type="text" class="form-control dateFormatted" id="txtDate" name="txtDate" data-ng-model="post.DateCreated" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="txtExcerpt">{{lbl.description}}</label>
                            <textarea class="form-control" id="txtExcerpt" data-ng-model="post.Description"> </textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="ckEnableComments" data-ng-model="post.HasCommentsEnabled" />
                                    {{lbl.enableComments}}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@Scripts.Render("~/scripts/wysiwyg")
@{
    if (BlogConfig.DefaultEditor == "~/admin/editors/tinymce/editor.cshtml")
    {
        <script src="~/admin/editors/tinymce/tinymce.min.js"></script>
        <script src="~/admin/editors/tinymce/editor.js"></script>
    }
}