.content-categories-view {
    .table-item-categories {
        .item-desc {
            width: 80px;
            padding: 0 10px;
        }

        .item-count {
            width: 70px;
        }

        .item-parent {
            width: 80px;
        }
    }
}
