.content-comments-view {
    //
    .comment-view-reply {
        .comment-view-box {
            margin-bottom: 10px;
            display: block;
            font-family: monospace;
            white-space: pre-wrap;
            min-height: 100px;
            max-height: 200px;
            overflow: auto;
            @include border-radius(2px);
        }
    }
    // table
    .table-item-comments {
        .item-avatar {
            width: 44px;
            padding: 0;
        }

        .item-avatar img {
            width: 32px;
            height: 32px;
        }

        .item-date {
            width: 120px;
        }

        .item-author {
            width: 80px;
        }

        .item-status {
            width: 80px;
        }

        @media screen and (max-width:1023px) {
            .item-author {
                display: none;
            }
        }

        @media screen and (max-width:768px) {
            .item-avatar,
            .item-status {
                display: none;
            }
        }
    }
}
