.security-roles-view {
    .modal-roles {
        .section-role {
            background: #f9f9f9;
            margin-bottom: 10px;
            border: 1px solid #eee;
        }

        .section-role-title {
            background: #f9f9f9;
            border-bottom: 1px solid #eee;
            padding: 5px 15px;
        }

        .section-role-body {
            padding: 5px 0;
            font-size: 12px;
        }
    }
}
