.categorylist {
    ul {
        li {
            a img {
                display: none;
            }
        }

        a[rel=nofollow] {
            &:before {
                width: .75rem;
                height: .75rem;
                color: $color-warning;
                margin-right: .25rem;
                @include fontawesome("\f09e");
            }
        }
    }
}
