.newsletter {

    .widget-content {
        padding: 1rem;
    }

    input[type=text] {
        margin-bottom: 15px;
        width: 100% !important;
        color: #fff;
    }

    #newsletteraction {
        font-size: 1.5rem;
        color: $color-success;

        input[type="text"] {
            direction: ltr !important;
        }
    }

    .btn {
        display: block;
        width: 100%;
    }
}
