.btn {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    padding: 0 .5rem !important;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-wrapper {
    .btn {
        display: block;
        width: 100%;
    }
}
