.form-control {
    height: 2.5rem;
    background: none;
    border-radius: 0;
    box-shadow: none;

    &:focus {
        box-shadow: none;
        border-color: $color-theme;
    }
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: .75rem;
    text-transform: uppercase;
}

label {
    font-weight: $font-weight-bold;
    font-size: 1rem;
}

.required-field {
    color: $color-danger;
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: .25rem;
    margin-left: .25rem;

    &[style="visibility:hidden;"] {
        display: none;
    }
}
