
/*[28]*/
.syntaxhighlighter { padding: 15px 3px; direction: ltr !important; }
.syntaxhighlighter .alt1 { background: #d6ebff !important; }
.syntaxhighlighter .line { font-size: 13px !important; line-height: 20px !important; background: #CCC !important; }
.syntaxhighlighter .container textarea { font-size: 13px !important; line-height: 20px !important; }
