.syntaxhighlighter {
    padding: 15px 3px;
    direction: ltr !important;

    .alt1 {
        background: #d6ebff !important;
    }

    .line {
        font-size: 13px !important;
        line-height: 20px !important;
        background: #CCC !important;
    }

    .container textarea {
        font-size: 13px !important;
        line-height: 20px !important;
    }
}
