<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicQuery" version="1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net48" />
</packages>