body { font-family: 'Roboto', sans-serif; background-color: #fff; cursor: default; font-weight: 400; font-size: 14px; height: 100%; overflow-y: scroll; }
.ltr-dir { direction: ltr; }
.rtl-dir { direction: rtl; }
a:hover, a:focus { text-decoration: none; }
img { max-width: 100%; }
label { font-weight: normal; }
input[type=checkbox] { position: relative; top: 2px; }
.checkbox input[type=checkbox] { position: relative; top: 1px; }
.text-ellipsis { display: block; overflow: hidden; white-space: nowrap; max-width: 350px; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.text-ellipsis-sm { max-width: 100px !important; text-align: center !important; margin: 0 auto; }
.loading { display: inline-block; }
.loaded { display: none; }
.well { background-color: #fff; border-radius: 0; }
hr { border-color: rgba(0, 95, 133, 0.2); }

h1, h2, h3, h4, h5, h6 { font-weight: 500; }

/*[]*/
.wrapper { width: 100%; height: 100%; padding-left: 250px; }
.sidebar { position: fixed; left: 0; top: 0; width: 250px; height: 100%; overflow: auto; background: #2f353f; font-size: 13px; }
.sidebar a { color: #a7b1c2; }
.content { width: 100%; }
.content-inner { padding: 30px; }
