/*[user-nav]*/
.user-nav { width: 230px; height: 60px; position: relative; padding: 15px; padding-left: 60px; border-bottom: 1px solid #1f222d; }
.user-nav img { width: 30px; height: 30px; position: absolute; left: 15px; top: 15px; border-radius: 100%; background: #1f222d; }
.user-nav .user-nav-info { text-transform: uppercase; }
.user-nav .user-nav-info .user-nav-name { height: 15px; line-height: 12px; font-size: 12px; }
.user-nav .user-nav-info ul { list-style: none; padding: 0; margin: 0; height: 15px; }
.user-nav .user-nav-info ul li { display: inline-block; margin-right: 5px; }
.user-nav .user-nav-info ul li:first-child:after { content: ""; display: inline-block; width: 1px; height: 7px; background: #74808f; margin-left: 8px; }
.user-nav .user-nav-info ul li a { font-size: 10px; }
.user-nav .user-nav-info ul li a:hover { color: #bfcad5; }
.user-nav .user-nav-info ul li a i { }

/*[primary-nav]*/
.nav-primary { width: 230px; list-style: none; padding: 0; margin: 0; }
.nav-primary > li { position: relative; }
.nav-primary > li > .fa-icon { position: absolute; z-index: 5; font-size: 14px; left: 15px; top: 15px; width: 30px; height: 20px; line-height: 20px; color: #74808f; text-align: center; }
.nav-primary > li > a { outline: none !important; text-transform: uppercase; cursor: pointer; z-index: 6; position: relative; line-height: 48px; height: 50px; padding-left: 60px; display: block; font-weight: 500; }

/**/
.nav-primary > li.active { background: #1f222d; }
.nav-primary > li.active > a { color: #bfcad5; }
.nav-primary > li.active > .fa { color: #bfcad5; }
.nav-primary > li.active ul { display: block; }
.nav-primary > li.active:after { content: ""; display: block; width: 0; height: 0; border-right: 8px solid #f6f6f6; border-bottom: 8px solid transparent; border-top: 8px solid transparent; position: absolute; top: 17px; right: 0; }

/**/
.nav-primary ul { display: none; padding: 0 0 15px 60px; margin: 0; list-style: none; }
.nav-primary ul li a { display: block; line-height: 30px; outline: none; }
.nav-primary ul li.active a { color: #bfcad5; }


@media screen and (max-width:1024px) {
    .nav-primary > li.active:after { display: none; }
}
