.nav-primary { background-color: #2f353f; }
.nav-primary,
.nav-primary ul { margin: 0; list-style: none; white-space: nowrap !important; padding: 0; color: #a7b1c2; transition: all ease 0.5s; }
.nav-primary > li { min-height: 50px; position: relative; padding-top: 50px; }
.nav-primary li a { color: #a7b1c2; display: block; }
.nav-primary > li > a { overflow: hidden; line-height: 50px; outline: none; height: 50px; padding-left: 50px; text-transform: uppercase; z-index: 2; position: absolute; top: 0; width: 100%; }
.nav-primary > li > i { width: 50px; text-align: center; position: absolute; font-size: 14px; left: 0; top: 0; line-height: 50px; z-index: 1; }
.nav-primary > li.active { background-color: #272c35; outline: none; }
.nav-primary > li.active > a { color: #fff; }
.nav-primary > li.active > i { color: #fff; }
.nav-primary > li.active:after { position: absolute; right: 0; top: 15px; content: ""; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid #f5f5f5; z-index: 4; }
.sidebar-icon .sidebar .nav-primary > li.active:after { display: none; }
.nav-primary ul { display: none; }
.nav-primary > li.active ul { display: block; padding-left: 50px; padding-bottom: 20px; }
.nav-primary > li > ul > li a { line-height: 25px; outline: none; }
.nav-primary > li > ul > li.active a { color: #fff; }
.sidebar-icon .sidebar .nav-primary > li:hover { background-color: #272c35; }
.sidebar-icon .sidebar .nav-primary > li ul { background-color: #272c35; padding: 0 0 15px; width: 125px; display: none; position: absolute; top: 40px; left: 100%; z-index: 5; }
.sidebar-icon .sidebar .nav-primary > li:hover ul { display: block; }
.sidebar-icon .sidebar .nav-primary > li > a { padding-left: 50px; z-index: 1; position: absolute; display: none; width: 175px; }
.sidebar-icon .sidebar .nav-primary > li > a > span { display: block; width: 125px; height: 50px; padding-left: 10px; background-color: #272c35; }
.sidebar-icon .sidebar .nav-primary > li:hover > a { display: block; }
.sidebar-icon .sidebar .nav-primary > li.hasul > a { margin-left: 50px; padding-left: 0; width: 125px; }
.sidebar-icon .sidebar .nav-primary > li ul li a { padding-left: 20px; }
.nav-primary li.nav-blog-info { background-color: #2f353f !important; position: relative; }
.sidebar-icon .sidebar .nav-blog-name { display: none !important; }
.nav-toggle { z-index: 4; position: absolute; background: none; border: none; margin: 0; top: 0; left: 0; width: 50px; height: 50px; padding-left: 17px; outline: none !important; transition: all ease 0.3s; }
.nav-toggle span { display: block; background-color: #a7b1c2; height: 2px; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.nav-toggle .line-2 { width: 14px; margin-bottom: 1px; margin-top: 1px; }
.nav-toggle .line-3 { width: 10px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-left: -3px; }
.nav-toggle .line-1 { width: 10px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-left: -3px; }
.sidebar-icon .sidebar .nav-toggle span { background-color: #a7b1c2; }
.sidebar-icon .sidebar .nav-toggle .line-2 { margin-bottom: 3px; margin-top: 3px; }
.sidebar-icon .sidebar .nav-toggle .line-3,
.sidebar-icon .sidebar .nav-toggle .line-1 { width: 14px; margin-left: 0px; -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
.sidebar-icon .sidebar .nav-toggle { transform: rotate(180deg); }
.user-nav { position: absolute; z-index: 5; right: 20px; top: 12px; width: 26px; height: 26px; }
.user-nav-toggle { width: 50px; height: 50px; line-height: 50px; text-align: center; }
.user-nav:hover .user-nav-toggle { background-color: #eee; }
.user-nav img { border-radius: 2px; }
.user-nav ul { display: none; position: absolute; width: 150px; z-index: 5; top: 26px; right: 0; list-style: none; margin: 0; padding: 12px 0 0; }
.user-nav ul:after { content: ""; position: absolute; right: 5px; top: 5px; width: 0; height: 0; border-bottom: 7px solid #333; border-left: 7px solid transparent; border-right: 7px solid transparent; }
.user-nav:hover ul { display: block; }
.user-nav ul li { background: #2f353f; }
.user-nav ul li:first-child { border-bottom: 1px solid #252c37; }
.user-nav ul li a { line-height: 40px; font-size: 12px; padding: 0 10px; color: #a7b1c2; display: block; text-transform: uppercase; }
.user-nav ul li:hover a { color: #fff; }
.user-nav ul li a i { font-size: 13px; margin-right: 5px; }
.user-nav ul li:first-child { -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; }
.user-nav ul li:last-child { -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }