/*[FORMS]*/
.form-width-limited, .form-horizontal { max-width: 400px; }
.modal-body .form-horizontal { max-width: 100%; }
.modal-footer .btn { margin-left: 10px; }
.content-inner .btn,
.content-inner .form-control { border-radius: 0px; }
.form-group { margin-bottom: 18px; }
.form-group > label { font-size: 12px; font-weight: 500; color: #666; }
.form-control { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; font-weight: 400; font-size: 13px; height: 40px; padding-left: 10px; border-width: 2px; border-color: #ddd; }
.form-control:focus { border-color: #a9b5c8; outline: 0px none; box-shadow: none; }
.panel .form-control { border-width: 1px; }
.input-group .input-group-addon { border-radius: 0; }
.alert { border-radius: 0; }
.tooltip-inner { border-radius: 0; }


/*[BTN]*/

.btn { padding: 0; border-radius: 0; border: none; cursor: pointer; text-transform: uppercase; font-size: 12px; height: 34px; line-height: 30px; padding: 0 15px; position: relative; color: #fff !important; }
.btn:active { box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 none; }
.btn-sm { height: 30px; line-height: 30px; }
.btn-lg { height: 46px; line-height: 46px; }

.btn-default { background: #687994; }
.btn-default:hover,
.btn-default:focus { background: #546683 !important; }
.btn-default:active { background: #687994 !important; }
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default.active[disabled], .btn-default.focus[disabled], .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover { background: #687994 !important; }


/*[]*/
.btn-success { background: #37bc9b; }
.btn-success:hover,
.btn-success:focus { background: #48cfad !important; }
.btn-success:active { background: #37bc9b !important; }
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success.active[disabled], .btn-success.focus[disabled], .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover { background: #37bc9b !important; }


/*[]*/
.btn-danger { background: #da4453; }
.btn-danger:hover,
.btn-danger:focus { background: #ed5565 !important; }
.btn-danger:active { background: #da4453 !important; }
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger.active[disabled], .btn-danger.focus[disabled], .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover { background: #da4453 !important; }

/*[]*/
.btn-warning { background: #f6bb42; }
.btn-warning:hover,
.btn-warning:focus { background: #ffce54 !important; }
.btn-warning:active { background: #f6bb42 !important; }
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning.active[disabled], .btn-warning.focus[disabled], .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover { background: #f6bb42 !important; }

/*[]*/
.btn-primary { background: #3bafda; }
.btn-primary:hover,
.btn-primary:focus { background: #4fc1e9 !important; }
.btn-primary:active { background: #3bafda !important; }
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover { background: #3bafda !important; }


/*[]*/
.btn-hasicon { padding-left: 45px; }
.btn-hasicon i { position: absolute; font-size: 14px; top: 0; left: 0; width: 30px; border-right: 1px solid rgba(0, 0, 0, 0.04); }
.btn-hasicon.btn i { line-height: 38px; width: 34px; height: 34px; }
.btn-hasicon.btn-sm i { line-height: 30px; width: 30px; height: 30px; }

/*[]*/
.dropdown-menu { border-radius: 0; margin-top: 0px; border: none; }
.dropdown-toggle { padding-right: 45px; }
.dropdown-toggle i { position: absolute; font-size: 14px; top: 0; right: 0; width: 30px; line-height: 30px; border-left: 1px solid rgba(0, 0, 0, 0.10); }

/*[]*/
#toast-container > div { opacity: 1; }
.toast { border-radius: 0 !important; opacity: 1; }
.toast-success { background-color: #37bc9b; }
.toast-error { background-color: #da4453; }
.toast-info { background-color: #3bafda; }
.toast-warning { background-color: #f6bb42; }

/*[]*/
.pagination a { border-radius: 0 !important; width: 35px !important; color: #687994 !important; text-align: center !important; background: #f7f9fb !important; border-color: #ebeef6 !important; cursor: pointer; }
.pagination a:hover { background-color: #ebeef6 !important; }
.pagination i { line-height: 20px; }
.pagination > .active > a { z-index: 4; border-color: #f0f2f7 !important; background-color: #687994 !important; color: #fff !important; }

@media screen and (max-width:1023px) {
    .form-width-limited { padding-left: 40px; padding-top: 40px; }
}
