.panel { font-size: 13px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; overflow: hidden; border-color: #e9e9e9; -moz-box-shadow: 0 1px 0 #f1f1f1; -webkit-box-shadow: 0 1px 0 #f1f1f1; box-shadow: 0 1px 0 #f1f1f1; background: #fff; }
.panel .panel-heading { padding: 0 10px 0 20px; background-color: #fff; line-height: 45px; border-bottom: 1px solid #e9e9e9; text-transform: uppercase; color: #666; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel .panel-heading .panel-title { font-size: 14px; font-weight: 500; color: #707f95; }
.panel .panel-heading a { color: #666; }
.panel .panel-heading i { margin-right: 10px; }
.panel .panel-heading .pull-right { line-height: 45px; }
.panel .panel-heading .fa-spinner { line-height: 45px; font-size: 16px; }
.panel .list-group-item { border-color: #F1F4F5; background: none; color: #666; }
.panel .list-group-item:last-child { border-bottom: none; }
.panel .list-group-item.item-empty { text-transform: uppercase; font-size: 12px; color: #ccc; line-height: 42px; padding: 0 20px; background: #fff !important; }
.panel-body p:last-child { margin-bottom: 0; }
.panel .form-control { max-width: 100%; min-width: 100%; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; }
.panel .form-control:hover,
.panel .form-control:focus { border-color: #d4dae6 !important; }
.panel a { color: #4a7abf; }
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child { -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }

/*[]*/
.dashboard-list ul li { padding: 0; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; position: relative; }
.dashboard-list ul li a { outline: none !important; padding: 0 50px 0 20px; height: 42px; line-height: 42px; display: block; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.dashboard-list ul li:hover,
.dashboard-list ul li:focus { background: #fafafa; }
.dashboard-list ul li .external-link { visibility: hidden; opacity: 0; padding: 0; width: 42px; display: block; position: absolute; right: 0; top: 0; text-align: center; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.dashboard-list ul li:hover .external-link { visibility: visible; opacity: 1; }
.dashboard-list ul li .external-link i { width: 100%; height: 100%; line-height: 44px; color: #888; }

/*[]*/
.dashboard-stats ul li a .item-stats-info { border-radius: 100px; position: absolute; font-size: 13px; right: 12px; top: 10px; height: 22px; min-width: 34px; padding: 0 5px; line-height: 22px; background-color: #aaa; color: #fff; text-align: center; }
.dashboard-stats ul li a .item-stats-info-green { background-color: #24b685; }
.dashboard-stats ul li a .item-stats-info-yellow { background-color: #f6bb42; }
.dashboard-stats ul li a .item-stats-info-red { background-color: #ea5a5a; }

/*[]*/
.dashboard-gallery ul li { position: relative; height: 57px; padding: 0; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.dashboard-gallery ul li .item-link { display: block; height: 100%; padding: 4px; padding-left: 55px; }
.dashboard-gallery ul li .item-img { position: absolute; left: 12px; top: 11px; background-color: #fff; width: 32px; height: 32px; }
.dashboard-gallery ul li .item-title { display: block; font-size: 12px; padding-top: 6px; }
.dashboard-gallery ul li .item-desc { display: block; font-size: 12px; color: #aaa; }
.dashboard-gallery ul li:hover { background: #fafafa; }

.dashboard-gallery ul li.item-spinner { height: 45px; padding: 0; background: #fff !important; }
.dashboard-gallery ul li.item-spinner div i { line-height: 45px; font-size: 14px; color: #aaa; }

/*[]*/
.dashboard-news ul li span { border-radius: 50px; position: absolute; font-size: 10px; right: 12px; top: 10px; height: 22px; min-width: 22px; padding: 0 10px; line-height: 23px; background-color: #24b685; text-transform: uppercase; color: #fff; text-align: center; }

/*[]*/
.dashboard-quickdraft textarea { height: 80px; min-height: 80px; }
.dashboard-quickdraft .panel-body .btn { margin-top: 5px; }

/*[]*/
.trash-list { padding: 40px; }
.trash-list .list-group { border-radius: 0; border-top: none; margin-bottom: 0; }
.trash-list .list-group .list-group-item { border-radius: 0; position: relative; }
.trash-list .list-group .list-group-item .restorethis,
.trash-list .list-group .list-group-item .purgethis { margin: 0; top: 0; margin-left: 10px; text-align: center; color: #666; position: absolute; right: 0; width: 41px; height: 41px; border-left: 1px solid #ddd; display: block; }
.trash-list .list-group .list-group-item .restorethis { right: 41px; }
.trash-list .list-group .list-group-item .fa { display: block; height: 100%; text-align: center; line-height: 42px; }
.trash-list .list-group .list-group-item .text-ellipsis { padding-right: 85px; }

/*[]*/
.version-alert p { line-height: 35px; margin: 0; }

/*[]*/
.logs-list { padding: 40px; }
.logs-list .list-group { border-radius: 0; border-top: none; margin-bottom: 0; }
.logs-list .list-group .list-group-item { border-radius: 0; position: relative; }


@media screen and (max-width:640px) {
    .content-dashboard .col-xs-6 { float: none !important; width: 100%; }
}
