
/*[users]*/
.profile-picture { margin-right: 10px; }
.profile-picture-wrpaper { position: relative; }
.profile-picture-wrpaper h4 { margin: 0px; }
.profile-picture-wrpaper .roles-name { margin-bottom: 8px; }
.profile-picture-wrpaper .btn { padding: 0 10px; margin-right: 3px; }
