.table { color: #888; font-size: 13px; background-color: #fff; box-shadow: 0 2px 2px #ddd ; }
.table th, .table td { padding: 10px !important; text-align: center; border-color: #f5f5f5 !important; }
.table thead th { border: none !important; }
.table thead { color: #444; text-align: center; background-color: #d5d5d5; }
.table thead a { color: #444; text-align: center; }
.table thead tr th { border: 0px !important; padding:10px 0 !important; }
.table tr th:first-child, .table tr td:first-child { min-width: 15px !important; border-right: none !important; width: 15px !important; }
.table > tbody > tr:first-child > td { border-top: none !important; }
.table > tbody > tr > td { border-right: 1px solid #f9f9f9 !important; }
.table > tbody > tr:hover { background-color: #fafafa; }
.table .table-item-title { text-align: left; }
.table .table-item-w10 { width: 10%; }
.table .table-item-w20 { width: 20%; }
.table .table-item-w30 { width: 30%; }
.table .table-item-w40 { width: 40%; }
.table .table-item-w50 { width: 50%; }
.table .table-item-w60 { width: 60%; }
.table .table-item-w70 { width: 70%; }
.table .table-item-w80 { width: 80%; }
.table .table-item-w85 { width: 85%; }
.table .table-item-w90 { width: 90%; }
.table .table-item-w100 { width: 100%; }
.text-core .text-wrap .text-tags .text-tag .text-button { background: none !important; border: 1px solid #ccc !important; color: #666 !important; height: 20px !important; }
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove { color: #fff !important; }
.table-item-avatar { padding: 0 !important; }
.table-item-avatar img { width: 32px; height: 32px; top: 2px; position: relative; }
.table thead > tr > th { vertical-align: middle; border: none !important; font-weight: normal; text-transform: uppercase; }
.table input[type="checkbox"] {top:-1px;}