.table { font-size: 13px; font-weight: normal; background: #fff; border: 1px solid #e9e9e9; -moz-box-shadow: 0 1px 0 #f1f1f1; -webkit-box-shadow: 0 1px 0 #f1f1f1; box-shadow: 0 1px 0 #f1f1f1; }
.table > thead > tr > th,
.table > tbody > tr > td { padding: 0; height: 44px; border: none; border-bottom: 1px solid #eee; vertical-align: middle; text-align: center; }
.table > tbody > tr > td { border-right: 1px solid #f5f5f5; }
.table > tbody > tr > td:last-child { border-right: 0px solid #e9e9e9; }
.table > thead { background: #fff; color: #707f95; text-transform: uppercase; }
.table > thead > tr > th { font-size: 13px; font-weight: 500; }
.table > thead > tr > th a { color: #707f95; cursor: pointer; }
.table > tbody > tr > td,
.table > tbody > tr > td a { color: #b3b9c7; }
.table input { top: 0; }
.table > tbody > tr {background:#fff; -moz-transition: all ease 0.5s; -o-transition: all ease 0.5s; -webkit-transition: all ease 0.5s; transition: all ease 0.5s; }
.table > tbody > tr:hover { background:#fafafa; }
.table > tbody > tr:last-child > td {border-bottom-color:#e9e9e9 !important}
.table-item-empty {background:#fafafa ;margin-top:-20px;border:1px solid #e9e9e9; border-top:none; line-height:44px; text-align:center; color:#aaa; -moz-box-shadow: 0 1px 0 #f1f1f1; -webkit-box-shadow: 0 1px 0 #f1f1f1; box-shadow: 0 1px 0 #f1f1f1;}
.table-item-empty i {line-height:44px;}
/*[all pages]*/
.table .item-checkbox { width: 44px; min-width: 44px; padding: 0; }
.table .item-title { position: relative; text-align: left; }
.table th.item-title { padding-left:15px; }
.table td.item-title { padding: 0; max-width: 100px; }
.table td.item-title a:first-child { color: #6581ad; height: 100%; line-height: 44px; padding: 0 50px 0 15px; display: block; overflow: hidden; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.table .external-link { position: absolute; top: 0; right: 0; display: block; width: 44px; height: 100%; text-align: center; }
.table .external-link i { width: 100%; height: 100%; line-height: 48px; color: #b3b9c7; }
.table td.item-title .external-link { padding-left: 0; }

/*[content/post]*/
.table-item-post { }
.table-item-post .item-title { }
.table-item-post td.item-title a { }
.table-item-post .item-author { width: 80px; }
.table-item-post .item-comments { width: 120px; padding:0; }
.table-item-post .item-date { width: 100px; }
.table-item-post .item-state { width: 100px; }

/*[content/comment]*/
.table-item-comments { }
.table-item-comments .item-avatar { width: 44px; padding: 0; }
.table-item-comments .item-avatar img { width: 44px; height: 44px; }
.table-item-comments .item-title { }
.table-item-comments .item-date { width: 120px; }
.table-item-comments .item-author { width: 80px; }
.table-item-comments .item-state { width: 80px; }

/*[content/page]*/
.table-item-page .item-checkbox { }
.table-item-page .item-title { }
.table-item-page .item-parent { width: 80px; }
.table-item-page .item-sort { width: 120px; }
.table-item-page .item-date { width: 120px; }
.table-item-page .item-show { width: 140px; }
.table-item-page .item-state { width: 120px; }

/*[content/categories]*/
.table-item-categories { }
.table-item-categories .item-checkbox { }
.table-item-categories .item-title { }
.table-item-categories .item-desc { width: 80px; }
.table-item-categories .item-count { width: 40px; }
.table-item-categories .item-parent { width: 80px; }

/*[content/tags]*/
.table-item-tags { }
.table-item-tags .item-checkbox { }
.table-item-tags .item-count { width: 40px; }

/*[content/filters]*/
.table-item-filters .item-checkbox { }
.table-item-filters .item-action { text-align: left; }
.table-item-filters .item-subject { width: 100px; }
.table-item-filters .item-operator { width: 100px; }
.table-item-filters .item-filter { width: 100px; }


/*[security/roles]*/
.table-item-roles { }
.table-item-roles .item-checkbox { }
.table-item-roles .item-title { }
.table-item-roles .item-sysrole { width: 120px; }

/*[security/users]*/
.table-item-users { }
.table-item-users .item-checkbox { }
.table-item-users .item-title { }
.table-item-users .item-roles { width: 120px; }
.table-item-users .item-email { width: 120px; }
