body { font-family: "Roboto", sans-serif; background-color: #f5f5f5; cursor: default; font-weight: 300; font-size: 14px; height: 100%; overflow-y: scroll; }
a:hover, a:focus { text-decoration: none; }

.container { width: 100%; }
.wrapper { display: table; width: 100%; height: 100%; }
.sidebar { display: table-cell; vertical-align: top; width: 220px; min-width: 220px; background-color: #2f353f; font-weight: 400; font-size: 13px; transition: all ease 0.5s; }
.content { display: table-cell; vertical-align: top; width: 100%; }
.content-inner { padding: 20px; }
.sidebar-icon .sidebar { min-width: 50px; width: 50px; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }

/**/
.nav-primary { background-color: #2f353f; }
.nav-primary,
.nav-primary ul { margin: 0; list-style: none; white-space: nowrap !important; padding: 0; color: #a7b1c2; transition: all ease 0.5s; }
.nav-primary > li { min-height: 50px; position: relative; padding-top: 50px; }
.nav-primary li a { color: #a7b1c2; display: block; }
.nav-primary > li > a { overflow: hidden; line-height: 50px; outline: none; height: 50px; padding-left: 50px; text-transform: uppercase; z-index: 2; position: absolute; top: 0; width: 100%; }
.nav-primary > li > i { width: 50px; text-align: center; position: absolute; font-size: 14px; left: 0; top: 0; line-height: 50px; z-index: 1; }
.nav-primary > li.active { background-color: #272c35; outline: none; }
.nav-primary > li.active > a { color: #fff; }
.nav-primary > li.active > i { color: #fff; }
.nav-primary > li.active:after { position: absolute; right: 0; top: 15px; content: ""; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid #f5f5f5; z-index: 4; }
.sidebar-icon .sidebar .nav-primary > li.active:after { display: none; }

.nav-primary ul { display: none; }
.nav-primary > li.active ul { display: block; padding-left: 50px; padding-bottom: 20px; }
.nav-primary > li > ul > li a { line-height: 25px; outline: none; }
.nav-primary > li > ul > li.active a { color: #fff; }
.sidebar-icon .sidebar .nav-primary > li:hover { background-color: #272c35; }
.sidebar-icon .sidebar .nav-primary > li ul { background-color: #272c35; padding: 0 0 15px; width: 125px; display: none; position: absolute; top: 40px; left: 100%; z-index: 5; }
.sidebar-icon .sidebar .nav-primary > li:hover ul { display: block; }
.sidebar-icon .sidebar .nav-primary > li > a { padding-left: 50px; z-index: 1; position: absolute; display: none; width: 175px; }
.sidebar-icon .sidebar .nav-primary > li > a > span { display: block; width: 125px; height: 50px; padding-left: 10px; background-color: #272c35; }
.sidebar-icon .sidebar .nav-primary > li:hover > a { display: block; }
.sidebar-icon .sidebar .nav-primary > li.hasul > a { margin-left: 50px; padding-left: 0; width: 125px; }
.sidebar-icon .sidebar .nav-primary > li ul li a { padding-left: 20px; }

/**/
.nav-primary li.nav-blog-info { background-color: #eeeeee !important; position: relative; }
.nav-primary li.nav-blog-info .nav-blog-name { color: #272c35; }
.nav-primary li.nav-blog-info .fa-home { color: #272c35; }

.sidebar-icon .sidebar .nav-blog-name,
.sidebar-icon .sidebar .fa-home { display: none !important; }

/**/
.nav-toggle { z-index: 4; position: absolute; background: none; border: none; margin: 0; top: 0; left: 0; width: 50px; height: 50px; padding-left: 17px; outline: none !important; transition: all ease 0.3s; }
.nav-toggle span { display: block; background-color: #111; height: 2px; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.nav-toggle .line-2 { width: 14px; margin-bottom: 1px; margin-top: 1px; }
.nav-toggle .line-3 { width: 10px; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-left: -3px; }
.nav-toggle .line-1 { width: 10px; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-left: -3px; }
.sidebar-icon .sidebar .nav-toggle span { background-color: #111; }
.sidebar-icon .sidebar .nav-toggle .line-2 { margin-bottom: 3px; margin-top: 3px; }
.sidebar-icon .sidebar .nav-toggle .line-3,
.sidebar-icon .sidebar .nav-toggle .line-1 { width: 14px; margin-left: 0px; -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }

.sidebar-icon .sidebar .nav-toggle { transform: rotate(180deg); }

/*[]*/
.user-nav { position: absolute; z-index: 5; right: 20px; top: 12px; width: 26px; height: 26px; }
.user-nav-toggle { width: 50px; height: 50px; line-height: 50px; text-align: center; }
.user-nav:hover .user-nav-toggle { background-color: #eee; }
.user-nav img { border-radius: 2px; }
.user-nav ul { display: none; position: absolute; width: 150px; z-index: 5; top: 26px; right: 0; list-style: none; margin: 0; padding: 12px 0 0; }
.user-nav ul:after { content: ""; position: absolute; right: 5px; top: 5px; width: 0; height: 0; border-bottom: 7px solid #333; border-left: 7px solid transparent; border-right: 7px solid transparent; }
.user-nav:hover ul { display: block; }
.user-nav ul li { background: #2f353f; }
.user-nav ul li:first-child { border-bottom: 1px solid #252c37; }
.user-nav ul li a { line-height: 40px; font-size: 12px; padding: 0 10px; color: #a7b1c2; display: block; text-transform: uppercase; }
.user-nav ul li:hover a { color: #fff; }
.user-nav ul li a i { font-size: 13px; margin-right: 5px; }
.user-nav ul li:first-child { -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; }
.user-nav ul li:last-child { -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }

/*[]*/
.page-header { position: relative; background-color: #fff; margin: 0; height: 50px; padding: 0 56px 0 20px; border: none; box-shadow: 0px 2px 1px rgba( 0,0,0,0.02); }
.page-header .page-title { margin: 0; font-weight: 400; line-height: 50px; height: 50px; text-transform: uppercase; font-size: 13px; margin-right: 16px; }
.page-header .btn { margin-right: 10px; border-radius: 2px; border: none !important; margin-top: 12px; line-height: 24px; font-weight: 400; height: 26px; font-size: 12px; text-align: center; padding: 0 15px 0 26px; display: block; text-transform: uppercase; position: relative; }
.page-header .btn i { padding: 0; height: 26px; line-height: 26px; font-size: 10px; width: 26px; height: 26px; left: 0; position: absolute; }
.page-header .befdv:before { content: ""; float: left; display: block; width: 1px; height: 26px; background-color: #ddd; margin-top: 12px; margin-right: 10px; }
.page-header .btn-group { margin-right: 10px; }
.page-header .btn-group .btn { padding: 0; width: 50px; margin-right: 3px; }
.page-header .btn-group .btn i { padding: 0; font-size: 18px; height: 26px; line-height: 26px; font-size: 14px; width: 50px; height: 26px; left: 0; position: relative; }
.page-header .tooltip-inner { font-size: 10px; font-weight: 400; border-radius: 2px; text-transform: uppercase; }
.dropdown .btn { margin-right: 0; padding: 0 26px 0 10px; }
.dropdown .btn i { right: 0; left: auto; font-size: 14px; }
.dropdown .btn-default { background-color: #fff; }
.page-header .help-link { color: #888; display: none; }

/**/
.search { width: 26px; height: 26px; position: relative; margin-top: 12px; margin-left: 10px; }
.search input { outline: none !important; z-index: 6; position: absolute; left: 0; top: 0; background: none; cursor: pointer; border: none; font-size: 0; border-radius: 2px; width: 26px; height: 26px; }
.search .fa-search { z-index: 5; line-height: 26px; text-align: center; position: absolute; left: 0; top: 0; background-color: #989898; color: #fff; border: none; border-radius: 2px; width: 26px; height: 26px; }
.search .fa-times-circle { display: none; }
.search.search-wide { margin: 0; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }
.search.search-wide input { width: 100%; height: 100%; position: absolute; cursor: text; padding: 0 50px; font-size: 16px; border-radius: 0; background-color: #fff; left: 0; top: 0; }
.search.search-wide .fa-search { left: 0; z-index: 7; background: none; color: #aaa; top: 12px; left: 15px; }
.search.search-wide .fa-times-circle { display: block; font-size: 20px; position: absolute; right: 25px; top: 15px; z-index: 7; text-align: center; color: rgb(233, 102, 102); }


/*[]*/
.form-width-limited, .form-horizontal { max-width: 600px; }
.content-inner .btn,
.content-inner .form-control { border-radius: 0px; }
.form-group { margin-bottom: 18px; }
.form-group label.control-label { color: #444; font-weight: 400; font-size: 12px; letter-spacing: .5px; text-transform: capitalize; }
.form-control { box-shadow: none; font-weight: 400; font-size: 13px; padding-left: 10px; border-color: #d8d8d8; }
.form-control:focus { border-color: #2196f3; outline: 0px none; box-shadow: none; }
.input-group .input-group-addon { border-radius: 0; }

/**/
.well { background-color: #fff; box-shadow: none !important; border-radius: 0; }
.profile-picture-wrpaper { position: relative; }
.profile-picture-wrpaper h4 { margin-bottom: 0px; }
.profile-picture-wrpaper .roles-name { margin-bottom: 8px; }
.profile-picture { margin-right: 10px; }
.profile-picture-wrpaper .btn { padding: 0 10px; margin-right: 3px; }
/**/
.panel { border: none; }
.panel .panel-body { }
.panel .panel-heading { background-color: #fff; border-color: #f1f4f5; text-transform: uppercase; }
.panel .panel-heading .panel-title { font-size: 14px; line-height: 20px; height: 20px; }
.panel .panel-cards { }
.panel .panel-cards .row > div:first-child { padding-right: 7.5px; }
.panel .panel-cards .row > div:last-child { padding-left: 7.5px; }
.panel .panel-cards .panel-cards-item { color: #fff; text-align: center; }
.panel .panel-cards .panel-cards-item a { display: block; height: 100%; color: #fff; }
.panel .panel-cards .panel-cards-item span { display: block; }
.panel .panel-cards .panel-cards-item-number { line-height: 110px; height: 100px; letter-spacing: 3px; background-color: #333; font-size: 32px; font-weight: 100; }
.panel .panel-cards .panel-cards-item-name { line-height: 35px; background-color: #222; font-size: 12px; text-transform: uppercase; }
.panel .panel-cards .panel-cards-item-sm:first-child { margin-bottom: 1px; }
.panel .panel-cards .panel-cards-item-sm .panel-cards-item-number { line-height: 45px; height: 42.5px; font-size: 26px; }
.panel .panel-cards .panel-cards-item-sm .panel-cards-item-name { line-height: 24.5px; font-size: 11px; }
.panel .panel-cards .panel-cards-item-published .panel-cards-item-number { background-color: #46be8a; }
.panel .panel-cards .panel-cards-item-published .panel-cards-item-name { background-color: #31aa75; }
.panel .panel-cards .panel-cards-item-unpublished .panel-cards-item-number { background-color: #f5ad47; }
.panel .panel-cards .panel-cards-item-unpublished .panel-cards-item-name { background-color: #e59c35; }
.panel .panel-cards .panel-cards-item-spam .panel-cards-item-number { background-color: #f96868; }
.panel .panel-cards .panel-cards-item-spam .panel-cards-item-name { background-color: #ec5d5d; }




.ltr-dir { direction: ltr; }
.rtl-dir { direction: rtl; }
img { max-width: 100%; }
a:hover, a:focus { text-decoration: none; }
.cursor-pointer { cursor: pointer; }
hr { border-color: #ddd !important; }
.small-caps { font-variant: small-caps; font-weight: bold; }
.btn-tabkey.pull-right, .rtl .btn-tabkey.pull-left { margin-left: 4px; }
.btn-tabkey.pull-left, .rtl .btn-tabkey.pull-right { margin-right: 4px; }
.well h4 { margin: 3px 0 0 0 !important; line-height: 12px; font-size: 18px; }
.form-control.error { border-color: #d53e2e; border-color: rgb(233, 102, 102); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(233, 102, 102); }
input[type=file] { cursor: pointer; }

label.error { color: #c22818; }
.modal { overflow-y: auto; }
.modal-content { overflow: hidden; }
.show-important { display: block !important; }
.hr-sm { margin-top: 10px; margin-bottom: 10px; }
label { font-size: 13px; font-weight: normal; }
.text-ellipsis { display: block; overflow: hidden; white-space: nowrap; max-width: 350px; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.text-ellipsis-sm { max-width: 100px !important; text-align: center !important; margin: 0 auto; }
.fa.fa-external-link { position: relative; top: 4px; color: #BBB; }
.fa.fa-external-link:hover { color: #186ac2; }
.external-link { outline: none !important; }
.lbl-show { display: inline-block; line-height: 30px; color: #bbb; font-size: 11px; padding: 0 10px; text-transform: uppercase; }
.fa.fa-sort-desc, .fa.fa-sort-asc, .fa.fa-sort { cursor: pointer; }
.control-group .control-label-inline { display: block; }

.pagination { margin: 0; margin-bottom: 20px; }
.pagination > li { cursor: pointer; }

.btn:focus, .btn:active { outline: none !important; }
.btn-default { color: #333; background-color: #f5f5f5; border-color: #ccc; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { color: #333; background-color: #ebebeb; border-color: #adadad; }
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc; }
.btn-primary { color: #fff; background-color: #3ab0e2; border-color: #3ab0e2; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: #fff; background-color: #1288b9; border-color: #1288b9; }
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active { background-color: #71c1e3; border-color: #71c1e3; }
.btn-success { color: #fff; background-color: #20aa73; border-color: #20aa73; }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success { color: #fff; background-color: #069059; border-color: #069059; }
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active { background-color: #55ab89; border-color: #55ab89; }
.btn-info { color: #fff; background-color: #40c1f8; border-color: #40c1f8; }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info { color: #fff; background-color: #359fcc; border-color: #359fcc; }
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active { background-color: #7cd2f7; border-color: #7cd2f7; }
.btn-warning { color: #fff; background-color: #e7ac44; border-color: #e7ac44; }
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning { color: #fff; background-color: #d8951e; border-color: #d8951e; }
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active { background-color: #e8be74; border-color: #e8be74; }
.btn-danger { color: #fff; background-color: #e96656; border-color: #e96656; }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger { color: #fff; background-color: #cb4332; border-color: #cb4332; }
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active { background-color: #e88274; border-color: #e88274; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #666; border-color: #666; }

.item-comment-count { display: inline-block; background-color: #999; border-radius: 100px; font-family: sans-serif; font-size: 11.5px; }
.item-comment-approved { background-color: #5cb85c; }
.item-comment-pending { background-color: #f0ad4e; }
.item-comment-spam { background-color: #d9534f; }
.item-comment-count a { display: block; color: #fff; padding: 0px 5px; }


.admin-views-custom-themes .table-item-title .text-ellipsis { max-width: 600px !important; }
.admin-views-custom-index .author-gallery { max-width: 50px !important; }
.admin-views-users-profile .about-textarea { height: 60px; }
.admin-views-users-profile .avatar-user { width: 90px; height: 90px; position: relative; overflow: hidden; border-radius: 3px; }
.admin-views-users-profile .avatar-user img { width: 90px; height: 90px; border-radius: 3px; }
.admin-views-users-profile .avatar-user .avatar-control { position: absolute; bottom: -30px; background-color: rgba(0,0,0,0.8); width: 100%; text-align: center; padding: 3px 0; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.admin-views-users-profile .avatar-user:hover .avatar-control { bottom: 0; }
.admin-views-users-profile .avatar-user .avatar-control a { color: #fff; }
.admin-views-users-profile .role-control { margin: 5px 0 10px; }
.admin-views-users-profile .role-control .label { margin-right: 3px; display: inline-block; padding: 3px; }
.admin-views-users-profile .user-info { padding-left: 10px; }
.admin-views-users-profile .user-info .user-name { font-size: 18px; font-weight: bold; }
.admin-views-users-roles .modal-roles { height: 360px; overflow-y: scroll; }
.admin-views-content-files .table-item-title .fa.fa-file { font-size: 16px; margin: 0 5px 0 3px; position: relative; }
.admin-views-content-files .table-item-folder i { color: #f0ad4e !important; font-size: 16px; position: relative; top: 2px; margin-right: 5px; }
.admin-views-content-files .table-item-folder { text-decoration: underline; }
.admin-views-content-files .table-item-title span { color: #666; }


.table { color: #888; font-size: 13px; background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); box-shadow: 0 1px 1px rgba(0,0,0,.05); }
.table th, .table td { padding: 10px !important; text-align: center; border-color: #f5f5f5 !important; }
.table thead th { border: none !important; }
.table thead { color: #444; text-align: center; background-color: #e5e5e5; }
.table thead a { color: #444; text-align: center; }
.table thead tr th { border: 0px !important; }
.table tr th:first-child, .table tr td:first-child { min-width: 15px !important; border-right:none !important; width: 15px !important; }
.table > tbody > tr:first-child > td { border-top: none !important; }

.table > tbody > tr > td {border-right:1px solid #f9f9f9 !important;}

.table > tbody > tr:hover { background-color: #fafafa; }
.table .table-item-title { text-align: left; }
.table .table-item-w10 { width: 10%; }
.table .table-item-w20 { width: 20%; }
.table .table-item-w30 { width: 30%; }
.table .table-item-w40 { width: 40%; }
.table .table-item-w50 { width: 50%; }
.table .table-item-w60 { width: 60%; }
.table .table-item-w70 { width: 70%; }
.table .table-item-w80 { width: 80%; }
.table .table-item-w85 { width: 85%; }
.table .table-item-w90 { width: 90%; }
.table .table-item-w100 { width: 100%; }
.text-core .text-wrap .text-tags .text-tag .text-button { background: none !important; border: 1px solid #ccc !important; color: #666 !important; height: 20px !important; }
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove { color: #fff !important; }
.table-item-avatar { padding: 0 !important; }
.table-item-avatar img { width: 32px; height: 32px; top: 2px; position: relative; }
.table thead > tr > th { vertical-align: middle; border: none !important; font-weight: normal; text-transform: uppercase; }



@media screen and (min-width:1920px) {
    .text-ellipsis { max-width: 500px !important; }
}

@media screen and (min-width:992px) {
    .rtl .col-md-1, .rtl .col-md-2, .rtl .col-md-3, .rtl .col-md-4, .rtl .col-md-5, .rtl .col-md-6, .rtl .col-md-7, .rtl .col-md-8, .rtl .col-md-9, .rtl .col-md-10, .rtl .col-md-11 { float: right !important; }
    .rtl .col-md-offset-12 { margin-left: 0 !important; margin-right: 100%; }
    .rtl .col-md-offset-11 { margin-left: 0 !important; margin-right: 91.66666666666666% !important; }
    .rtl .col-md-offset-10 { margin-left: 0 !important; margin-right: 83.33333333333334% !important; }
    .rtl .col-md-offset-9 { margin-left: 0 !important; margin-right: 75% !important; }
    .rtl .col-md-offset-8 { margin-left: 0 !important; margin-right: 66.66666666666666% !important; }
    .rtl .col-md-offset-7 { margin-left: 0 !important; margin-right: 58.333333333333336% !important; }
    .rtl .col-md-offset-6 { margin-left: 0 !important; margin-right: 50% !important; }
    .rtl .col-md-offset-5 { margin-left: 0 !important; margin-right: 41.66666666666667% !important; }
    .rtl .col-md-offset-4 { margin-left: 0 !important; margin-right: 33.33333333333333% !important; }
    .rtl .col-md-offset-3 { margin-left: 0 !important; margin-right: 25% !important; }
    .rtl .col-md-offset-2 { margin-left: 0 !important; margin-right: 16.666666666666664% !important; }
    .rtl .col-md-offset-1 { margin-left: 0 !important; margin-right: 8.333333333333332% !important; }
}

@media screen and (max-width:992px) {
    .hmax992 { display: none; }
    .admin-views-custom-themes .text-ellipsis { max-width: 300px !important; }
    .admin-views-custom-index .table-item-w50 { width: 100%; }
    .admin-views-dashboard .panel-trash .purgeall { opacity: 1; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active:hover > a, .admin-views-subnav .nav-pills > li.active:active > a { padding-right: 5px; padding-left: 5px; }
    .table .table-item-w60 { width: 45%; }
    .text-ellipsis { max-width: 250px; }
}

@media screen and (min-width:768px) {
    .hmin767 { display: none; }
    .rtl .col-sm-1, .rtl .col-sm-2, .rtl .col-sm-3, .rtl .col-sm-4, .rtl .col-sm-5, .rtl .col-sm-6, .rtl .col-sm-7, .rtl .col-sm-8, .rtl .col-sm-9, .rtl .col-sm-10, .rtl .col-sm-11 { float: right !important; }
    .rtl .navbar-nav { float: right; }
    .rtl .navbar-nav > li, .rtl .nav-pills > li { float: right; }
    .rtl .navbar-right { float: left !important; }
    .rtl .navbar-right .dropdown-menu { right: auto !important; left: 0 !important; }
}

@media screen and (max-width:768px) {
    .hmax768 { display: none; }
    .table .table-item-w60 { width: 60%; }
    .text-ellipsis { max-width: 200px; }
    .pagination-wrapper { text-align: center; }
    body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom { margin-right: 0 !important; }
}

@media screen and (max-width:767px) {
    .rtl .flt-r { display: none; float: none !important; }
    .rtl .active-flt-r { right: auto; left: 23px; }
    .rtl .btn-toolbar.pull-right { float: left !important; }
    .rtl .pull-right.lbl-show { float: right !important; }
    .admin-views-dashboard .view-dashboard .col-xs-6 { width: 100% !important; }
    .admin-views-content-comments .lbl-show { display: block; }
    .flt-r { display: none; float: none !important; clear: both; opacity: 1; position: relative; top: 15px; margin-bottom: 15px; padding: 10px; border-radius: 3px; border: 1px solid #DDD; background-color: #fff; }
    .navbar-brand { display: block !important; }
    .admin-views-subnav { padding-bottom: 2px !important; }
    .admin-views-subnav .nav-pills > li { border: none !important; padding: 0 !important; margin-right: 3px; margin-left: 0; margin-bottom: 6px; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li > a:hover { display: inline-block; padding: 3px 7px; margin-bottom: 0px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; -moz-user-select: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
    .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active > a:hover, .admin-views-subnav .nav-pills > li.active > a:focus { padding: 3px 7px; display: block !important; height: 25px !important; outline: medium none !important; background-image: none; color: rgb(51, 51, 51); background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
    .admin-views-nav .dropdown-menu > li > a { color: #ffc6c1 !important; }
    .admin-views-nav .dropdown-menu > li > a:hover { color: #fff !important; }
    .navbar-brand { position: absolute; top: -7px; left: 0px; }
    .navbar-brand .btn { border-color: #fff !important; line-height: 34px; padding: 0 10px !important; margin: 0 !important; height: 34px; color: #fff !important; background: none !important; }
    .navbar-brand .btn i { margin-top: 8px; margin-right: 0; }
}

@media screen and (max-width:580px) {
    .hmax580 { display: none; }
    .admin-views-content-pages .table-item-w50 { width: 100%; }
    .admin-views-content-comments .flt-r .search-grid input[type=text] { width: 100% !important; }
    .admin-views-content-comments .flt-r .search-grid { float: none !important; margin: 0; height: 38px; }
}

@media screen and (max-width:480px) {
    .hmax480 { display: none; }
    .text-ellipsis { max-width: 150px; }
    .flt-r .search-grid input[type=text] { width: 100% !important; }
    .flt-r .search-grid { float: none !important; margin: 0; height: 38px; }
    .admin-views-content-comments .table-item-w50 { width: 80%; }
    .admin-views-content-comments .text-ellipsis { max-width: 280px; }
    .admin-views-content-comments .lbl-show { display: none; }
}

@media screen and (max-width:479px) {
    .hmax479 { display: none; }
    .admin-views-content-comments .text-ellipsis { max-width: 180px; }
    .table-item-title .fa-external-link { display: none; }
    #footer .pull-left { float: none !important; text-align: center; }
    #footer .logo-brand { display: none; }
}

@media screen and (max-width:360px) {
    .admin-views-dashboard .view-dashboard { margin-top: 18px; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li > a:hover, .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active > a:hover, .admin-views-subnav .nav-pills > li.active > a:focus { padding: 3px; }
    .admin-views-subnav .container { width: 100%; padding: 0 5px; }
    .toolbar-grid .btn, .btn-header, .pagination-wrapper .pagination > li > a { padding: 4px 7px !important; }
    .btn-header { margin-top: 15px !important; }
    #wrap { min-height: 100%; height: auto; margin: 0 auto -40px; padding: 0 0 40px; }
    #footer { padding: 0 !important; height: 40px; }
    #footer .BlogEngine-app { height: 40px; line-height: 40px; }
}

@media screen and (max-width:359px) {
    .rtl .active-flt-r { left: 4px; right: auto; }
    .hmax359 { display: none; }
    .admin-views-content-comments .text-ellipsis { max-width: 150px; }
    .admin-views-content-comments .flt-r .btn-group > .btn { padding: 2px 5px !important; }
    .admin-views-content-categories .page-title { font-size: 18px !important; }
    .btn-flt-r .btn i { margin: 0; }
    .btn-flt-r .btn { padding: 8px 6px 6px !important; }
    .btn-flt-r .btn span { display: none; }
    .active-flt-r { right: 4px; }
}

.loading { display: inline-block; }
.loaded { display: none; }
.input-page-title { font-size: 18px; height: 30px; margin: 0; margin-top: 7px; line-height: 30px; border: 0; font-weight: 500; font-family: "Helvetica"; }
.text-core .text-wrap textarea, .text-core .text-wrap input { border-radius: 3px !important; border-color: #CCC !important; box-shadow: none; font-size: 13px !important; border: none !important; min-height: 25px !important; }
.text-core .text-wrap .text-tags .text-tag .text-button { border: none !important; background: #5bc0de !important; color: #fff !important; }
.dropdown-menu a { cursor: pointer; }
.text-wrap { width: 100% !important; }
.text-label { font-size: 12px !important; }

.info-box { display: block; margin-bottom: 15px; padding: 0 10px 0 0; min-height: 90px; }
.info-box-icon { background-color: #e5e5e5; float: left; height: 90px; width: 90px; margin: 0; padding: 0; text-align: center; vertical-align: middle; overflow: hidden; }
.info-box-content { background-color: #f5f5f5; margin-left: 90px; padding: 5px 10px; height: 90px; }
.info-box-text { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 5px; font-size: 1.2em; font-weight: 500; }
.info-box-number { display: block; font-size: 0.9em; color: #666; }
.info-box-check { z-index: 100; }
.ext-enabled { font-size: 0.9em; color: rgb(233, 102, 102) !important; }
.ext-disabled { font-size: 0.9em; font-weight: 500; }
.info-box-selected { background-color: #a6e5aa !important; }

.about-textarea { height: 60px; }
.avatar-user { width: 90px; height: 90px; position: relative; overflow: hidden; border-radius: 3px; }
.avatar-user img { width: 90px; height: 90px; border-radius: 3px; }
.avatar-user .avatar-control { position: absolute; bottom: -30px; background-color: rgba(0,0,0,0.8); width: 100%; text-align: center; padding: 3px 0; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.avatar-user:hover .avatar-control { bottom: 0; }
.avatar-user .avatar-control a { color: #fff; }
.role-control { margin: 5px 0 10px; }
.role-control .label { margin-right: 3px; display: inline-block; padding: 3px; }
.user-info { padding-left: 10px; }
.user-info .user-name { font-size: 18px; font-weight: bold; }


/*[]*/
.gallery-dashboard { padding: 30px; }
.gallery-dashboard a { display: block; color: #aaa; }
.gallery-dashboard .item-gallery .item-img { width: 40px; height: 40px; position: absolute; border: 1px solid #eee; }
.gallery-dashboard .item-gallery .item-info { padding-left: 50px; }
.gallery-dashboard .item-gallery .item-info .item-title { color: #000; margin-top: 4px; }
.gallery-dashboard .item-gallery .item-info .item-desc { color: #666; font-size: 12px; display: block; overflow: hidden; white-space: nowrap; max-width: 200px; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }



/*[]*/
.owl-carousel .animated { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

@keyframes fadeOut {
    0% { opacity: 1; }

    100% { opacity: 0; }
}

.owl-height { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */ position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; /* fix for flashing background */ -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel .owl-refresh .owl-item { display: none; }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img { display: block; width: 100%; -webkit-transform-style: preserve-3d; }
.owl-carousel.owl-text-select-on .owl-item { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.no-js .owl-carousel { display: block; }
.owl-carousel .owl-item .owl-lazy { opacity: 0; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }
.owl-carousel .owl-item img { transform-style: preserve-3d; }
.owl-carousel .owl-video-wrapper { position: relative; height: 100%; background: #000; }
.owl-carousel .owl-video-play-icon { position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url("owl.video.play.png") no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; -webkit-transition: scale 100ms ease; -moz-transition: scale 100ms ease; -ms-transition: scale 100ms ease; -o-transition: scale 100ms ease; transition: scale 100ms ease; }
.owl-carousel .owl-video-play-icon:hover { -webkit-transition: scale(1.3, 1.3); -moz-transition: scale(1.3, 1.3); -ms-transition: scale(1.3, 1.3); -o-transition: scale(1.3, 1.3); transition: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon { display: none; }
.owl-carousel .owl-video-tn { opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame { position: relative; z-index: 1; }
