
/**/
body { font-family: "Roboto"; font-weight: 300; font-size: 14px; height: 100%; overflow-y: scroll; }
.container { width: 100%; }
.wrapper { display: table; width: 100%; height: 100%; }
.sidebar { display: table-cell; vertical-align: top; width: 250px; min-width: 250px; max-width: 250px; }
.content { display: table-cell; vertical-align: top; }
.content-inner { padding: 30px; }



.ltr-dir { direction: ltr; }
.rtl-dir { direction: rtl; }
img { max-width: 100%; }
a:hover, a:focus { text-decoration: none; }
.cursor-pointer { cursor: pointer; }
.well h4 + hr { border: 1px solid #e5e5e5 !important; }
.small-caps { font-variant: small-caps; font-weight: bold; }
.btn-tabkey.pull-right, .rtl .btn-tabkey.pull-left { margin-left: 4px; }
.btn-tabkey.pull-left, .rtl .btn-tabkey.pull-right { margin-right: 4px; }
.well h4 { margin: 3px 0 0 0 !important; line-height: 12px; font-size: 18px; }
.form-control.error { border-color: #d53e2e; border-color: rgb(233, 102, 102); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(233, 102, 102); }
input[type=file] { cursor: pointer; }
.form-control:focus { border-color: #ccc; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0 2px rgba(131, 131, 131, 0.20); }
label.error { color: #c22818; }
.modal { overflow-y: auto; }
.modal-content { overflow: hidden; }
.fa-spinner { font-size: 0.8em !important; }
.show-important { display: block !important; }
.hr-sm { margin-top: 10px; margin-bottom: 10px; }
label { font-size: 13px; font-weight: normal; }
.text-ellipsis { display: block; overflow: hidden; white-space: nowrap; max-width: 350px; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
.text-ellipsis-sm { max-width: 100px !important; text-align: center !important; margin: 0 auto; }
.fa.fa-external-link { position: relative; top: 4px; color: #BBB; }
.fa.fa-external-link:hover { color: #186ac2; }
.external-link { outline: none !important; }
.btn i { margin-right: 10px; }
.lbl-show { display: inline-block; line-height: 30px; color: #bbb; font-size: 11px; padding: 0 10px; text-transform: uppercase; }
.fa.fa-sort-desc, .fa.fa-sort-asc, .fa.fa-sort { cursor: pointer; }
.control-group .control-label-inline { display: block; }


.active-flt-r { display: inline-block; width: 21px; height: 11px; background: url(images/blog/active-filterbar.png) no-repeat 0 0; position: absolute; top: -11px; right: 23px; }
.btn-flt-r .btn { outline: none !important; }
.toolbar-grid { margin-bottom: 18px; }
.search-grid { margin-left: 5px; }
.pagination { margin: 0; margin-bottom: 20px; }
.pagination > li { cursor: pointer; }
.btn, .form-control, .panel, .modal-content { border-radius: 0px; }
.well { border-radius: 0; border: none; background: #eee; box-shadow: none; }

/*[]*/
.sidebar { background-color: #242323; }
.sidebar ul { list-style: none; margin: 0; padding: 0; }
.sidebar .nav-head { display: table; width: 100%; border-bottom: 1px solid #151414; }
.sidebar .nav-head li { display: table-cell; width: 25%; height: 60px; }
.sidebar .nav-head li a { display: block; height: 100%; text-align: center; color: #5e666d; font-size: 18px; }
.sidebar .nav-head li a i { display: block; height: 100%; line-height: 60px; }
.sidebar .nav-head li a:hover { color: #fff; }
.sidebar .nav-primary > li { position: relative; }
.sidebar .nav-primary > li > a { outline: none !important; display: block; height: 60px; color: #5e666d; line-height: 60px; font-size: 16px; }
.sidebar .nav-primary > li > a > i { display: inline-block; width: 60px; text-align: center; }
.sidebar .nav-primary > li.active { background-color: #151414; }
.sidebar .nav-primary > li a:hover { color: #fff; }
.sidebar .nav-primary > li.active > ul { display: block; }
.sidebar .nav-primary > li > ul { display: none; }
.sidebar .nav-primary > li > ul { margin-left: 60px; padding-bottom: 18px; }
.sidebar .nav-primary > li > ul > li { }
.sidebar .nav-primary > li > ul > li a { outline: none; display: block; color: #aaa; line-height: 30px; }

.page-header { margin: 0; margin-top: 0; height: 60px; line-height: 60px; padding: 15px 30px; }
.page-header .page-title { line-height: 30px; height: 30px; margin: 0; text-transform: uppercase; font-size: 16px; }
.page-header .btn-header { height: 30px; line-height: 28px; border: none; padding: 0 10px; text-transform: uppercase; }
.page-header .btn-header i { margin-right: 5px; }

.btn:focus, .btn:active { outline: none !important; }
.btn-default { color: #333; background-color: #f5f5f5; border-color: #ccc; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { color: #333; background-color: #ebebeb; border-color: #adadad; }
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active { background-color: #fff; border-color: #ccc; }
.btn-primary { color: #fff; background-color: #3ab0e2; border-color: #3ab0e2; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: #fff; background-color: #1288b9; border-color: #1288b9; }
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active { background-color: #71c1e3; border-color: #71c1e3; }
.btn-success { color: #fff; background-color: #20aa73; border-color: #20aa73; }
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success { color: #fff; background-color: #069059; border-color: #069059; }
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active { background-color: #55ab89; border-color: #55ab89; }
.btn-info { color: #fff; background-color: #40c1f8; border-color: #40c1f8; }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info { color: #fff; background-color: #359fcc; border-color: #359fcc; }
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active { background-color: #7cd2f7; border-color: #7cd2f7; }
.btn-warning { color: #fff; background-color: #e7ac44; border-color: #e7ac44; }
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning { color: #fff; background-color: #d8951e; border-color: #d8951e; }
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active { background-color: #e8be74; border-color: #e8be74; }
.btn-danger { color: #fff; background-color: #e96656; border-color: #e96656; }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger { color: #fff; background-color: #cb4332; border-color: #cb4332; }
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active { background-color: #e88274; border-color: #e88274; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #666; border-color: #666; }


/**/
.admin-views-dashboard .panel {box-shadow:none;}
.admin-views-dashboard .fa-spinner { font-size: 1.4em !important; }
.admin-views-dashboard #gal-spinner.loading { display: block; width: 100%; text-align: center; padding: 10px 0; }
.admin-views-dashboard .img-gallery { margin-right: 10px; margin-top: 4px; width: 32px; height: 32px; }
.admin-views-dashboard .item-info-gal { width: 80%; }
.admin-views-dashboard .modal-logfile { max-height: 400px; overflow-y: auto; }
.admin-views-dashboard .panel-title > a { outline: none; font-weight: normal; cursor:default; font-size: 14px; text-transform: uppercase; color: #444; }
.admin-views-dashboard .text-ellipsis { max-width: 85% !important; }
.admin-views-dashboard .panel-trash .purgeall { font-size: 12px; padding: 3px 5px; cursor: pointer; position: relative; top: 3px; right: -4px; opacity: 0; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; text-transform: uppercase; }
.rtl .admin-views-dashboard .panel-trash .purgeall { right: auto; left: -5px; }
.admin-views-dashboard .panel-trash:hover .purgeall { opacity: 1; }
.admin-views-dashboard .panel-trash .restorethis, .admin-views-dashboard .panel-trash .purgethis { color: #AAA; }
.admin-views-dashboard .panel-trash .purgethis { font-size: 15px; }
.admin-views-dashboard .panel-trash .restorethis:hover { color: #0c9a2d; }
.admin-views-dashboard .panel-trash .purgethis:hover { color: #bd0e0e; }
.admin-views-dashboard .panel-special-link ul li { padding: 0; overflow: hidden; }
.admin-views-dashboard .panel-special-link ul li a { padding: 0 15px; line-height: 40px; display: block; -moz-transition: background-color ease .9s; -o-transition: background-color ease .9s; -webkit-transition: background-color ease .9s; transition: background-color ease .9s; }
.admin-views-dashboard .panel-special-link ul li a:hover { background-color: #f9f9f9; }
.admin-views-dashboard .panel-special-link ul li a span.badge { position: relative; top: 10px; padding:3px 6px; background-color:rgb(233, 102, 102); font-weight:normal; display:inline-block; text-align:center; -moz-transition: background-color ease .9s; -o-transition: background-color ease .9s; -webkit-transition: background-color ease .9s; transition: background-color ease .9s; }
.admin-views-dashboard .panel-special-link ul li a:hover span.badge { background-color: #666; }
.admin-views-dashboard .panel-special-link ul li a.text-ellipsis { max-width: 100% !important; }


.admin-views-content-posts .item-comment-count { display: inline-block; background-color: #999; border-radius: 100px; font-family: sans-serif; font-size: 11.5px; }
.admin-views-content-posts .item-comment-approved { background-color: #5cb85c; }
.admin-views-content-posts .item-comment-pending { background-color: #f0ad4e; }
.admin-views-content-posts .item-comment-spam { background-color: #d9534f; }
.admin-views-content-posts .item-comment-count a { display: block; color: #fff; padding: 0px 5px; }
.admin-views-custom-themes .table-item-title .text-ellipsis { max-width: 600px !important; }
.admin-views-custom-index .author-gallery { max-width: 50px !important; }
.admin-views-users-profile .about-textarea { height: 60px; }
.admin-views-users-profile .avatar-user { width: 90px; height: 90px; position: relative; overflow: hidden; border-radius: 3px; }
.admin-views-users-profile .avatar-user img { width: 90px; height: 90px; border-radius: 3px; }
.admin-views-users-profile .avatar-user .avatar-control { position: absolute; bottom: -30px; background-color: rgba(0,0,0,0.8); width: 100%; text-align: center; padding: 3px 0; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -webkit-transition: all ease 0.3s; transition: all ease 0.3s; }
.admin-views-users-profile .avatar-user:hover .avatar-control { bottom: 0; }
.admin-views-users-profile .avatar-user .avatar-control a { color: #fff; }
.admin-views-users-profile .role-control { margin: 5px 0 10px; }
.admin-views-users-profile .role-control .label { margin-right: 3px; display: inline-block; padding: 3px; }
.admin-views-users-profile .user-info { padding-left: 10px; }
.admin-views-users-profile .user-info .user-name { font-size: 18px; font-weight: bold; }
.admin-views-users-roles .modal-roles { height: 360px; overflow-y: scroll; }
.admin-views-content-files .table-item-title .fa.fa-file { font-size: 16px; margin: 0 5px 0 3px; position: relative; }
.admin-views-content-files .table-item-folder i { color: #f0ad4e !important; font-size: 16px; position: relative; top: 2px; margin-right: 5px; }
.admin-views-content-files .table-item-folder { text-decoration: underline; }
.admin-views-content-files .table-item-title span { color: #666; }

.table-item-avatar { padding: 0 !important; }
.table-item-avatar img { width: 32px; height: 32px; top: 2px; position: relative; }
.table thead > tr > th { vertical-align: middle; border-color:#e1e1e1 !important; font-weight:normal; text-transform:uppercase; }
.table { color: #888; font-size: 13px;  }
.table tr th, .table tr td { text-align: center; border-color:#eee !important; }
.table thead { color: #444; text-align: center; }
.table thead tr th { border-color: #e1e1e1; border-top: 1px solid #e1e1e1 !important; background-color: #eee; border-bottom-width: 1px; }
.table tr th:first-child, .table tr td:first-child { min-width: 15px !important; width: 15px !important; }
.table .table-item-title { text-align: left; }
.table .table-item-w10 { width: 10%; }
.table .table-item-w20 { width: 20%; }
.table .table-item-w30 { width: 30%; }
.table .table-item-w40 { width: 40%; }
.table .table-item-w50 { width: 50%; }
.table .table-item-w60 { width: 60%; }
.table .table-item-w70 { width: 70%; }
.table .table-item-w80 { width: 80%; }
.table .table-item-w85 { width: 85%; }
.table .table-item-w90 { width: 90%; }
.table .table-item-w100 { width: 100%; }
.text-core .text-wrap .text-tags .text-tag .text-button { background: none !important; border: 1px solid #ccc !important; color: #666 !important; height: 20px !important; }
.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove { color: #fff !important; }



@media screen and (min-width:1920px) {
    .text-ellipsis { max-width: 500px !important; }
}

@media screen and (min-width:992px) {
    .rtl .col-md-1, .rtl .col-md-2, .rtl .col-md-3, .rtl .col-md-4, .rtl .col-md-5, .rtl .col-md-6, .rtl .col-md-7, .rtl .col-md-8, .rtl .col-md-9, .rtl .col-md-10, .rtl .col-md-11 { float: right !important; }
    .rtl .col-md-offset-12 { margin-left: 0 !important; margin-right: 100%; }
    .rtl .col-md-offset-11 { margin-left: 0 !important; margin-right: 91.66666666666666% !important; }
    .rtl .col-md-offset-10 { margin-left: 0 !important; margin-right: 83.33333333333334% !important; }
    .rtl .col-md-offset-9 { margin-left: 0 !important; margin-right: 75% !important; }
    .rtl .col-md-offset-8 { margin-left: 0 !important; margin-right: 66.66666666666666% !important; }
    .rtl .col-md-offset-7 { margin-left: 0 !important; margin-right: 58.333333333333336% !important; }
    .rtl .col-md-offset-6 { margin-left: 0 !important; margin-right: 50% !important; }
    .rtl .col-md-offset-5 { margin-left: 0 !important; margin-right: 41.66666666666667% !important; }
    .rtl .col-md-offset-4 { margin-left: 0 !important; margin-right: 33.33333333333333% !important; }
    .rtl .col-md-offset-3 { margin-left: 0 !important; margin-right: 25% !important; }
    .rtl .col-md-offset-2 { margin-left: 0 !important; margin-right: 16.666666666666664% !important; }
    .rtl .col-md-offset-1 { margin-left: 0 !important; margin-right: 8.333333333333332% !important; }
}

@media screen and (max-width:992px) {
    .hmax992 { display: none; }
    .admin-views-custom-themes .text-ellipsis { max-width: 300px !important; }
    .admin-views-custom-index .table-item-w50 { width: 100%; }
    .admin-views-dashboard .panel-trash .purgeall { opacity: 1; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active:hover > a, .admin-views-subnav .nav-pills > li.active:active > a { padding-right: 5px; padding-left: 5px; }
    .table .table-item-w60 { width: 45%; }
    .text-ellipsis { max-width: 250px; }
}

@media screen and (min-width:768px) {
    .hmin767 { display: none; }
    .rtl .col-sm-1, .rtl .col-sm-2, .rtl .col-sm-3, .rtl .col-sm-4, .rtl .col-sm-5, .rtl .col-sm-6, .rtl .col-sm-7, .rtl .col-sm-8, .rtl .col-sm-9, .rtl .col-sm-10, .rtl .col-sm-11 { float: right !important; }
    .rtl .navbar-nav { float: right; }
    .rtl .navbar-nav > li, .rtl .nav-pills > li { float: right; }
    .rtl .navbar-right { float: left !important; }
    .rtl .navbar-right .dropdown-menu { right: auto !important; left: 0 !important; }
}

@media screen and (max-width:768px) {
    .hmax768 { display: none; }
    .table .table-item-w60 { width: 60%; }
    .text-ellipsis { max-width: 200px; }
    .pagination-wrapper { text-align: center; }
    body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom { margin-right: 0 !important; }
}

@media screen and (max-width:767px) {
    .rtl .flt-r { display: none; float: none !important; }
    .rtl .active-flt-r { right: auto; left: 23px; }
    .rtl .btn-toolbar.pull-right { float: left !important; }
    .rtl .pull-right.lbl-show { float: right !important; }
    .admin-views-dashboard .view-dashboard .col-xs-6 { width: 100% !important; }
    .admin-views-content-comments .lbl-show { display: block; }
    .flt-r { display: none; float: none !important; clear: both; opacity: 1; position: relative; top: 15px; margin-bottom: 15px; padding: 10px; border-radius: 3px; border: 1px solid #DDD; background-color: #fff; }
    .navbar-brand { display: block !important; }
    .admin-views-subnav { padding-bottom: 2px !important; }
    .admin-views-subnav .nav-pills > li { border: none !important; padding: 0 !important; margin-right: 3px; margin-left: 0; margin-bottom: 6px; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li > a:hover { display: inline-block; padding: 3px 7px; margin-bottom: 0px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; -moz-user-select: none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(204, 204, 204); }
    .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active > a:hover, .admin-views-subnav .nav-pills > li.active > a:focus { padding: 3px 7px; display: block !important; height: 25px !important; outline: medium none !important; background-image: none; color: rgb(51, 51, 51); background-color: rgb(235, 235, 235); border-color: rgb(173, 173, 173); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
    .admin-views-nav .dropdown-menu > li > a { color: #ffc6c1 !important; }
    .admin-views-nav .dropdown-menu > li > a:hover { color: #fff !important; }
    .navbar-brand { position: absolute; top: -7px; left: 0px; }
    .navbar-brand .btn { border-color: #fff !important; line-height: 34px; padding: 0 10px !important; margin: 0 !important; height: 34px; color: #fff !important; background: none !important; }
    .navbar-brand .btn i { margin-top: 8px; margin-right: 0; }
}

@media screen and (max-width:580px) {
    .hmax580 { display: none; }
    .admin-views-content-pages .table-item-w50 { width: 100%; }
    .admin-views-content-comments .flt-r .search-grid input[type=text] { width: 100% !important; }
    .admin-views-content-comments .flt-r .search-grid { float: none !important; margin: 0; height: 38px; }
}

@media screen and (max-width:480px) {
    .hmax480 { display: none; }
    .text-ellipsis { max-width: 150px; }
    .flt-r .search-grid input[type=text] { width: 100% !important; }
    .flt-r .search-grid { float: none !important; margin: 0; height: 38px; }
    .admin-views-content-comments .table-item-w50 { width: 80%; }
    .admin-views-content-comments .text-ellipsis { max-width: 280px; }
    .admin-views-content-comments .lbl-show { display: none; }
}

@media screen and (max-width:479px) {
    .hmax479 { display: none; }
    .admin-views-content-comments .text-ellipsis { max-width: 180px; }
    .table-item-title .fa-external-link { display: none; }
    #footer .pull-left { float: none !important; text-align: center; }
    #footer .logo-brand { display: none; }
}

@media screen and (max-width:360px) {
    .admin-views-dashboard .view-dashboard { margin-top: 18px; }
    .admin-views-subnav .nav-pills > li > a, .admin-views-subnav .nav-pills > li > a:hover, .admin-views-subnav .nav-pills > li.active > a, .admin-views-subnav .nav-pills > li.active > a:hover, .admin-views-subnav .nav-pills > li.active > a:focus { padding: 3px; }
    .admin-views-subnav .container { width: 100%; padding: 0 5px; }
    .toolbar-grid .btn, .btn-header, .pagination-wrapper .pagination > li > a { padding: 4px 7px !important; }
    .btn-header { margin-top: 15px !important; }
    #wrap { min-height: 100%; height: auto; margin: 0 auto -40px; padding: 0 0 40px; }
    #footer { padding: 0 !important; height: 40px; }
    #footer .BlogEngine-app { height: 40px; line-height: 40px; }
}

@media screen and (max-width:359px) {
    .rtl .active-flt-r { left: 4px; right: auto; }
    .hmax359 { display: none; }
    .admin-views-content-comments .text-ellipsis { max-width: 150px; }
    .admin-views-content-comments .flt-r .btn-group > .btn { padding: 2px 5px !important; }
    .admin-views-content-categories .page-title { font-size: 18px !important; }
    .btn-flt-r .btn i { margin: 0; }
    .btn-flt-r .btn { padding: 8px 6px 6px !important; }
    .btn-flt-r .btn span { display: none; }
    .active-flt-r { right: 4px; }
}

.loading { display: inline-block; }
.loaded { display: none; }
